<div ng-include="'components/navbar/navbar.html'" class = "mb72"></div>

<div class="container full-screen-height">
  <!-- <ul class="list-group">
    <li class="list-group-item" ng-repeat="user in users">
        <strong>{{user.name}}</strong><br>
        <span class="text-muted">{{user.email}}</span>
        <a ng-click="delete(user)" class="trash"><span class="glyphicon glyphicon-trash pull-right"></span></a>
    </li>
  </ul> -->
  <div class = "col-sm-2"></div>
  <form novalidate class="simple-form col-sm-3">
    <!-- <input style="color: black" type="text" ng-model="workoutToCreate.trainer" placeholder="Instructor Name" required/><br /> -->
    <select ng-model="workoutToCreate.trainer" ng-options = "(option.firstName + ' ' + option.lastName) for option in instructors" required>
      <!-- <option ng-options="option in instructors" value="{{option}}">{{option.firstName}} {{option.lastName}}</option> -->
    </select>
    <select ng-model="workoutToCreate.level" ng-options = "value for value in levels" required>
    </select>
    <input style="color: black" type="datetime-local" ng-model="workoutToCreate.date" required/><br />
    <!-- <input style="color: black" type="text" ng-model="workoutToCreate.soundcloudUrl" placeholder = "Soundcloud Url"/><br /> -->
     <select ng-if = "playlists" placeholder = "Soundcloud Playlist" ng-model="workoutToCreate.playlistUrl" ng-options = "(option.title + ': ' + option.track_count + ' trcks (' + roundMins(option.duration/1000/60) + ' mins)') for option in playlists | filter: {sharing: 'public'}">
      <option value="" required>- Login To SoundCloud Below -</option>
    </select>
    <!-- <input style="color: black" type="time" ng-model="workoutToCreate.date" placeholder="H:m" required/> -->
    <input type="submit" ng-click="createWorkout(workoutToCreate)" value="Create New Workout" />
    <button style="background-image: url(../../assets/images/soundcloudButton.png); width: 245px; height: 32px" ng-click = "soundcloudAuth()"> </button>
  </form>

  <!-- Members -->
    <div class="col-sm-7">
      <div class="mb8">
        <div class="col-sm-12">
          <h3 class="royalblue">Members ({{memberList.length}})</h3>
        </div>
        <div class="col-sm-3">
        </div>        
      </div>
      <div class="col-sm-12">
        <div class="friends-User-col"><span class="lightgray">User</span></div>
        <div class="friends-Action-col"><span class="lightgray">Email</span></div>
      </div>
      <div class="col-sm-12">
        <ul class="friendList">
          <li ng-repeat = "member in memberList" ng-show = "memberList.length > 0">
            <div class="friend-User-col">
              <div class="friendPhoto"><img src="{{member.picture}}"></div>
              <div class="friendName"><span>{{member.firstName}} {{member.lastName}}</span></div>
            </div>
            <div class="friend-Action-col">
              <div class="invitefriend"><span class="lightgray">{{member.email}}<span></div>
              <!-- <div class="inviteFriend"><a href=""><span>Invite to class<span></a></div> -->
            </div>
          </li>
        </ul>             
      </div>
    </div>
    <!-- Memebers END -->

  <!-- <form novalidate class="simple-form col-sm-3">
    <input type="date" name="input" ng-model="date" ng-change = "changeDate(date)" required />
    <input style="color: black" type="text" ng-model="wod.title" placeholder="WOD Title" required/><br />
    <input style="color: black" type="text" ng-model="wod.description" placeholder="Description" required/><br />
    <select style="color: black" type="text" ng-model="wod.scoreType" placeholder="Score Type" ng-options="option.label for option in scoreTypes track by option.id" required/><br />
    <input style="color: black" type="text" ng-disabled = "true" placeholder = "Challenge" required/>
      <input style="color: gray" type="text" ng-model="wod.challenge.bullets[0]" placeholder = "Challenge: First Bullet" required/>
      <input style="color: gray" type="text" ng-model="wod.challenge.bullets[1]" placeholder = "Challenge: Second Bullet" required/>
      <input style="color: gray" type="text" ng-model="wod.challenge.bullets[2]" placeholder = "Challenge: Third Bullet" required/>
      <input style="color: gray" type="text" ng-model="wod.challenge.bullets[3]" placeholder = "Challenge: Fourth Bullet" required/>
      <input style="color: gray" type="text" ng-model="wod.challenge.bullets[4]" placeholder = "Challenge: Fifth Bullet" required/>
      <input style="color: gray" type="text" ng-model="wod.challenge.bullets[5]" placeholder = "Challenge: Sixth Bullet" required/>
    <br />
    <input type="submit" ng-click="saveWod(wod, date)" value="Change WOD" />
  </form>  --> 

<!--   <button ng-click="seedCalendar()" class="btn btn-lg btn-primary" style="visibility: visible;">
    Seed Sample Calendar
  </button> -->
</div>
<div ng-include="'components/footer/footer.html'"></div>