<div ng-include="'components/navbar/navbar.html'" class="mb70 mb-sm-48"></div>
<div class="video-container" ng-if="loaded">
	<!-- <div class="recording-screen"> -->	
	<div class = "row">
		<div class = "col-md-5 col-xs-3"></div>
		<!-- <a href="" ng-click="recordVideo()" class=" col-xs-4 btn btn-primary mt64">Upload Video</a> -->
		<!-- <input type="filepicker" name="file"> -->
		<button type="button" class="fp__btn mt32" ng-click="pickFile()">Upload a Video To Your Library</button>
		<!-- <div class = "col-xs-4"></div> -->
	</div>
	<div class = "row mt64"></div>

    <div class="videoLibrary-panel text-center col-sm-3 col-xs-12 mb32" ng-repeat = "video in videoLibrary">
    	<video id="videoPlayer" class="video-js vjs-default-skin"
			  controls preload="auto"
			  data-setup='{"example_option":true}'>
			 <source ng-src="{{getVideoUrl(video.s3Key)}}" />
			 <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
			</video>
      <!-- <a href="#" ng-click = "playVideo(video)">
      	<div>
	        <img ng-src="https://{{video.embed_image_url}}" >
	        <span class = "durationFormatRecording">{{formatDuration(video.duration)}}</span>
	      </div>
      </a> -->
      <div class = "col-xs-6">
      	<!-- <span>Public</span> -->
	      <md-switch class="md-primary" ng-model="subscribersOnly[video.token].subscribersOnly" ng-change="publicPrivateChanged(video.token, subscribersOnly[video.token])" aria-label="Available to Public?">
	      <span ng-show = "!subscribersOnly[video.token].subscribersOnly" style = "color:white;">Available To Public</span>
	      <span ng-show = "subscribersOnly[video.token].subscribersOnly" style = "color:white;">Subscribers Only</span>
	    	</md-switch>
	    </div>
      <a class="btn btn-danger active col-xs-6 mt16" ng-click="deleteVideo(video, $event)">Delete</a>
    </div>
          
	</div>
			<!-- <div class = "col-sm-1"></div>
			<div id="ziggeoVideo" class = "col-sm-10 mt64"></div>
			<div class = "col-sm-1"></div> -->
		<!-- <ziggeo ziggeo-disable_first_screen=true ziggeo-responsive=true ziggeo-tags="[{{studioId}}]"></ziggeo> -->
	<!-- </div> -->
</div>