.video-fullscreen {
  height: 100vh;
  background: #1f1f1f;
}
.user-video-sidebar {
  background: #1f1f1f;
  padding: 0px;
}
.main-user-title, .classmates-title {
  padding: 8px;
  height: 40px;
}
.main-user-name {
  float: left;
  color: #fff;
  font-size: 20px;
}
.badges {
  float: right;
}
.badges img:first-child {
  padding-right: 5px;
}

.trainer-column {
  padding: 0px;
}
.class-details {
  height: 45px;
  padding-top: 10px;
}
.workout-title {
  font-size: 36px;
  color: #fff;
  padding-right: 10px;
}
.workout-details {
  color: #fff;
}
.workout-description {
  float: left;
}
.timer {
  float: right;
  color: #fff;
  font-size: 36px;
}
.footer-details a {
  float: left;
  color: #A6AAA9;
  font-size: 12px;
}
.footer-details span {
  float: right;
  color: #fff;
  font-size: 12px;
}
.classmates-title span {
  color: #fff;
  font-size: 20px;
}
.classmates-section {
  padding: 0 5px;
  position: relative;
}
.classmates-row {
  position: relative;
}
.individual-classmate {
  position: relative;
  display: inline;
}
.individual-classmate img {
  position: absolute;
  left: 80%;
  width: 15px;
  height: auto;
  padding-top: 6px;
}
.individual-classmate span {
  position: absolute;
  color: #fff;
  font-size: 12px;
  top: 10px;
  left: 50%;
  z-index: 100;
}

.trainer-screen div {
    width: 100%;
    height: 600px;
}

