/*------USER VIDEO-------*/
.classmates-video-name {
  z-index: 2;
}
.OT_video-element {
  transform: scale(-1,1) !important;
  transform-origin: 50% 50% !important;
}
#myfeed .OT_video-element {
  height: 50% !important;
}
.classfeeds .OT_publisher,
.classfeeds .OT_subscriber {
  height: 100% !important;
  z-index: 0;
}
.video-container {
  position: relative;
  height: 100vh;
  width: 100%;
  background-color: black;
}
.timer-rounds {
  position: absolute;
  right: 30px;
  top: 20px;
  z-index: 3000;
}
.timer-rounds .timer {
  font-size: 90px;
  font-weight: 600;
  text-shadow: 1px 1px rgba(0,0,0,0.2);
  margin-left: 8px;
}
.timer-rounds .rounds {
  font-size: 50px;
  font-weight: 600;
  text-shadow: 1px 1px rgba(0,0,0,0.2);
  position: relative;
  right: 0;
  bottom: -10px;
}
.volume-bars {
  width: 50px;
  height: 40px;
  position: absolute;
  right: 175px;
  bottom: 4px;
}
.music-icon {
  position: absolute;
  left: 10px;
  top: -8px;
  font-size: 20px;
  color: white;
}
.volume-bars1,
.volume-bars2,
.volume-bars3,
.volume-bars4,
.volume-bars5 {
  width: 5px;
  background-color: white;
  position: absolute;
  bottom: 0;
}
.volume-bars1 {
  right: 30px;
  height: 10px;
}
.volume-bars2 {
  right: 20px;
  height: 20px;
}
.volume-bars3 {
  right: 10px;
  height: 30px;
}
.volume-bars4 {
  right: 0;
  height: 40px;
}
.music-level {
  background-color: #3E7EDF;
}
.music-on {
  color: #3E7EDF;
}
.music-off {
  color: white;
}
.trainer-remote {
  position: relative;
  top: 20px;
}
.trainer-remote i {
  font-size: 20px;
  padding-top: 18px;
}
.trainer-remote-btn {
  background-color: rgba(0,0,0,0.5) !important;
}
.control-menu-open {
  position: absolute;
  height: 100vh;
  width: 250px;
  background: rgba(0,0,0,0.9);
  background: -webkit-linear-gradient(left, rgba(0,0,0,0.6), rgba(0, 0, 0, 0)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(left, rgba(0,0,0,0.6), rgba(0, 0, 0, 0)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(left, rgba(0,0,0,0.6), rgba(0, 0, 0, 0)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(at left, rgba(0,0,0,0.6), rgba(0, 0, 0, 0));
  left: 0;
  top: 0;
  z-index: 5000;
  transition: left 0.5s;
  -webkit-transition: left 0.5s;  
}
.control-menu-closed {
  position: absolute;
  height: 100vh;
  width: 250px;
  background: rgba(0,0,0,0.9);
  background: -webkit-linear-gradient(left, rgba(0,0,0,0.6), rgba(0, 0, 0, 0)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(left, rgba(0,0,0,0.6), rgba(0, 0, 0, 0)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(left, rgba(0,0,0,0.6), rgba(0, 0, 0, 0)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(at left, rgba(0,0,0,0.6), rgba(0, 0, 0, 0));
  left: -250px;
  top: 0;
  z-index: 5000;
  transition: left 0.5s;
  -webkit-transition: left 0.5s;  
}
.control-tab-open {
  padding: 0 10px;
  font-size: 40px;
  position: fixed;
  top: 20px;
  left: 250px;
  background-color: rgba(0,0,0,0.5);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  transition: left 0.45s;
  -webkit-transition: left 0.45s;
}
.control-tab-closed {
  padding: 0 10px;
  font-size: 40px;
  position: fixed;
  top: 20px;
  left: 0px;
  background-color: rgba(0,0,0,0.5);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  transition: left 0.45s;
  -webkit-transition: left 0.45s;  
}
.control-menu-icons {
  padding: 0 20px;
  font-size: 25px;
}
.control-menu-icons a,
.control-tab-open a,
.control-tab-closed a {
  color: #fff;
}
.control-menu-icons a:hover,
.control-menu-icons a:visited,
.control-menu-icons a:focus,
.control-tab-open a:hover,
.control-tab-open a:visited,
.control-tab-open a:focus,
.control-tab-closed a:hover,
.control-tab-closed a:visited,
.control-tab-closed a:focus, {
  color: #fff;
}
.control-menu-workout, .control-menu-music, .control-menu-class, .control-menu-timer {
  border-top: none;
  max-height: 98%;
  overflow-y: hidden;
}
.control-icon i {
  font-size: 30px;
  color: white;
}
.workout-set:last-of-type {
  margin-top: 15px;
}
.workout-set:last-of-type .next-workout {
  display: block!important;
}
.control-menu-music .playlist-song {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu-class-member {
  display: block;
}
.menu-class-contact, .menu-class-photo {
  display: inline-block;
  vertical-align: middle;
}
.menu-class-photo {
  margin-right: 5px;
}
.support-details {
  position: absolute;
  bottom: 10px;
  left: 20px;
}
.support-details a {
  color: rgba(255,255,255,0.5);
}

/*------USER VIDEO FORMAT - STACKED-------*/
.user-videos-stack .user-videos-large, .user-videos-stack .trainer-video-large {
  position: absolute !important;
  top: 0 !important; 
  left: 0 !important; 
  width: 100% !important; 
  height: 100vh !important;
  overflow: hidden !important;
  z-index: 1 !important;
}
.user-videos-stack .user-videos-large div,
.user-videos-stack .trainer-video-large div,
.user-videos-stack .user-videos-large img,
.user-videos-stack .trainer-video-large img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
  height: 100% !important;
}
.user-videos-stack .classmates-video-name {
  position: absolute;
  bottom: 1px;
  left: 0px;
  width: 100%;
  font-size: 11px;
  color: white;
}
.user-videos-stack .user-videos-large .classmates-video-name,
.user-videos-stack .trainer-video-large .classmates-video-name {
  bottom: 20px;
  font-size: 30px;
  z-index: 1;
}
.user-videos-stack li {
  position: absolute;
  width: 7%;
  height: 8%;
  overflow: hidden;
  z-index: 2;
}
.user-videos-stack li:first-child {
  right: 1%;
  bottom: 2%;
  width: 14%;
  height: 16%;
}
.user-videos-stack li:nth-child(2) {
  right: 1%;
  bottom: 18%;
}
.user-videos-stack li:nth-child(3) {
  right: 8%;
  bottom: 18%;
}
.user-videos-stack li:nth-child(4) {
  right: 1%;
  bottom: 26%;
}
.user-videos-stack li:nth-child(5) {
  right: 8%;
  bottom: 26%;
}
.user-videos-stack li:nth-child(6) {
  right: 1%;
  bottom: 34%;
}
.user-videos-stack li:nth-child(7) {
  right: 8%;
  bottom: 34%;
}
.user-videos-stack li:nth-child(8) {
  right: 1%;
  bottom: 42%;
}
.user-videos-stack li:nth-child(9) {
  right: 8%;
  bottom: 42%;
}
.user-videos-stack li:nth-child(10) {
  right: 1%;
  bottom: 50%;
}
.user-videos-stack li:nth-child(11) {
  right: 8%;
  bottom: 50%;
}
.user-videos-stack li:nth-child(12) {
  right: 1%;
  bottom: 58%;
}
.user-videos-stack li:nth-child(13) {
  right: 8%;
  bottom: 58%;
}

/*------USER VIDEO FORMAT - BOXED 7 & UNDER-------*/
.user-videos-boxed-7andUnder .user-videos-large {
  position: absolute !important;
  top: 0 !important; 
  right: 0 !important; 
  width: 80% !important; 
  height: 80vh !important;
  overflow: hidden !important;
  z-index: 1 !important;
}

.user-videos-boxed-7andUnder .user-videos-large div,
.user-videos-boxed-7andUnder .trainer-video-large div,
.user-videos-boxed-7andUnder .user-videos-large img,
.user-videos-boxed-7andUnder .trainer-video-large img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
  height: 100% !important;
}
.user-videos-boxed-7andUnder .classmates-video-name {
  position: absolute;
  bottom: 5px;
  left: 0px;
  width: 100%;
  font-size: 16px;
  font-weight: 500;
  color: white;
}
.user-videos-boxed-7andUnder .user-videos-large .classmates-video-name {
  bottom: 20px;
  font-size: 20px;
}
.user-videos-boxed-7andUnder li {
  position: absolute;
  width: 20%;
  height: 20%;
  overflow: hidden;
  z-index: 2;
}
.user-videos-boxed-7andUnder li:first-child {
  right: 0;
  bottom: 0;
}
.user-videos-boxed-7andUnder li:nth-child(2) {
  right: 20%;
  bottom: 0;
}
.user-videos-boxed-7andUnder li:nth-child(3) {
  right: 40%;
  bottom: 0;
}
.user-videos-boxed-7andUnder li:nth-child(4) {
  right: 60%;
  bottom: 0;
}
.user-videos-boxed-7andUnder li:nth-child(5) {
  right: 80%;
  bottom: 0;
}
.user-videos-boxed-7andUnder li:nth-child(6) {
  right: 80%;
  bottom: 20%;
}
.user-videos-boxed-7andUnder li:nth-child(7) {
  right: 80%;
  bottom: 40%;
}
.user-videos-boxed-7andUnder li:nth-child(8) {
  right: 80%;
  bottom: 60%;
}
.user-videos-boxed-7andUnder li:nth-child(9) {
  right: 80%;
  bottom: 80%;
}
.user-videos-boxed-7andUnder li:nth-child(10) {
  display: none;
}
.user-videos-boxed-7andUnder li:nth-child(11) {
  display: none;
}
.user-videos-boxed-7andUnder li:nth-child(12) {
  display: none;
}
.user-videos-boxed-7andUnder li:nth-child(13) {
  display: none;
}

/*------USER VIDEO FORMAT - BOXED OVER 7-------*/
.user-videos-boxed-over7 .user-videos-large {
  position: absolute !important;
  top: 0 !important; 
  right: 0 !important; 
  width: 60% !important; 
  height: 80vh !important;
  overflow: hidden !important;
  z-index: 1 !important;
}

.user-videos-boxed-over7 .user-videos-large div,
.user-videos-boxed-over7 .trainer-video-large div,
.user-videos-boxed-over7 .user-videos-large img,
.user-videos-boxed-over7 .trainer-video-large img {
  position: absolute; 
  top: 0; 
  left: -15%; 
  right: -15%; 
  bottom: 0; 
  margin: auto; 
  min-width: 130% !important;
}
.user-videos-boxed-over7 .classmates-video-name {
  position: absolute;
  bottom: 5px;
  left: 0px;
  width: 100%;
  font-size: 16px;
  font-weight: 500;
  color: white;
}
.user-videos-boxed-over7 .user-videos-large .classmates-video-name {
  bottom: 20px;
  font-size: 20px;
}
.user-videos-boxed-over7 li {
  position: absolute;
  width: 20%;
  height: 20%;
  overflow: hidden;
  z-index: 2;
}
.user-videos-boxed-over7 li:first-child {
  right: 0;
  bottom: 0;
}
.user-videos-boxed-over7 li:nth-child(2) {
  right: 20%;
  bottom: 0;
}
.user-videos-boxed-over7 li:nth-child(3) {
  right: 40%;
  bottom: 0;
}
.user-videos-boxed-over7 li:nth-child(4) {
  right: 60%;
  bottom: 0;
}
.user-videos-boxed-over7 li:nth-child(5) {
  right: 60%;
  bottom: 20%;
}
.user-videos-boxed-over7 li:nth-child(6) {
  right: 60%;
  bottom: 40%;
}
.user-videos-boxed-over7 li:nth-child(7) {
  right: 60%;
  bottom: 60%;
}
.user-videos-boxed-over7 li:nth-child(8) {
  right: 60%;
  bottom: 80%;
}
.user-videos-boxed-over7 li:nth-child(9) {
  right: 80%;
  bottom: 0;
}
.user-videos-boxed-over7 li:nth-child(10) {
  right: 80%;
  bottom: 20%;
}
.user-videos-boxed-over7 li:nth-child(11) {
  right: 80%;
  bottom: 40%;
}
.user-videos-boxed-over7 li:nth-child(12) {
  right: 80%;
  bottom: 60%;
}
.user-videos-boxed-over7 li:nth-child(13) {
  right: 80%;
  bottom: 80%;
}

/*------USER VIDEO FORMAT - GRID1-------*/
.user-videos-grid-1 .user-videos-large, .user-videos-grid-1 li {
  position: absolute;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 2;
}

.user-videos-grid-1 div,
.user-videos-grid-1 img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
  height: 100% !important;
}
.user-videos-grid-1 .classmates-video-name {
  position: absolute;
  bottom: 5px;
  left: 0px;
  width: 100%;
  font-size: 16px;
  font-weight: 500;
  color: white;
}
.user-videos-grid-1 .user-videos-large .classmates-video-name {
  bottom: 20px;
  font-size: 20px;
}
.user-videos-grid-1 li:first-child {
  display: none;
}
.user-videos-grid-1 li:nth-child(2) {
  right: 0;
  bottom: 0;
}
.user-videos-grid-1 li:nth-child(3) {
  display: none;
}
.user-videos-grid-1 li:nth-child(4) {
  display: none;
}
.user-videos-grid-1 li:nth-child(5) {
  display: none;
}
.user-videos-grid-1 li:nth-child(6) {
  display: none;
}
.user-videos-grid-1 li:nth-child(7) {
  display: none;
}
.user-videos-grid-1 li:nth-child(8) {
  display: none;
}
.user-videos-grid-1 li:nth-child(9) {
  display: none;
}
.user-videos-grid-1 li:nth-child(10) {
  display: none;
}
.user-videos-grid-1 li:nth-child(11) {
  display: none;
}
.user-videos-grid-1 li:nth-child(12) {
  display: none;
}
.user-videos-grid-1 li:nth-child(13) {
  display: none;
}

/*------USER VIDEO FORMAT - GRID2-------*/
.user-videos-grid-2 .user-videos-large, .user-videos-grid-2 li {
  position: absolute;
  width: 50%;
  height: 100vh;
  overflow: hidden;
  z-index: 2;
}
.user-videos-grid-2 div {
  position: absolute; 
  top: 0; 
  left: -20%; 
  right: -20%; 
  bottom: 0; 
  margin: auto; 
  min-width: 140%;
  min-height: 50%;
}
.user-videos-grid-2 .classmates-video-name {
  position: absolute;
  bottom: 20px;
  left: 0px;
  width: 100%;
  font-size: 20px;
  font-weight: 500;
  color: white;
}
.user-videos-grid-2 .user-videos-large .classmates-video-name {
  bottom: 20px;
  font-size: 20px;
}
.user-videos-grid-2 li:first-child {
  display: none;
}
.user-videos-grid-2 li:nth-child(2) {
  right: 0;
  bottom: 0;
}
.user-videos-grid-2 li:nth-child(3) {
  right: 50%;
  bottom: 0;
}
.user-videos-grid-2 li:nth-child(4) {
  display: none;
}
.user-videos-grid-2 li:nth-child(5) {
  display: none;
}
.user-videos-grid-2 li:nth-child(6) {
  display: none;
}
.user-videos-grid-2 li:nth-child(7) {
  display: none;
}
.user-videos-grid-2 li:nth-child(8) {
  display: none;
}
.user-videos-grid-2 li:nth-child(9) {
  display: none;
}
.user-videos-grid-2 li:nth-child(10) {
  display: none;
}
.user-videos-grid-2 li:nth-child(11) {
  display: none;
}
.user-videos-grid-2 li:nth-child(12) {
  display: none;
}
.user-videos-grid-2 li:nth-child(13) {
  display: none;
}

/*------USER VIDEO FORMAT - GRID-3or4-------*/
.user-videos-grid-3or4 .user-videos-large, .user-videos-grid-3or4 li {
  position: absolute;
  width: 50%;
  height: 50%;
  overflow: hidden;
  z-index: 2;
}
.user-videos-grid-3or4 div {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
  height: 100% !important;
}
.user-videos-grid-3or4 .classmates-video-name {
  position: absolute;
  bottom: 20px;
  left: 0px;
  width: 100%;
  font-size: 20px;
  font-weight: 500;
  color: white;
}
.user-videos-grid-3or4 .user-videos-large .classmates-video-name {
  bottom: 20px;
  font-size: 20px;
}
.user-videos-grid-3or4 li:first-child {
  display: none;
}
.user-videos-grid-3or4 li:nth-child(2) {
  right: 0;
  bottom: 0;
}
.user-videos-grid-3or4 li:nth-child(3) {
  right: 0;
  bottom: 50%;
}
.user-videos-grid-3or4 li:nth-child(4) {
  right: 50%;
  bottom: 0;
}
.user-videos-grid-3or4 li:nth-child(5) {
  right: 50%;
  bottom: 50%;
}
.user-videos-grid-3or4 li:nth-child(6) {
  display: none;
}
.user-videos-grid-3or4 li:nth-child(7) {
  display: none;
}
.user-videos-grid-3or4 li:nth-child(8) {
  display: none;
}
.user-videos-grid-3or4 li:nth-child(9) {
  display: none;
}
.user-videos-grid-3or4 li:nth-child(10) {
  display: none;
}
.user-videos-grid-3or4 li:nth-child(11) {
  display: none;
}
.user-videos-grid-3or4 li:nth-child(12) {
  display: none;
}
.user-videos-grid-3or4 li:nth-child(13) {
  display: none;
}

/*------USER VIDEO FORMAT - GRID-5or6-------*/
.user-videos-grid-5or6 .user-videos-large, .user-videos-grid-5or6 li {
  position: absolute;
  width: 33.33333333%;
  height: 50%;
  overflow: hidden;
  z-index: 2;
}
.user-videos-grid-5or6 div {
  position: absolute; 
  top: 0; 
  left: -25%; 
  right: -25%; 
  bottom: 0; 
  margin: auto; 
  min-width: 150%;
}
.user-videos-grid-5or6 .classmates-video-name {
  position: absolute;
  bottom: 20px;
  left: 0px;
  width: 100%;
  font-size: 20px;
  font-weight: 500;
  color: white;
}
.user-videos-grid-5or6 .user-videos-large .classmates-video-name {
  bottom: 20px;
  font-size: 20px;
}
.user-videos-grid-5or6 li:first-child {
  display: none;
}
.user-videos-grid-5or6 li:nth-child(2) {
  right: 0;
  bottom: 0;
}
.user-videos-grid-5or6 li:nth-child(3) {
  right: 0;
  bottom: 50%;
}
.user-videos-grid-5or6 li:nth-child(4) {
  right: 33.33333333%;
  bottom: 0;
}
.user-videos-grid-5or6 li:nth-child(5) {
  right: 66.66666666%;
  bottom: 0;
}
.user-videos-grid-5or6 li:nth-child(6) {
  right: 33.33333333%;
  bottom: 50%;
}
.user-videos-grid-5or6 li:nth-child(7) {
  right: 66.66666666%;
  bottom: 50%;
}
.user-videos-grid-5or6 li:nth-child(8) {
  display: none;
}
.user-videos-grid-5or6 li:nth-child(9) {
  display: none;
}
.user-videos-grid-5or6 li:nth-child(10) {
  display: none;
}
.user-videos-grid-5or6 li:nth-child(11) {
  display: none;
}
.user-videos-grid-5or6 li:nth-child(12) {
  display: none;
}
.user-videos-grid-5or6 li:nth-child(13) {
  display: none;
}

/*------USER VIDEO FORMAT - GRID-7or8-------*/
.user-videos-grid-7or8 .user-videos-large, .user-videos-grid-7or8 li {
  position: absolute;
  width: 25%;
  height: 50%;
  overflow: hidden;
  z-index: 2;
}
.user-videos-grid-7or8 div {
  position: absolute; 
  top: 0; 
  left: -20%; 
  right: -20%; 
  bottom: 0; 
  margin: auto; 
  min-width: 140%;
}
.user-videos-grid-7or8 .classmates-video-name {
  position: absolute;
  bottom: 20px;
  left: 0px;
  width: 100%;
  font-size: 20px;
  font-weight: 500;
  color: white;
}
.user-videos-grid-7or8 .user-videos-large .classmates-video-name {
  bottom: 20px;
  font-size: 20px;
}
.user-videos-grid-7or8 li:first-child {
  display: none;
}
.user-videos-grid-7or8 li:nth-child(2) {
  right: 0;
  bottom: 0;
}
.user-videos-grid-7or8 li:nth-child(3) {
  right: 0;
  bottom: 50%;
}
.user-videos-grid-7or8 li:nth-child(4) {
  right: 25%;
  bottom: 0;
}
.user-videos-grid-7or8 li:nth-child(5) {
  right: 25%;
  bottom: 50%;
}
.user-videos-grid-7or8 li:nth-child(6) {
  right: 50%;
  bottom: 0;
}
.user-videos-grid-7or8 li:nth-child(7) {
  right: 50%;
  bottom: 50%;
}
.user-videos-grid-7or8 li:nth-child(8) {
  right: 75%;
  bottom: 0;
}
.user-videos-grid-7or8 li:nth-child(9) {
  right: 75%;
  bottom: 50%;
}
.user-videos-grid-7or8 li:nth-child(10) {
  display: none;
}
.user-videos-grid-7or8 li:nth-child(11) {
  display: none;
}
.user-videos-grid-7or8 li:nth-child(12) {
  display: none;
}
.user-videos-grid-7or8 li:nth-child(13) {
  display: none;
}

/*------USER VIDEO FORMAT - GRID-9-------*/
.user-videos-grid-9 .user-videos-large, .user-videos-grid-9 li {
  position: absolute;
  width: 33.33333333%;
  height: 33.33333333%;
  overflow: hidden;
  z-index: 2;
}
.user-videos-grid-9 div {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  height: 100% !important;
}
.user-videos-grid-9 .classmates-video-name {
  position: absolute;
  bottom: 20px;
  left: 0px;
  width: 100%;
  font-size: 20px;
  font-weight: 500;
  color: white;
}
.user-videos-grid-9 .user-videos-large .classmates-video-name {
  bottom: 20px;
  font-size: 20px;
}
.user-videos-grid-9 li:first-child {
  display: none;
}
.user-videos-grid-9 li:nth-child(2) {
  right: 0;
  bottom: 0;
}
.user-videos-grid-9 li:nth-child(3) {
  right: 0;
  bottom: 33.33333333%;
}
.user-videos-grid-9 li:nth-child(4) {
  right: 0;
  bottom: 66.66666666%;
}
.user-videos-grid-9 li:nth-child(5) {
  right: 33.33333333%;
  bottom: 0;
}
.user-videos-grid-9 li:nth-child(6) {
  right: 33.33333333%;
  bottom: 33.33333333%;
}
.user-videos-grid-9 li:nth-child(7) {
  right: 33.33333333%;
  bottom: 66.66666666%;
}
.user-videos-grid-9 li:nth-child(8) {
  right: 66.66666666%;
  bottom: 0;
}
.user-videos-grid-9 li:nth-child(9) {
  right: 66.66666666%;
  bottom: 33.33333333%;
}
.user-videos-grid-9 li:nth-child(10) {
  right: 66.66666666%;
  bottom: 66.66666666%;
}
.user-videos-grid-9 li:nth-child(11) {
  display: none;
}
.user-videos-grid-9 li:nth-child(12) {
  display: none;
}
.user-videos-grid-9 li:nth-child(13) {
  display: none;
}


/*------USER VIDEO FORMAT - GRID-12andUnder-------*/
.user-videos-grid-12andUnder .user-videos-large {
  position: absolute;
  width: 25%;
  height: 34%;
  overflow: hidden;
  z-index: 2;
}
.user-videos-grid-12andUnder div {
  position: absolute; 
  top: 0; 
  left: -15%; 
  right: -15%; 
  bottom: 0; 
  margin: auto; 
  min-width: 130%;
}
.user-videos-grid-12andUnder .classmates-video-name {
  position: absolute;
  bottom: 5px;
  left: 0px;
  width: 100%;
  font-size: 16px;
  font-weight: 500;
  color: white;
}
.user-videos-grid-12andUnder .user-videos-large .classmates-video-name {
  bottom: 20px;
  font-size: 20px;
}
.user-videos-grid-12andUnder li {
  position: absolute;
  width: 25%;
  height: 34%;
  overflow: hidden;
  z-index: 2;
}
.user-videos-grid-12andUnder li:first-child {
  display: none;
}
.user-videos-grid-12andUnder li:nth-child(2) {
  right: 0;
  bottom: 0;
}
.user-videos-grid-12andUnder li:nth-child(3) {
  right: 25%;
  bottom: 0;
}
.user-videos-grid-12andUnder li:nth-child(4) {
  right: 50%;
  bottom: 0;
}
.user-videos-grid-12andUnder li:nth-child(5) {
  right: 75%;
  bottom: 0;
}
.user-videos-grid-12andUnder li:nth-child(6) {
  right: 0%;
  bottom: 33%;
}
.user-videos-grid-12andUnder li:nth-child(7) {
  right: 25%;
  bottom: 33%;
}
.user-videos-grid-12andUnder li:nth-child(8) {
  right: 50%;
  bottom: 33%;
}
.user-videos-grid-12andUnder li:nth-child(9) {
  right: 75%;
  bottom: 33%;
}
.user-videos-grid-12andUnder li:nth-child(10) {
  right: 0%;
  bottom: 66%;
}
.user-videos-grid-12andUnder li:nth-child(11) {
  right: 25%;
  bottom: 66%;
}
.user-videos-grid-12andUnder li:nth-child(12) {
  right: 50%;
  bottom: 66%;
}
.user-videos-grid-12andUnder li:nth-child(13) {
  right: 75%;
  bottom: 66%;
}


/*.video-fullscreen {
  height: 100vh;
  background: #1f1f1f;
}
.video-sidebar {
  background: #1f1f1f;
  padding: 0px;
}
.main-title, .classmates-title {
  padding: 8px;
  height: 40px;
}
.main-name {
  color: #fff;
  font-size: 20px;
}
.badges {
  float: right;
}
.badges img:first-child {
  padding-right: 5px;
}
.main-video div {
  height: 30vh;
}
.trainer-column {
  padding: 0px;
}
.class-details {
  height: 45px;
  padding-top: 10px;
}
.workout-title {
  font-size: 36px;
  color: #fff;
  padding-right: 10px;
}
.workout-details {
  color: #fff;
  font-size: 14px;
  line-height: 14px;
}
.workout-description {
  float: left;
}
.module-title, .module-description li {
  color: #fff !important;
  font-size: 25px;
  line-height: 25px;
}
.module-description li {
  margin-bottom: 20px;
}
.rounds {
  color: #fff;
  font-size: 50px;
  font-weight: 500;
  display: block;
}
#tabata {
  font-size: 100px;
  margin: 20px 0 50px 0;
  display: block;
}
#tabata span {
  font-weight: 600;
}
#stopwatch {
  font-size: 100px;
  margin: 20px 0 50px 0;
  display: block;
}
#stopwatch span {
  font-weight: 600;
}
#canHearButton {
  background-color: red !important;
  margin-bottom: 5px;
}
#cantHearButton {
  background-color: #0D1C45 !important;
  margin-bottom: 5px;
}
.exit-btn {
  font-size: 10px !important;
  line-height: 10px;
  padding: 1px 10px;
  color: #777777 !important;
  border: 1px solid #777777;
}
.song span {
  color: #777;
  font-size: 10px;
}
.classmates-title span {
  color: #fff;
  font-size: 20px;
}
.classmates-section {
  padding: 0 5px;
  position: relative;
}
.classmates-row {
  position: relative;
}
.individual-classmate {
  position: relative;
  display: inline;
}
.individual-classmate img {
  position: absolute;
  left: 80%;
  width: 15px;
  height: auto;
  padding-top: 6px;
}
.individual-classmate span {
  position: absolute;
  color: #fff;
  font-size: 12px;
  left: 5px;
  z-index: 100;
}

.trainer-screen div {
    width: 100% !important;
    height: 90vh !important;
}

.trainer-video-screen {
  height: 100vh !important;
  background: black;
}
.smallscreen {
  border: 1px solid white;
  position: absolute !important;
  height: 16.67%;
  width: 16.67%;
}
.name-overlay {
  background: rgba(0,0,0,0.2);
  padding: 0px 5px;
  z-index: 100;
}
.name-overlay span {
  color: #fff;
  font-weight: 600;
  font-size: 14px;
}
.name-overlay img {
  margin-top: 3px;
  float: right;
  width: 18px;
}
.class-details {
  position: absolute;
  top: 0vh;
  height: auto;
  right: 20px;
  width: 250px;
  background: rgba(0, 0, 0, 0.5);
  padding: 25px;
}
.class-details h1, .class-details h4, .class-details p{
  color: #fff;
  margin-bottom: 5px;
  text-align: center;
}
.class-details h4 {
  margin-top: 15px;
}
.class-details td, .class-details a {
  text-align: center;
  padding: 0px;
  font-size: 14px;
  color: #fff;
  min-width: 70px;
}
.class-details a:hover {
  color: gray;
}
.class-details table {
  width: 100%;
  margin-bottom: 10px;
}
#timer {
  color: #fff;
  text-align: center;
  margin-top: 2%;
}
.song {
  font-size: 12px;
  color: #fff;
  line-height: 12px;
}

#dark-text.injuryText {
  font-size: 11px;
  margin-top: 0px;
}

#box0,
#box1,
#box2,
#box3,
#box4,
#box5,
#box6,
#box7,
#box8,
#box9,
#box10,
#box11,
#box12,
#box13,
#box14,
#box15 {
  display: inline-block;
}

#trainer0 {
  left: 0%;
  top: 0%;
  display: inline-block;
}
#trainer1 {
  left: 0%;
  top: 16.67%;
  display: inline-block;
}
#trainer2 {
  left: 0%;
  top: 33.34%;
  display: inline-block;
}
#trainer3 {
  left: 0%;
  top: 50.01%;
  display: inline-block;
}
#trainer4 {
  left: 0%;
  top: 66.68%;
  display: inline-block;
}
#trainer5 {
  left: 0%;
  top: 83.35%;
  display: inline-block;
}
#trainer6 {
  left: 16.67%;
  top: 0%;  
  display: inline-block;
}
#trainer7 {
  left: 16.67%;
  top: 16.67%;  
  display: inline-block;
}
#trainer8 {
  left: 16.67%;
  top: 33.34%;
  display: inline-block;
}
#trainer9 {
  left: 16.67%;
  top: 50.01%;
  display: inline-block;
}
#trainer10 {
  left: 16.67%;
  top: 66.68%;
  display: inline-block;  
}
#trainer11 {
  left: 16.67%;
  top: 83.35%;
  display: inline-block;
}
#trainer12 {
  left: 33.34%;
  top: 83.35%;
  display: inline-block;
}
#trainer13 {
  left: 50.01%;
  top: 83.35%;
  display: inline-block;
}
#trainer14 {
  left: 66.68%;
  top: 83.35%;
  display: inline-block;  
}
#trainer15 {
  left: 83.35%;
  top: 83.35%;
  display: inline-block;
}

.megascreen {
  border: 1px solid white !important;
  position: absolute !important;
  left: 33.34% !important;
  top: 0% !important;
  height: 83.35% !important;
  width: 66.68% !important;
}
.megascreen .name-overlay {
  width: 25%;
  padding: 10px;
  float: left;  
}
.megascreen .name-overlay span {
  font-size: 28px;
}

.smallscreen .OT_name {
  font-size: 25px !important;
}
.smallscreen .OT_bar {
  width: 60%;
}
.megascreen .OT_bar {
  width: 20%
}

.workColor {
  color: #fff;
}

.restColor {
  color: #FF5050;
}

.video-teammate-name {
  width: 75px;
  white-space: nowrap;
  overflow: hidden;
}

.video-consumer-name {
  width: 125px !important;
  font-size:20px !important;
  white-space: nowrap !important;
  overflow: hidden !important;
}

.megascreen .video-consumer-name {
  width: 200px;
  font-size:28px;
  white-space: nowrap;
  overflow: hidden;
}

.trainerDetails {
  position: absolute;
  right: 0px;
  top: 0vh;
  height: auto;
  width: 400px;
  background: rgba(0, 0, 0, 0.5);
  padding: 25px;  
}
.trainerDetails table {
  width: 100%;
  margin-bottom: 10px;
}
.timerControls {
  display: block;
  text-align: center;
}
.timerControls a {
  display: inline-block;
  padding: 5px;
  margin-right: 0px;
  width: 35%;
  min-width: 30%;
}
.tabataSelections {
  display: block;
}
.tabataColumns {
  width: 49%;
  float: left;
  height: 170px;
}
.tabataColumns span {
  display: inline-block;
  padding: 0 10px;
}
.tabata-select {
  display: inline-block;
  width: 100px;
  height: 45px;
  border-radius: 5px;
  font-size: 25px;
  color: #0D1C45;
}
.classControls {
  width: 49%;
  float: left;
  height: 500px;
}
.music-btnUp, .music-btnDown {
  width: 100px;
  margin-right: 0px;
  margin-bottom: 5px;
}
.music-btnUp {
  background: #9711A5;
}
.music-btnUp:hover {
  background: #7D1488;
}
.music-btnDown {
  background: #B6CC23;
}
.music-btnDown:hover {
  background: #95A71C;
}

iframe#audioPlayer {
  position: absolute;
  top: -999px;
  left: -999px;
}

.modal.modal-tall .modal-body {
  height: 90%;
}*/