.video-fullscreen {
  height: 100vh;
  background: #1f1f1f;
}
.video-sidebar {
  background: #1f1f1f;
  padding: 0px;
}
.main-title, .classmates-title {
  padding: 8px;
  height: 40px;
}
.main-name {
  color: #fff;
  font-size: 20px;
}
.badges {
  float: right;
}
.badges img:first-child {
  padding-right: 5px;
}
.main-video div {
  height: 30vh;
}
.trainer-column {
  padding: 0px;
}
.class-details {
  height: 45px;
  padding-top: 10px;
}
.workout-title {
  font-size: 36px;
  color: #fff;
  padding-right: 10px;
}
.workout-details {
  color: #fff;
  font-size: 14px;
  line-height: 14px;
}
.workout-description {
  float: left;
}
.module-title, .module-description li {
  color: #fff !important;
  font-size: 25px;
  line-height: 25px;
}
.module-description li {
  margin-bottom: 20px;
}
.rounds {
  color: #fff;
  font-size: 50px;
  font-weight: 500;
  display: block;
}
#tabata {
  font-size: 100px;
  margin: 20px 0 50px 0;
  display: block;
}
#tabata span {
  font-weight: 600;
}
#stopwatch {
  font-size: 100px;
  margin: 20px 0 50px 0;
  display: block;
}
#stopwatch span {
  font-weight: 600;
}
#canHearButton {
  background-color: red !important;
  margin-bottom: 5px;
}
#cantHearButton {
  background-color: #0D1C45 !important;
  margin-bottom: 5px;
}
.exit-btn {
  font-size: 10px !important;
  line-height: 10px;
  padding: 1px 10px;
  color: #777777 !important;
  border: 1px solid #777777;
}
.song span {
  color: #777;
  font-size: 10px;
}
.classmates-title span {
  color: #fff;
  font-size: 20px;
}
.classmates-section {
  padding: 0 5px;
  position: relative;
}
.classmates-row {
  position: relative;
}
.individual-classmate {
  position: relative;
  display: inline;
}
.individual-classmate img {
  position: absolute;
  left: 80%;
  width: 15px;
  height: auto;
  padding-top: 6px;
}
.individual-classmate span {
  position: absolute;
  color: #fff;
  font-size: 12px;
  left: 5px;
  z-index: 100;
}

.trainer-screen div {
    width: 100% !important;
    height: 90vh !important;
}

.trainer-video-screen {
  height: 100vh !important;
  background: black;
}
.smallscreen {
  border: 1px solid white;
  position: absolute !important;
  height: 16.67%;
  width: 16.67%;
}
.name-overlay {
  background: rgba(0,0,0,0.2);
  padding: 0px 5px;
  z-index: 100;
}
.name-overlay span {
  color: #fff;
  font-weight: 600;
  font-size: 14px;
}
.name-overlay img {
  margin-top: 3px;
  float: right;
  width: 18px;
}
.class-details {
  position: absolute;
  top: 0vh;
  height: auto;
  right: 20px;
  width: 250px;
  background: rgba(0, 0, 0, 0.5);
  padding: 25px;
}
.class-details h1, .class-details h4, .class-details p{
  color: #fff;
  margin-bottom: 5px;
  text-align: center;
}
.class-details h4 {
  margin-top: 15px;
}
.class-details td, .class-details a {
  text-align: center;
  padding: 0px;
  font-size: 14px;
  color: #fff;
  min-width: 70px;
}
.class-details a:hover {
  color: gray;
}
.class-details table {
  width: 100%;
  margin-bottom: 10px;
}
#timer {
  color: #fff;
  text-align: center;
  margin-top: 2%;
}
.song {
  font-size: 12px;
  color: #fff;
  line-height: 12px;
}

#dark-text.injuryText {
  font-size: 11px;
  margin-top: 0px;
}

#box0,
#box1,
#box2,
#box3,
#box4,
#box5,
#box6,
#box7,
#box8,
#box9,
#box10,
#box11,
#box12,
#box13,
#box14,
#box15 {
  display: inline-block;
}

#trainer0 {
  left: 0%;
  top: 0%;
  display: inline-block;
}
#trainer1 {
  left: 0%;
  top: 16.67%;
  display: inline-block;
}
#trainer2 {
  left: 0%;
  top: 33.34%;
  display: inline-block;
}
#trainer3 {
  left: 0%;
  top: 50.01%;
  display: inline-block;
}
#trainer4 {
  left: 0%;
  top: 66.68%;
  display: inline-block;
}
#trainer5 {
  left: 0%;
  top: 83.35%;
  display: inline-block;
}
#trainer6 {
  left: 16.67%;
  top: 0%;  
  display: inline-block;
}
#trainer7 {
  left: 16.67%;
  top: 16.67%;  
  display: inline-block;
}
#trainer8 {
  left: 16.67%;
  top: 33.34%;
  display: inline-block;
}
#trainer9 {
  left: 16.67%;
  top: 50.01%;
  display: inline-block;
}
#trainer10 {
  left: 16.67%;
  top: 66.68%;
  display: inline-block;  
}
#trainer11 {
  left: 16.67%;
  top: 83.35%;
  display: inline-block;
}
#trainer12 {
  left: 33.34%;
  top: 83.35%;
  display: inline-block;
}
#trainer13 {
  left: 50.01%;
  top: 83.35%;
  display: inline-block;
}
#trainer14 {
  left: 66.68%;
  top: 83.35%;
  display: inline-block;  
}
#trainer15 {
  left: 83.35%;
  top: 83.35%;
  display: inline-block;
}

.megascreen {
  /*background: blue !important;*/
  border: 1px solid white !important;
  position: absolute !important;
  left: 33.34% !important;
  top: 0% !important;
  height: 83.35% !important;
  width: 66.68% !important;
}
.megascreen .name-overlay {
  width: 25%;
  padding: 10px;
  float: left;  
}
.megascreen .name-overlay span {
  font-size: 28px;
}

.smallscreen .OT_name {
  font-size: 25px !important;
}
.smallscreen .OT_bar {
  width: 60%;
}
.megascreen .OT_bar {
  width: 20%
}

.workColor {
  color: #fff;
}

.restColor {
  color: #FF5050;
}

.video-teammate-name {
  width: 75px;
  white-space: nowrap;
  overflow: hidden;
}

.video-consumer-name {
  width: 125px !important;
  font-size:20px !important;
  white-space: nowrap !important;
  overflow: hidden !important;
}

.megascreen .video-consumer-name {
  width: 200px;
  font-size:28px;
  white-space: nowrap;
  overflow: hidden;
}

.trainerDetails {
  position: absolute;
  right: 0px;
  top: 0vh;
  height: auto;
  width: 400px;
  background: rgba(0, 0, 0, 0.5);
  padding: 25px;  
}
.trainerDetails table {
  width: 100%;
  margin-bottom: 10px;
}
.timerControls {
  display: block;
  text-align: center;
}
.timerControls a {
  display: inline-block;
  padding: 5px;
  margin-right: 0px;
  width: 35%;
  min-width: 30%;
}
.tabataSelections {
  display: block;
}
.tabataColumns {
  width: 49%;
  float: left;
  height: 170px;
}
.tabataColumns span {
  display: inline-block;
  padding: 0 10px;
}
.tabata-select {
  display: inline-block;
  width: 100px;
  height: 45px;
  border-radius: 5px;
  font-size: 25px;
  color: #0D1C45;
}
.classControls {
  width: 49%;
  float: left;
  height: 500px;
}
.music-btnUp, .music-btnDown {
  width: 100px;
  margin-right: 0px;
  margin-bottom: 5px;
}
.music-btnUp {
  background: #9711A5;
}
.music-btnUp:hover {
  background: #7D1488;
}
.music-btnDown {
  background: #B6CC23;
}
.music-btnDown:hover {
  background: #95A71C;
}

iframe#audioPlayer {
  position: absolute;
  top: -999px;
  left: -999px;
}

.modal.modal-tall .modal-body {
  height: 90%;
}