<div class="modal-body sign-up-modal">
  <div class = "row">
    <div class="text-center">
      <img class="mt32 mb32" src="assets/images/BodyLogo_blue_large.png">
      <h3 class="royalblue mb8">Create your account</h3>
      <hr style="width: 60%; margin: 10px auto;">
      <p class="mb32 darkgray">View classes your Facebook friends are taking.<br>
        We never post to your page.</p>
      <a id = "fb-btn" class="btn btn-filled btn-lg" href="#" ng-click="loginOauth('facebook')">
        <i class="ti-facebook"></i>&nbsp;Sign up with Facebook
      </a>
      <div class="securepayment">
        <span class="gray">Secured by SSL&nbsp;</span>
        <a class = "mb16" href='https://www.ssllabs.com/ssltest/analyze.html?d=getbodyapp.com&hideResults=on&latest' target='_blank' rel='nofollow'>
          <img src='https://www.expeditedssl.com/assets/lock-logo-70px-8fcd38ddb815b36d2cfdfdb9f67d60cf.png' alt='SSL Test'>
        </a>
      </div>
      <p class="pt64 darkgray">Already have an account? <a href="#" ng-click="loginOauth('facebook')">Log in</a></p>
    </div>
  </div>
</div>
