<!-- <div ng-include="'components/navbar/navbar.html'"></div> -->
<div class="modal-body" style="background-image: url(../../assets/images/hero_payment_crossfit.jpg)">
  <div class = "row">
    <div class="text-center">
      <a id = "fb-btn" class="btn btn-filled btn-lg mb32 mt32" href="#" ng-click="loginOauth('facebook')">
        <i class="ti-facebook"></i>&nbsp;Login with Facebook
      </a>
    </div>
    <!-- <hr style="width: 40%; margin-left: 30%">
    <div class = "col-sm-12 text-center">
      <span id="dark-text" ng-mouseover ="openTour()">Or login with your email address</span>
    </div> -->
  </div>
  <!-- <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4 mt24">
          <form class="form" name="form" ng-submit="login(form)" novalidate>
            
            <div>
              <input id="dark-text" type="text" name="email" class="form-control textInput" ng-model="user.email" placeholder="Email" required>
            </div>

            <div>
              <input id="dark-text" type="password" name="password" class="form-control textInput" ng-model="user.password" placeholder="Password" required>
            </div>

            <div class="form-group has-error">
              <p class="help-block" ng-show="form.email.$error.required && form.password.$error.required && submitted">
                 Please enter your email and password.
              </p>
              <p class="help-block" ng-show="form.email.$error.email && submitted">
                 Please enter a valid email.
              </p>

              <p class="help-block">{{ errors.other }}</p>
            </div>
            <div class="text-center">
              <button class="btn btn-inverse btn-lg btn-login btn-full" type="submit">
                Login
              </button>
            </div>
          </form>
          <div class="mt16 text-center">
            <span id="dark-text">Don't have an account yet? <a href="/signup">Sign Up</a>.</span>
          </div>                                                    
      </div>
      <div class="col-md-4"></div>
    </div>
  </div> -->
  <!-- <br>
  <hr>   -->
</div>
<!-- <div ng-include="'components/footer/footer.html'"></div> -->
