<div class="modal-body sign-up-modal">
  <div class = "row">
    <div class="text-center">
      <img class="mt32 mb32" src="assets/images/BodyLogo_blue_large.png">
      <h3 class="royalblue mb8">Login to your account</h3>
      <hr style="width: 60%; margin: 10px auto;">
      <p class="mb16 darkgray">We will never post to your page.</p>
      <a id = "fb-btn" class="btn btn-filled btn-lg" href="#" ng-click="loginOauth('facebook')">
        <i class="ti-facebook"></i>&nbsp;Login with Facebook
      </a>
      <div class="securepayment mb32">
        <span class="gray">Secured by SSL&nbsp;</span>
        <a class = "mb16" href='https://www.ssllabs.com/ssltest/analyze.html?d=getbodyapp.com&hideResults=on&latest' target='_blank' rel='nofollow'>
          <img src='https://www.expeditedssl.com/assets/lock-logo-70px-8fcd38ddb815b36d2cfdfdb9f67d60cf.png' alt='SSL Test'>
        </a>
      </div>
      <!-- <div class = "text-center mt32">or</div>
      <h4 class = "text-center">Login With Email</h4>
      <form class="form" name="form" ng-submit="login(form)" novalidate>
        <div>
          <input id="dark-text" type="text" name="email" class="form-control textInput" ng-model="user.email" placeholder="Email" required>
        </div>

        <div>
          <input id="dark-text" type="password" name="password" class="form-control textInput" ng-model="user.password" placeholder="Password" required>
        </div>

        <div class="form-group has-error">
          <p class="help-block" ng-show="form.email.$error.required && form.password.$error.required && submitted">
             Please enter your email and password.
          </p>
          <p class="help-block" ng-show="form.email.$error.email && submitted">
             Please enter a valid email.
          </p>

          <p class="help-block">{{ errors.other }}</p>
        </div>
        <div class="text-center">
          <button class="btn btn-inverse btn-lg btn-login btn-full" type="submit">
            Login
          </button>
        </div>
      </form> -->
    </div>
  </div>
</div>
