.sign-up-modal {
  border: 2px solid #85888D;
  background: white;
}

.btn-facebook {
  color: #fff;
  background-color: #3B5998;
  border-color: #133783;
}

.btn-twitter {
  color: #fff;
  background-color: #2daddc;
  border-color: #0271bf;
}

.btn-google-plus {
  color: #fff;
  background-color: #dd4b39;
  border-color: #c53727;
}

.btn-github {
  color: #fff;
  background-color: #fafafa;
  border-color: #ccc;
}

.datefield { 
    display: inline; 
    padding: 0.3em; 
    border: inset 1px #CCC; 
    background: #FFF; 
    border-radius: 4px;
    color: #666;
}

.datefield * { 
    display: inline-block;
}

.datefield input { 
    width: 2.1em; 
    padding: 0 0.1em; 
    border: none; 
    font-size: 95%; 
    background: none;
    color: #000;            
}

.datefield input#year { width:2.5em; }
.datefield input:focus { outline:none; }

#birthdayDatefield { 
    float: left; 
    display: block; 
    width: 6em; 
}