<div ng-include="'components/navbar/navbar.html'" style="margin-bottom: 40px;"></div>
<meta name="fragment" content="!">

<!-- <div class="main-container" ng-hide = "newUserStep != 1">
  <section>
    <div class="container white-section">
      <div class="col-sm-12 text-center margins">
        <h1 class="darkblue">Participate in our pilot program</h1>
        <h4 class="mb32">Hey {{currentUser.firstName}}! It’s time to get you into the best shape of your life.</h4>        
      </div>

      <div class="col-sm-3 col-xs-12 text-center">
        <h4 class="mb32 purpleblue bold">Lock in our pilot rate for a year</h4>
        <div style="height: 100px">
            <div class="col-xs-6 no-margin">
              <span class="pricingType lightgray">Regular pricing</span>
              <h1 class="pricingAmt lightgray"><sup>$</sup></h1><h1 class="pricingAmt lightgray strikeout">40</h1>
              <span class="pricingTime lightgray">/mo</span>
            </div>
            <div class="col-xs-6 no-margin">
              <span class="pricingType darkblue">Pilot pricing</span>
              <h1 class="pricingAmt darkblue"><sup>$</sup></h1><h1 class="pricingAmt darkblue">10</h1>
              <span class="pricingTime darkblue">/mo</span>            
            </div>
          </div>
          <p class="mt8 hidden-xs">One simple membership. Always unlimited classes per month.</p>
          <p class="mt8 visible-xs" style="margin: 0px 10% 50px 10%;">One simple membership. Always unlimited classes per month.</p>          
      </div>
      <div class="col-sm-3 col-xs-12 text-center">
          <h4 class="mb32 purpleblue bold">Get a free introductory class</h4>
          <img src="assets/images/icons/fit-girl_small.png">
          <p class="mt8 hidden-xs">An intro to the BODY program and a great free workout.</p>
          <p class="mt8 visible-xs" style="margin: 0px 10% 50px 10%;">An intro to the BODY program and a great free workout.</p>          
      </div>
      <div class="col-sm-3 col-xs-12 text-center">
          <h4 class="mb32 purpleblue bold">Receive your gear, no extra cost</h4>
          <img src="assets/images/icons/box.png">
          <p class="mt8 hidden-xs">A set of strength bands and foam roller to get started.</p>
          <p class="mt8 visible-xs" style="margin: 0px 10% 50px 10%;">A set of strength bands and foam roller to get started.</p>
      </div>
      <div class="col-sm-3 col-xs-12 text-center">
        <h4 class="mb32 purpleblue bold hidden-xs">No strings<br>attached</h4>
        <h4 class="mb32 purpleblue bold visible-xs">No strings attached</h4>
        <img src="assets/images/icons/thumbsup.png">
        <p class="mt8 hidden-xs">No hidden fees, no annual contracts. Cancel at any time.</p> 
        <p class="mt8 visible-xs" style="margin: 0px 10% 50px 10%;">No hidden fees, no annual contracts. Cancel at any time.</p>
      </div>
      <div class="col-sm-12 text-center mt32 hidden-xs">
        <a class="btn" href="" ng-click = "incrementStep()">Let's get started</a>     
      </div>
      <div class="col-sm-12 text-center mt32 mb56 visible-xs">
        <a class="btn" href="" ng-click = "incrementStep()">Let's get started</a>     
      </div>      
    </div>
  </section>
</div> -->

<div class="main-container" ng-hide = "newUserStep != 1">
  <section>
    <div class="container white-section">
      <div class="col-sm-12 text-center margins">
        <h1 class="darkblue mb8">Welcome to BODY!</h1>
        <h4 class="mb40">Help us get to know you a bit better</h4>        
      </div>      
      <div class="col-sm-5 col-xs-12 text-center">
        <h3 class="royalblue mb16">Your profile info</h3>
        <img ng-if = "currentUser.picture" class="user-social-image mb16" src="{{currentUser.picture}}">
        <img ng-if = "currentUser.facebookId" class="facebook-social-image" src="assets/images/icons/facebook-circle.png">
        <h3 class="darkblue mb8">{{currentUser.firstName}} {{currentUser.lastName}}</h3>
        <h5 class="gray">
          <textarea ng-show = "editingEmail" class="medium-input-box" ng-model = "currentUser.email"></textarea>
          <a ng-show = "editingEmail" ng-click = "saveNewEmail(currentUser.email)" class = "mt0 btn" style = "font-size: 12px; padding-left: 6px; padding-right: 6px; min-width: 0px">
            <span>Submit</span>
          </a>
          <span ng-show = "!editingEmail">{{currentUser.email}}</span> 
          <a ng-show = "!editingEmail" ng-click = "editingEmail = true" class = "mt0 btn" style = "font-size: 12px; padding-left: 6px; padding-right: 6px; min-width: 0px">
            <span>Change</span>
          </a>        
        </h5>
      </div>
      <div class="col-sm-7 hidden-xs">
        <h3 class="royalblue mb0">Important health info</h3>
        <p class="darkgray mb24 medical-disclaimer">This information is confidential and only shared with your BODY instructor.</p>

        <p class="darkblue mb0">Do you have any prior injuries or health conditions?</p>
            <div style = "color: red" ng-show = "injuriesNotEntered">*Please tell us something! Anything!</div>
        <textarea ng-model = "injuries" class="large-input-box mb16" cols="30" rows="3" name="health-conditions" placeholder="e.g. I broke my wrist six months ago and still have trouble placing my full weight on it."></textarea>

        <p class="darkblue mb0">In the next three months, what health goals can we help you achieve?</p>
            <div style = "color: red" ng-show = "goalsNotEntered">*Don't leave us in the dark! Fill in something here.</div>
        <textarea ng-model = "goals" class="large-input-box mb16" cols="30" rows="3" name="goals" placeholder="e.g. To lose 10 lbs, To gain 10 lbs, To look better naked, To be healthier, Get ready for my wedding, etc."></textarea>

        <p class="darkblue mb0">Emergency Contact Information</p>
            <div style = "color: red" ng-show = "emergencyContactNotEntered">*Required</div>
        <textarea ng-model = "emergencyFirst" class="small-input-box mb16" cols="10" rows="1" name="emergency-first" placeholder="First Name"></textarea>
        <textarea ng-model = "emergencyLast" class="small-input-box mb16" cols="10" rows="1" name="emergency-last" placeholder="Last Name"></textarea>

        <textarea ng-model = "emergencyRelationship" class="small-input-box mb16" cols="10" rows="1" name="emergency-relationship" placeholder="Relationship"></textarea>

        <textarea ng-model = "emergencyPhone" class="small-input-box mb16" cols="10" rows="1" name="emergency-phone" placeholder="Phone"></textarea>

          <div style = "color: red" ng-show = "boxNotChecked">*Required</div>
        <p class="darkblue mb0">Please review our <a href="/medical_disclaimer" target="_blank">medical disclaimer (click here to view)</a>.</p>

        <form action=""><input type="checkbox" name="medicalDisclaimer" ng-model="boxChecked" value="medicalDisclaimer"><span class="darkgray medical-disclaimer">&nbsp;&nbsp;I confirm have reviewed the BODY Medical Disclaimer</span></form>

        <a href="" class="btn mt24" ng-click = "saveInjuriesGoalsEmergency(boxChecked, injuries, goals, emergencyFirst, emergencyLast, emergencyRelationship, emergencyPhone)">Submit health info and continue</a>
      </div>


      <div class="col-sm-12 visible-xs text-left">
        <hr>
        <h3 class="royalblue mb0">Important health info</h3>
        <p class="darkgray mb24 medical-disclaimer text-left">This information is confidential and only shared with your BODY instructor.</p>

        <h5 class="darkblue mb8 mt16">Do you have any prior injuries or health conditions?</h5>
            <div style = "color: red" ng-show = "injuriesNotEntered">*Required</div>
        <textarea ng-model = "injuries" class="mb16" cols="30" rows="3" name="health-conditions" placeholder="e.g. I broke my wrist six months ago and still have trouble placing my full weight on it."></textarea>

        <h5 class="darkblue mb8 mt16">In the next three months, what health goals can we help you achieve?</h5>
            <div style = "color: red" ng-show = "goalsNotEntered">*Required</div>
        <textarea ng-model = "goals" class="mb16" cols="30" rows="3" name="goals" placeholder="e.g. To lose 10 lbs, To gain 10 lbs, To look better naked, To be healthier, Get ready for my wedding, etc."></textarea>

        <h5 class="darkblue mb8 mt16">Emergency Contact Information</h5>
            <div style = "color: red" ng-show="emergencyContactNotEntered">*Required</div>
        <textarea ng-model = "emergencyFirst" class="mb16" cols="10" rows="1" name="emergencyFirst" placeholder="First Name"></textarea>

        <textarea ng-model = "emergencyLast" class="mb16" cols="10" rows="1" name="emergencyLast" placeholder="Last Name"></textarea>

        <textarea ng-model = "emergencyRelationship" class="mb16" cols="10" rows="1" name="emergencyRelationship" placeholder="Relationship"></textarea>

        <textarea ng-model = "emergencyPhone" class="mb16" cols="10" rows="1" name="emergencyPhone" placeholder="Phone"></textarea>

          <div style = "color: red" ng-show = "boxNotChecked">*Required</div>
        <h5 class="darkblue mb0">Please review our <a href="/medical_disclaimer" target="_blank">medical disclaimer (click here to view)</a>.</h5>

        <form action=""><input type="checkbox" name="medicalDisclaimer" ng-model="boxChecked" value="medicalDisclaimer"><span class="darkgray medical-disclaimer">&nbsp;&nbsp;I confirm have reviewed the Medical Disclaimer</span></form>          
        <a href="" class="btn mt32" ng-click = "saveInjuriesGoalsEmergency(boxChecked, injuries, goals, emergencyFirst, emergencyLast, emergencyRelationship, emergencyPhone)">Submit health info and continue</a>
      </div>      
    </div>
  </section>
</div>

<div class="main-container" ng-hide = "newUserStep != 3">
  <section>
    <div class="container white-section">
        <div class="col-sm-12 mb32">
          <h3 class="royalblue mb16">Thanks! Since this is your first time with us, let’s get you started with an Intro Session</h3>
          <h4>The purpose of this session is to help us serve you better by getting to know your goals and expectations, fitness level, and experience. At the end of your session, we can answer any detailed questions you may have.</h4>
        </div>

        <div class="col-sm-12">
          <h3 class="royalblue mb16">What time works for you?</h3>
        </div>
        <div class="intro-class-times" ng-repeat = "class in upcomingIntros">
          <div class="col-sm-4 mb16 hidden-xs">
            <a ng-click = "bookIntroClass(class)" href="" class="signupScheduler">
              <div class="signupDateSection">
                <span class="darkblue signupDate">{{getDate(class)}}</span>
                <span class="darkblue signupTime">{{getTime(class)}} {{timezone}}</span>
              </div>
              <div class="signupSelect text-center">
                <span class="gray">Select</span>
              </div>
            </a>
          </div>
          <div class="col-sm-4 mb16 visible-xs text-center">
              <a ng-click = "bookIntroClass(class)" href="" class="signupScheduler">
                <div class="signupDateSection">
                  <span class="darkblue signupDate">{{getDate(class)}}</span>
                  <span class="darkblue signupTime">{{getTime(class)}} {{timezone}}</span>
                </div>
              </a>
            </div>
        </div>
    </div>
  </section>
</div>

<div class="main-container" ng-hide = "newUserStep != 2">
  <section>
    <div class="container white-section page-4">
      <div class="col-sm-12 mb56 text-center">
        <!-- <h1 class="darkblue mb8">Your Intro class has been reserved!</h1> -->
        <h1 class="darkblue mb8">Welcome to BODY!</h1>
        <!-- <h4 class="gray mb0">{{getDate(bookedIntroClass)}}</h4>
        <h4 class="gray mb8">{{getTime(bookedIntroClass)}} {{timezone}}</h4> -->
        <!-- <addtocalendarbigimage
          ng-if = "bookedIntroClass"
          start-date= "{{calendarDateSetter(bookedIntroClass)}}"
          end-date="{{calendarDateSetterEnd(bookedIntroClass)}}"
          title="Intro BODY Class!"
          location="https://www.getbodyapp.com/"
          class-name="btn btn-sm btn-default dropdown-toggle mb0"
          description="Get fired up! You've got a BODY Class reserved. Please join 5 minutes in advance if possible. We are excited to workout with you!"
          btn-text="Add to calendar"           
        ></addtocalendarbigimage>
        <h3 class = "mt0">Add to Calendar</h3> -->
      </div>
      <div class="col-sm-6">
        <h3 class="royalblue mb16">A few tips before your first class</h3>
        <ul id="bullet-list">
          <li><h5 class="mb0">Set your computer low to the ground ~4ft away.</h5></li>
          <li><h5 class="mb0">Download Google Chrome before you join class. <a href="https://www.google.com/chrome/browser/desktop/" target="_blank">Download here.</a></h5></li>
          <li><h5 class="mb0">Make sure your computer is connected to the internet.</h5></li>
          <li><h5 class="mb0">Clear a safe space to move freely.</h5></li>
        </ul>
      </div>
      <div class="col-sm-6">
        <img src="/assets/images/icons/workout-setup.png">
      </div>
      <div class="col-sm-12 mt32 text-center">
        <a href="" class="btn" ng-click = "goToDashboard()">Continue to your dashboard</a>                
      </div>
    </div>
  </section>
</div>

<div ng-include="'components/footer/footer.html'"></div>