.page-5 {
  margin-top: 4%;
  margin-bottom: 10%;
}
.page-5 h1 {
  font-size: 28px;
  line-height: 40px;
  margin-bottom: 16px;
}
.page-5 h2 {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 16px;
  width: 80%;
}
.page-5 .day {
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 5px;
  color: #0D1C45;
  font-weight: 600;
}
.page-5 .time {
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 0px;
  color: #0D1C45;
  margin-bottom: 5px;
}
.page-5 li {
  color: #0D1C45;
}
.page-5 .btn {
  border: 2px solid #0D1C45;
  padding: 10px 16px;
  height: auto;
  min-width: 200px;
  font-weight: 600;
  letter-spacing: 1px;
  background: #fff;
  border-radius: 8px;
  color: #0D1C45;
  text-align: center;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  font-size: 20px;
}
.page-5 .btn:hover {
  background: #0D1C45;
  border: 2px solid #0D1C45;
  color: #fff !important;
}