.user-social-image {
  top: 0px;
  left: 40%;
  z-index: 1;
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 50%;
  height: 120px;
  width: 120px;
  border: 3px solid #fff;
  margin-left: 50px;
}

.facebook-social-image {
  position: relative;
  top: 32px;
  left: -42px;
  z-index: 3;
}

.large-input-box {
  width: 85%;
  height: 100px;
  border: 2px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  background: #fff
}
.small-input-box {
  width: 22%;
  height: auto;
  border: 2px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  background: #fff
}
.medical-disclaimer {
  font-size: 13px;
  line-height: 14px;
}
.large-input-box::-webkit-input-placeholder {
 font-size: 14px !important;
 font-weight: 400 !important;
 color: #525252 !important;
 text-transform: none !important;
 font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif !important
}
.small-input-box::-webkit-input-placeholder {
 font-size: 14px !important;
 font-weight: 400 !important;
 color: #525252 !important;
 text-transform: none !important;
 font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif !important
}
ul#bullet-list {
  list-style-type: disc !important;
  padding-left: 20px;
}
.signupScheduler .signupDateSection {
  padding: 20px;
  border: 3px solid #0D1c45;
  background: #fff;
  border-radius: 5px;
  width: 260px;
  margin-bottom: 5px;
}
.signupScheduler .signupSelect {
  padding: 10px;
  border: 3px solid #0D1c45;
  background: #fff;
  border-radius: 5px;
  width: 260px;
}
.signupScheduler:hover .signupDateSection {
  background: #0D1c45;
}
.signupScheduler:hover .signupSelect {
  background: #0D1c45;
}
.signupScheduler:hover .signupDateSection span, .signupScheduler:hover .signupSelect span {
  color: #fff !important;
}
.signupDate {
  font-size: 18px;
  display: block;
}
.signupTime {
  font-size: 24px;
  display: block;
}