<footer class="footer-2 bg-dark text-center-xs" >
  <div class="container">
    <div class="row">
      <div class="col-sm-2">
        <a href="/schedule"><img class="image-xxs fade-half" alt="Pic" src="../../assets/images/BodyLogo_white.png"></a>
      </div>
    
      
    
      <div class="col-sm-8 text-center">
        <span class="fade-half">
          © Copyright 2015 BODY Inc. - All Rights Reserved
        </span>
      </div><div class="col-sm-2 text-right text-center-xs">
        <ul class="list-inline social-list">
          
          <li><a href="#"><i class="ti ti-instagram"></i></a></li><li><a href="#"><i class="ti-facebook"></i></a></li><li><a href="#"><i class="ti ti-twitter-alt"></i></a></li>
          
          
        </ul>
      </div>
    </div>
  </div>                
</footer>