<link href="assets/themify-icons.css" rel="stylesheet" type="text/css" media="all" />
<link href="assets/fonts/font-awesome.css" rel="stylesheet" type="text/css" media="all" />
<footer>
        <div class="footer-nav">
          <div class="footer-nav-container">
            <div class="row">
              <div class="col-sm-2">
                <a href="/schedule"><img class="image-xxs" src="assets/images/BodyLogo_white.png"></a>
              </div>
              <div class="col-sm-2 on-dark">
                <h5 class="purpleblue">Learn More</h5>
                <ul>
                  <li><a href="/program">Program</a></li>
                  <li><a href="/coaching">Coaching</a></li>
                  <li><a href="/experience">Experience</a></li>
                </ul>
              </div>
              <div class="col-sm-2 on-dark">
                <h5 class="purpleblue">Community</h5>
                <ul>
                  <li><a href="/about">About us</a></li>
                  <li><a href="/faq">FAQ</a></li>
                  <li><a href="/blog">Blog</a></li>
                </ul>               
              </div>
              <div class="col-sm-3 on-dark">
                <h5 class="purpleblue">Have Questions</h5>
                <ul>
                  <li><a href="mailto:support@getbodyapp.com?Subject=Question%20About%20BODY">Support@getbodyapp.com</a></li>
                </ul>               
              </div>              
              <!-- <div class="col-sm-3 on-dark"> -->
                <!-- <h5>BODY VIP</h5> -->
                <!-- <a href="http://vip.getbodyapp.com" target="_blank" class="btn-footer">Be in the know</a> -->
                <!-- <p class="small mt8">Earn sweet perks and gear.</p> -->
              </div>                                          
            </div>
          </div>
        </div>
        <div class="footer-copyright">
          <div class="footer-copyright-container">
            <div class="row hidden-xs">
              <div class="module left">
                <p class="copyright-text">Copyright 2015 Body App Inc. All Rights Reserved.&nbsp;&nbsp;<a href="/terms">Terms &amp; Policies</a></p>
              </div>
              <div class="module right on-dark">
                <p class="copyright-text-social">Follow us on:&nbsp;&nbsp;&nbsp;<a href="https://www.instagram.com/body_app/" target="_blank"><i class="ti ti-instagram"></i></a>&nbsp;&nbsp;&nbsp;<a href="https://www.facebook.com/bodyapp/" target="_blank"><i class="ti-facebook"></i></a></p>
              </div>              
            </div>
            <div class="row visible-xs">
              <div class="text-center mt8 mb8">
                <p class="white copyright-text-social">Follow us on:&nbsp;&nbsp;&nbsp;<a href="https://www.instagram.com/body_app/" target="_blank"><i class="white ti ti-instagram"></i></a>&nbsp;&nbsp;&nbsp;<a href="https://www.facebook.com/bodyapp/" target="_blank"><i class="white ti-facebook"></i></a></p>
              </div>                 
              <div class="module text-center">
                <p class="copyright-text">Copyright 2015 Body App Inc. All Rights Reserved.&nbsp;&nbsp;<a href="/terms">Terms &amp; Policies</a></p>
              </div>           
            </div>                        
          </div>
        </div>        
      </footer>