<link href="assets/themify-icons.css" rel="stylesheet" type="text/css" media="all" />
<footer>
        <div class="footer-nav">
          <div class="footer-nav-container">
            <div class="row">
              <div class="col-sm-2">
                <a href="#"><img class="image-xxs" src="assets/images/BodyLogo_white.png"></a>
              </div>
              <div class="col-sm-2 on-dark">
                <h5>Learn More</h5>
                <ul>
                  <li><a href="">Program</a></li>
                  <li><a href="">How it Works</a></li>
                </ul>
              </div>
              <div class="col-sm-2 on-dark">
                <h5>Community</h5>
                <ul>
                  <li><a href="/team">Our Team</a></li>
                  <li><a href="">FAQ</a></li>
                </ul>               
              </div>
              <div class="col-sm-3 on-dark">
                <h5>Have Questions</h5>
                <ul>
                  <li><a href="">Email Us</a></li>
                  <li><a href="">Text or Call</a></li>
                </ul>               
              </div>              
              <div class="col-sm-3 on-dark">
                <h5>BODY with Friends</h5>
                <a href="" class="btn-footer">Invite</a>
                <p class="small mt8">Get a free month for every<br>friend that signs up.</p>
              </div>                                          
            </div>
          </div>
        </div>
        <div class="footer-copyright">
          <div class="footer-copyright-container">
            <div class="row">
              <div class="module left">
                <p class="copyright-text">Copyright 2015 Body App Inc. All Rights Reserved.&nbsp;&nbsp;<a href="">Privacy</a>&nbsp;&nbsp;<a href="">Terms</a></p>
              </div>
              <div class="module right on-dark">
                <p class="copyright-text-social">Follow us on:&nbsp;&nbsp;&nbsp;<a href="#"><i class="ti ti-instagram"></i></a>&nbsp;&nbsp;&nbsp;<a href="#"><i class="ti-facebook"></i></a></p>
              </div>              
            </div>
          </div>
        </div>        
      </footer>