<div class="col-md-12" >
  <div class="panel space-4" ng-show = "toSetup" ng-controller="StudioWalkthroughCtrl">
    <div class="panel-body" >
      <div class="row">
        <div class="col-sm-12">
          <div class="studio-setup-shrink">
            <a href="#" ng-click = "collapse = !collapse">
              <i ng-class="{'ti-angle-double-up': !collapse, 'ti-angle-double-down': collapse}">
                <md-tooltip md-direction="bottom">
                <span ng-show="!collapse">Collapse</span><span ng-show="collapse">Expand</span>
              </md-tooltip>
              </i>
            </a>
            <!-- <a href="#" ng-show = "collapse" ng-click = "collapse = !collapse">
              <i class="ti-angle-double-down">
                <md-tooltip md-direction="bottom">Expand</md-tooltip>
              </i>
            </a> -->
          </div>
          <a class="studio-setup-header" ng-click = "collapse = !collapse">
            <h4>Finish setting up your studio</h4>
            <hr class="content-divider mt16 mb16" ng-show = "!collapse">
          </a>
        </div>
      </div>
      <div class="studio-setup-notifications" ng-show = "!collapse">
        <ul class="notifications">
          <li ng-show = "toSetup.images">
            <div class="row">
              <div class="col-sm-11">
                <a ng-href="/studios/{{studioId}}/storefrontinfo">Add icon and header images <i class="fa fa-caret-right"></i></a>
              </div>
              <div class="col-sm-1 text-right">
                <!-- <a href="#"><i class="ti-close lightgray"></i></a> -->
              </div>
            </div>
          </li>
          <li ng-show = "toSetup.pricing">
            <div class="row">
              <div class="col-sm-11">
                <a ng-href="/studios/{{studioId}}/pricing">Set pricing for monthly members and/or drop ins <i class="fa fa-caret-right"></i></a>
              </div>
              <div class="col-sm-1 text-right">
                <!-- <a href="#"><i class="ti-close lightgray"></i></a> -->
              </div>
            </div>
          </li>
          <li ng-show = "toSetup.instructors">
            <div class="row">
              <div class="col-sm-11">
                <a ng-href="/studios/{{studioId}}/instructors">Add a position title and bio to your instructor profile <i class="fa fa-caret-right"></i></a>
              </div>
              <div class="col-sm-1 text-right">
                <!-- <a href="#"><i class="ti-close lightgray"></i></a> -->
              </div>
            </div>
          </li>
          <li ng-show = "toSetup.classTypes">
            <div class="row">
              <div class="col-sm-11">
                <a ng-href="/studios/{{studioId}}/classes">Create your first non-trial class type <i class="fa fa-caret-right"></i></a>
              </div>
              <div class="col-sm-1 text-right">
                <!-- <a href="#"><i class="ti-close lightgray"></i></a> -->
              </div>
            </div>
          </li>
          <li ng-show = "toSetup.playlists">
            <div class="row">
              <div class="col-sm-11">
                <a ng-href="/studios/{{studioId}}/music">Sync your Soundcloud account to add your playlists <i class="fa fa-caret-right"></i></a>
              </div>
              <div class="col-sm-1 text-right">
                <!-- <a href="#"><i class="ti-close lightgray"></i></a> -->
              </div>
            </div>
          </li>
          <li ng-show = "toSetup.workouts">
            <div class="row">
              <div class="col-sm-11">
                <a ng-href="/studios/{{studioId}}/workouts">Create and assign a workout to one of your class types <i class="fa fa-caret-right"></i></a>
              </div>
              <div class="col-sm-1 text-right">
                <!-- <a href="#"><i class="ti-close lightgray"></i></a> -->
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>