<link href='https://fonts.googleapis.com/css?family=Lato:300,400%7CRaleway:100,400,300,500,600,700%7COpen+Sans:400,500,600' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Oswald:300,400,600,700' rel='stylesheet' type='text/css'>

<div class="navbar-fixed-top" ng-controller="NavbarCtrl">
    <div class="nav-container">
        <nav>
            <div class="nav-bar">
                <div class="module left">
                    <a href="/">
                        <img ng-style = "logoStyle" ng-src="{{imageSrc}}">
                    </a>
                </div>
                <div class="module widget-handle mobile-toggle right visible-sm visible-xs" ng-click = "checkClickCorrect()">
                    <!-- <i class="ti-menu-alt loggedinHamburger"></i> -->
                    <a style = "line-height: 55px !important;">&#9776;</a>
                </div>                
                <div id="tour-results" class="module-group right" ng-show = "clicked">
                    <div class="module left">
                        <ul class="menu">
                            <!-- <li>
                                <a href="#">Sign In</a>
                            </li> -->
                            <li ng-show="!isCurrentStudioAdmin() && isLoggedIn() && (getCurrentUser().completedNewUserFlow || getCurrentUser().injuries || getCurrentuser().goals) && getCurrentUser().studioSubscriptions[studioId].status !== 'active'">
                              <p ng-class="{active: isActive('/schedule')}">
                                <a href="/" ng-click = "showMembershipModal()">Add Membership</a>
                              </p>
                            </li>
                            <li ng-show="isCurrentStudioAdmin() && isLoggedIn()">
                              <p ng-class="{active: isActive('/schedule')}">
                                <a ng-href="/studios/{{studioId}}/editschedule">Class Calendar</a>
                              </p>
                            </li> 
                            <li ng-show="isCurrentStudioAdmin() && isLoggedIn()">
                              <p ng-class="{active: isActive('/schedule')}">
                                <a ng-href="/studios/{{studioId}}/classes">Studio Setup</a>
                              </p>
                            </li>                   
                            <li ng-show="!isCurrentStudioAdmin() && isLoggedIn() && (getCurrentUser().completedNewUserFlow || getCurrentUser().injuries || getCurrentuser().goals)">
                              <p ng-class="{active: isActive('/schedule')}">
                                <a href="/schedule">Dashboard</a>
                              </p>
                            </li>
                            <!-- <li ng-show="isLoggedIn() && (getCurrentUser().completedNewUserFlow || getCurrentUser().injuries || getCurrentuser().goals)">
                              <p ng-class="{active: isActive('/results')}">
                                <a href="/results">Results</a>
                              </p>
                            </li> -->
                            <!-- <li ng-show="isLoggedIn() && (getCurrentUser().completedNewUserFlow || getCurrentUser().injuries || getCurrentuser().goals)">
                              <p ng-class="{active: false}">
                                <a href = "#" ng-click="openSpreadTheWordModal()">Share</a>
                              </p>
                            </li> -->
<!--                             <li ng-show="isLoggedIn() && (getCurrentUser().completedNewUserFlow || getCurrentUser().injuries || getCurrentuser().goals)">
                              <p ng-class="{active: isActive('/results')}">
                                <a href="http://vip.getbodyapp.com" target="_blank">VIP</a>
                              </p>
                            </li> -->
                            <li ng-show="isLoggedIn() && (getCurrentUser().completedNewUserFlow || getCurrentUser().injuries || getCurrentuser().goals)" ng-class="{active: isActive('/settings')}">
                              <a href="/settings">
                                Hi {{getCurrentUser().firstName}}
                              </a>
                            </li>
                            <li ng-show="isLoggedIn()" ng-class="{active: isActive('/logout')}">
                              <a href="" ng-click="logout()">Logout</a>
                            </li>
                            <li ng-show="!isLoggedIn()" ng-class="{active: isActive('/login')}">
                              <a id="#nav-fb-login" href="#" ng-click="signUp()">Sign up</a>
                            </li>
                            <li ng-show="!isLoggedIn()" ng-class="{active: isActive('/login')}">
                              <a id="#nav-fb-login" href="#" ng-click="loginOauth('facebook')">Log in</a>
                            </li>                                                        
                        </ul>
                    </div>
                </div>
                <div id="tour-results" class="module-group right visible-md visible-lg">
                  <div class="module left">
                    <ul class="menu">
                        <!-- <li>
                            <a href="#">Sign In</a>
                        </li> -->
                        <li ng-show="!isCurrentStudioAdmin() && isLoggedIn() && (getCurrentUser().completedNewUserFlow || getCurrentUser().injuries || getCurrentuser().goals) && getCurrentUser().studioSubscriptions[studioId].status !== 'active'">
                          <p ng-class="{active: isActive('/schedule')}">
                            <a href="/" ng-click = "showMembershipModal()">Add Membership</a>
                          </p>
                        </li>                    
                        <li ng-show="isCurrentStudioAdmin() && isLoggedIn()">
                          <p ng-class="{active: isActive('/schedule')}">
                            <a ng-href="/studios/{{studioId}}/editschedule">Class Calendar</a>
                          </p>
                        </li>
                        <li ng-show="isCurrentStudioAdmin() && isLoggedIn()">
                          <p ng-class="{active: isActive('/schedule')}">
                            <a ng-href="/studios/{{studioId}}/classes">Studio Setup</a>
                          </p>
                        </li>
                        <li ng-show="!isCurrentStudioAdmin() && isLoggedIn() && (getCurrentUser().completedNewUserFlow || getCurrentUser().injuries || getCurrentuser().goals)">
                          <p ng-class="{active: isActive('/schedule')}">
                            <a href="/schedule">Dashboard</a>
                          </p>
                        </li>
                       <!--  <li ng-show="isLoggedIn() && (getCurrentUser().completedNewUserFlow || getCurrentUser().injuries || getCurrentuser().goals)">
                          <p ng-class="{active: isActive('/results')}">
                            <a href="/results">Results</a>
                          </p>
                        </li> -->
                        <!-- <li ng-show="isLoggedIn() && (getCurrentUser().completedNewUserFlow || getCurrentUser().injuries || getCurrentuser().goals)">
                          <p ng-class="{active: false}">
                            <a href = "#" ng-click="openSpreadTheWordModal()">Share</a>
                          </p>
                        </li> -->
  <!--                       <li ng-show="isLoggedIn() && (getCurrentUser().completedNewUserFlow || getCurrentUser().injuries || getCurrentuser().goals)">
                          <p ng-class="{active: isActive('/results')}">
                            <a href="http://vip.getbodyapp.com" target="_blank">VIP</a>
                          </p>
                        </li> -->
                        <li ng-show="isLoggedIn() && (getCurrentUser().completedNewUserFlow || getCurrentUser().injuries || getCurrentuser().goals)" ng-class="{active: isActive('/settings')}">
                          <a href="/settings">
                            <img class="nav-profile-pic" src="{{getCurrentUser().picture}}"> Hi, {{getCurrentUser().firstName}}
                          </a>
                        </li>
                        <li ng-show="isLoggedIn()" ng-class="{active: isActive('/logout')}">
                          <a href="" ng-click="logout()">Logout</a>
                        </li>
                        <li ng-show="!isLoggedIn()" ng-class="{active: isActive('/login')}">
                          <a id="#nav-fb-login" href="#" ng-click="signUp()">Sign up</a>
                        </li>
                        <li ng-show="!isLoggedIn()" ng-class="{active: isActive('/login')}">
                          <a id="#nav-fb-login" href="#" ng-click="loginOauth('facebook')">Log in</a>
                        </li>                        
                    </ul>
                  </div>
              </div>
            </div>
        </nav>
    </div>       
</div>
