

<!-- <div class="nav-bar" ng-controller="NavbarCtrl">
  <div class="module left">
      <a href="index.html">
          <img class="logo logo-dark" ng-style="logoStyle" alt="Body" ng-mouseover="hover(this); logoStyle={'background-color':'#0D1C45'}" ng-mouseleave = "unhover(this);" ng-src={{imageSrc}}>
      </a>
  </div>
  <div class="module widget-handle mobile-toggle right visible-sm visible-xs">
      <i class="ti-menu"></i>
  </div>
  <div class="module-group right">
      <div class="module left">
          <ul class="menu">
              
              <li ng-show="isLoggedIn() && (isAdmin())"><p ng-class="{active: isActive('/createclass')}"><a href="/createclass">Create Class</a></p> </li>

              <li ng-show="isLoggedIn()"><p ng-class="{active: isActive('/schedule')}"><a href="/schedule">Dashboard</a></p> </li>

              <li ng-show="isLoggedIn()" ng-class="{active: isActive('/settings')}">
                <a href="/settings">
                  Hi {{getCurrentUser().nickName}}
                  
                </a>
              </li>
              <li ng-show="isLoggedIn()" ng-class="{active: isActive('/logout')}"><a href="" ng-click="logout()">Logout</a></li>

          </ul>
      </div>
  </div>
                
</div> -->



<link href='http://fonts.googleapis.com/css?family=Lato:300,400%7CRaleway:100,400,300,500,600,700%7COpen+Sans:400,500,600' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Oswald:300,400,600,700' rel='stylesheet' type='text/css'>

<div class="nav-bar" ng-controller="NavbarCtrl">
    <div class="nav-container">
        <nav>
            <div class="nav-bar">
                <div class="module left">
                    <a href="#">
                        <img class="logo" src="assets/images/BodyLogo_blue_small.png">
                    </a>
                </div>
                <div class="module-group right">
                    <div class="module left">
                        <ul class="menu">
                            <!-- <li>
                                <a href="#">Sign In</a>
                            </li> -->
                            <li ng-show="isLoggedIn()">
                              <p ng-class="{active: isActive('/schedule')}">
                                <a href="/schedule">Dashboard</a>
                              </p>
                            </li>
                            <li ng-show="isLoggedIn()" ng-class="{active: isActive('/settings')}">
                              <a href="/settings">
                                Hi {{getCurrentUser().nickName}}
                              </a>
                            </li>
                            <li ng-show="isLoggedIn()" ng-class="{active: isActive('/logout')}">
                              <a href="" ng-click="logout()">Logout</a>
                            </li>
                            <li ng-show="!isLoggedIn()" ng-class="{active: isActive('/login')}">
                              <a href="" ng-click="login()">Login</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </div>       
</div>
