<!-- <div class="navbar navbar-default navbar-static-top" ng-controller="NavbarCtrl">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" ng-click="isCollapsed = !isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="" style="float: left; display: relative"><img src="assets/images/body-app-logo-header.png" alt="Body App"></a>
    </div>
    <div collapse="isCollapsed" class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li ng-repeat="item in menu" ng-class="{active: isActive(item.link)}">
            <a ng-href="{{item.link}}">{{item.title}}</a>
        </li>
        <li ng-show="isAdmin()" ng-class="{active: isActive('/admin')}"><a href="/admin">Admin</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li ng-hide="isLoggedIn()" ng-class="{active: isActive('/signup')}"><a href="/signup">Sign up</a></li>
        <li ng-hide="isLoggedIn()" ng-class="{active: isActive('/login')}"><a href="/login">Login</a></li>
        <li ng-show="isLoggedIn()"><p class="navbar-text"><a href="/schedule">Dashboard</a></p> </li>
        <li ng-show="isLoggedIn()"><p class="navbar-text">{{ getCurrentUser().name[0].toUpperCase() + getCurrentUser().name.substr(1) }}</p> </li>
        <li ng-show="isLoggedIn()" ng-class="{active: isActive('/settings')}"><a href="/settings"><span class="glyphicon glyphicon-cog"></span></a></li>
        <li ng-show="isLoggedIn()" ng-class="{active: isActive('/logout')}"><a href="" ng-click="logout()">Logout</a></li>
      </ul>
    </div>
  </div>
</div> -->

<div class="nav-bar" ng-controller="NavbarCtrl">
  <div class="module left">
      <a href="index.html">
          <img class="logo logo-dark" ng-style="logoStyle" alt="Body" ng-mouseover="hover(this); logoStyle={'background-color':'#0D1C45'}" ng-mouseleave = "unhover(this);" ng-src={{imageSrc}}>
      </a>
  </div>
  <div class="module widget-handle mobile-toggle right visible-sm visible-xs">
      <i class="ti-menu"></i>
  </div>
  <div class="module-group right">
      <div class="module left">
          <ul class="menu">
              <!-- <li ng-hide="isLoggedIn()" ng-class="{active: isActive('/signup')}"><a href="/signup">Sign Up</a></li> -->
              <!-- <li ng-hide="isLoggedIn()" ng-class="{active: isActive('/login')}"><a href="/login">Login</a></li> -->
              <li ng-show="isLoggedIn() && (isAdmin())"><p ng-class="{active: isActive('/createclass')}"><a href="/createclass">Create Class</a></p> </li>
              <!-- <li ng-show="isLoggedIn() && (isAdmin() || isInstructor())"><p ng-class="{active: isActive('/createclass')}"><a href="/createclass">Create Class</a></p> </li> -->
              <li ng-show="isLoggedIn()"><p ng-class="{active: isActive('/schedule')}"><a href="/schedule">Dashboard</a></p> </li>
              <!-- <li ng-show="isLoggedIn()"><p ng-class="{active: isActive('/results')}"><a href="/results">Results</a></p> </li> -->
              <li ng-show="isLoggedIn()" ng-class="{active: isActive('/settings')}">
                <a href="/settings">
                  Hi {{getCurrentUser().nickName}}
                  <!-- <span class="glyphicon glyphicon-cog"></span> -->
                </a>
              </li>
              <li ng-show="isLoggedIn()" ng-class="{active: isActive('/logout')}"><a href="" ng-click="logout()">Logout</a></li>
<!--                  <li>
                  <a href="#">DASHBOARD</a>
              </li><li>
                  <a href="#">RESULTS</a>
              </li><li>
                  <a href="#" class="inner-link" target="_self"><i class="ti-user"></i>&nbsp;PROFILE</a>
              </li> -->
          </ul>
      </div>
  </div>
                
</div>
