<div ng-controller="SideNavbarCtrl">
  <ul class="sidenav-list">
    <li>
      <a ng-href="/studios/{{studioId}}/storefrontinfo" class="sidenav-item" ng-class = "{'sidenav-item-selected': selectedTab === 'storefrontinfo'}" ng-click="selectedTab = 'classes';">Storefront Info</a>
    </li>
    <li>
      <a ng-href="/studios/{{studioId}}/pricing" class="sidenav-item" ng-class = "{'sidenav-item-selected': selectedTab === 'pricing'}" ng-click="selectedTab = 'pricing';">Pricing</a>
    </li>                            
    <li>
      <a ng-href="/studios/{{studioId}}/classes" class="sidenav-item" ng-class = "{'sidenav-item-selected': selectedTab === 'classes'}" ng-click="selectedTab = 'classes';">Classes</a>
    </li>
    <li>
      <a ng-href="/studios/{{studioId}}/instructors" class="sidenav-item" ng-class = "{'sidenav-item-selected': selectedTab === 'instructors'}" ng-click="selectedTab = 'instructors';">Instructors</a>
    </li>
    <li>
      <a ng-href="/studios/{{studioId}}/music" class="sidenav-item" ng-class = "{'sidenav-item-selected': selectedTab === 'music'}" ng-click="selectedTab = 'music';">Music</a>
    </li>
    <li>
      <a ng-href="/studios/{{studioId}}/workouts" class="sidenav-item" ng-class = "{'sidenav-item-selected': selectedTab === 'workouts'}" ng-click="selectedTab = 'workouts';">Workouts</a>
    </li>
    <li>
      <a ng-href="/studios/{{studioId}}/members" class="sidenav-item" ng-class = "{'sidenav-item-selected': selectedTab === 'members'}" ng-click="selectedTab = 'members';">Your Members</a>
    </li> 
    <li>
      <a ng-href="/studios/{{studioId}}/editschedule" class="sidenav-item" ng-class = "{'sidenav-item-selected': selectedTab === 'classschedule'}" ng-click="selectedTab = 'classschedule';">Class Schedule</a>
    </li> 
  </ul>
 </div>