<div ng-controller="SideNavbarCtrl">
  <ul class="sidenav-list">
    <li>
      <a href="/studios/:studioId/classes" class="sidenav-item sidenav-item-selected">Classes</a>
    </li>
    <li>
      <a href="/studios/:studioId/instructors" class="sidenav-item">Instructors</a>
    </li>
    <li>
      <a href="/studios/:studioId/music" class="sidenav-item">Music</a>
    </li>
    <li>
      <a href="/studios/:studioId/workouts" class="sidenav-item">Workouts</a>
    </li>
    <li>
      <a href="/studios/:studioId/members" class="sidenav-item">Your Members</a>
    </li> 
    <li>
      <a href="/studios/:studioId/pricing" class="sidenav-item">Pricing</a>
    </li>                            
  </ul>
 </div>