<div ng-controller="user-sideNavBar-classesCtrl">
  <ul class="sidenav-list">
    <li>
      <a href="/studios/:studioId/user/user-schedule" class="sidenav-item sidenav-item-selected">Schedule</a>
    </li>
    <li>
      <a href="/studios/:studioId/user/friends" class="sidenav-item">Friends</a>
    </li>
    <li>
      <a href="/studios/:studioId/user/user-workouts" class="sidenav-item">Workouts</a>
    </li>
    <li>
      <a href="/studios/:studioId/user/test-class" class="sidenav-item">Test Class</a>
    </li>
  </ul>
 </div>