<div ng-include="'components/navbar/navbar.html'" class = "mb70"></div>

<div class="page-container-responsive row-space-top-4 row-space-4">
  <div class="row">
    
    <div class="col-md-3">    <!--  LEFT COLUMN BEGIN -->
      <img ng-src="https://graph.facebook.com/{{currentUser.facebookId}}/picture?width=500&height=500" class="mb0" width="100%">
      <div class="panel panel-member text-center">
        <h4>{{currentUser.firstName}}</h4>
        <a href="#" ng-click="editProfileClicked()">Edit Profile</a>
      </div>

      <div class="panel">
        <div class="panel-header">
          Quick Links
        </div>
        <div class="panel-body">
          <ul>
            <!-- <li class="mb8">
              <a href="#">Class Schedule</a>
            </li> -->
            <!-- <li class="mb8">
              <a href="#" ng-click="dashboardClicked()">Dashboard</a>
            </li> -->
            <li class="mb8">
              <a href="#" ng-click="friendsClicked()">Friends</a>
            </li>
            <!-- <li class="mb8">
              <a href="#" ng-click="nutritionClicked()">Nutrition</a>
            </li> -->
            <!-- <li>
              <a href="#">Workouts</a>
            </li> -->
          </ul>
        </div>
      </div>
    </div>     <!--  LEFT COLUMN END -->

    <div class="col-md-9">

      <div class="row mb32">
        <div class="col-md-4">
          <div class="dashboard-cards">
            <h5 class="mb8">Minutes in Past Week</h5>
            <div class="dashboard-cards-content text-center">
              <round-progress
                max="100"
                current="maxMinutesTaken"
                color="#45ccce"
                bgcolor="#eaeaea"
                radius="100"
                stroke="20"
                semi="false"
                rounded="true"
                clockwise="false"
                responsive="true"
                duration="0"
                animation="linearEase"
                animation-delay="0"></round-progress>
              <div class="dashboard-cards-icon">
                <i class="ti-timer" style="font-size:50px;"></i>
                <h3>{{minutesTaken}}</h3>
                <h5 class="lightgray">of 100</h5>
              </div>
              
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="dashboard-cards">
            <h5 class="mb24">Your Classes</h5>
            <div class="dashboard-cards-content">
              <h4 class="royalblue mb48"><span style="font-size: 90px;">{{numUserBookings}}</span> upcoming</h4>
              <h4 class="lightgray"><span style="font-size: 90px;">{{classesAllTime}}</span> all time</h4>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="dashboard-cards">
            <h5 class="mb24">Your Studios</h5>
            <table class="table table-condensed table-hover cal-list-table">
                <thead>
                  <tr>
                    <th>Studio ID</th>
                    <th>Taken</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat = "(studioId, studioInfo) in myStudios" ng-click = "goToStudio(studioId)">
                    <td>{{studioId}}</td>
                    <td>{{studioInfo}}</td>
                  </tr>
                </tbody>
              </table>
          </div>
          <!-- 
          MY PROGRESS BEFORE ANYTHING IS UPLOADED
          <div class="dashboard-cards">
            <h5 class="mb16">My Progress</h5>
            <div class="dashboard-cards-content text-center">
              <div class="dashboard-cards-icon-rel pt16 mb16">
                <i class="ti-camera" style="font-size:50px;"></i>
              </div>
              <h5>It's time to take your first progress photo.</h5>
              <a href="#" class="btn btn-collapse mt16"><i class="ti-cloud-up"></i> Upload Photo</a>
            </div>
          </div> -->

          <!--           
          UPLOAD YOUR TRANSFORMATION MODAL
          <div class="modal-body">
            <div class="cancel-modal" href="#" ng-click = "closeModal()">
              <span><i class="ti-close"></i></span>
            </div>

            <div class="class-booked">
              <span class="white"><i class="fa fa-check-circle-o"></i> Looking good!</span>
            </div>

            <div class="class-booked-content text-center">
              <a href="#" class="mb16">upload a different photo?</a>
              <div class="transformation-photo-upload mb16" style="background-image:url('assets/images/justin-transformation.jpg');"></div>

              <div class="row mb8">
                <label class="col-sm-3" for="trans-week">
                  Week
                </label>
                <div class="col-sm-9">
                  <input id="last-name" size="30" type="text" value="e.g. 1">
                </div>            
              </div>
              <div class="row mb8">
                <label class="col-sm-3" for="trans-weight">
                  Weight (lbs)
                </label>
                <div class="col-sm-9">
                  <input id="trans-weight" size="30" type="text" value="e.g. 150">
                </div>            
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <ul class="panel-action-list">
                    <li>
                      <a href="#" class="panel-action-item">Cancel</a>
                    </li>
                    <li>
                      <a href="#" class="panel-action-item btn-primary btn">Save</a>
                    </li>
                  </ul>              
                </div>
              </div>  
            </div>
          </div> -->

<!--           <div class="dashboard-cards">
            <h5 class="mb16">My Progress</h5>
            <div class="dashboard-cards-content text-center">
              <div class="transformation-photo">
                <img src="assets/images/justin-transformation.jpg">
                <div class="transformation-overlay text-left">
                  <h5 class="white">Week 1</h5>
                  <h5 class="white">185 lbs</h5>
                </div>
              </div>
              <div class="transformation-photo">
                <img src="assets/images/justin-transformation.jpg">
                <div class="transformation-overlay text-left">
                  <h5 class="white">Week 2</h5>
                  <h5 class="white">180 lbs</h5>
                </div>
              </div>
              <a href="#" class="btn btn-collapse mt16"><i class="ti-cloud-up"></i> Upload Latest</a>
            </div>
          </div> -->
        </div>
      </div>
      
      <!-- <div class="panel space-4">      
        <div class="panel-header">
          Notifications
        </div>
        <div class="panel-body">
          <ul class="notifications">
            <li>
              <div class="row">
                <div class="col-sm-11">
                  <a href="#">Book your first class. <i class="fa fa-caret-right"></i></a>
                </div>
                <div class="col-sm-1 text-right">
                  <a href="#"><i class="ti-close lightgray"></i></a>
                </div>
              </div>
            </li>
            <li>
              <div class="row">
                <div class="col-sm-11">
                  <a href="#">Add your phone number in case we need to contact you. <i class="fa fa-caret-right"></i></a>
                </div>
                <div class="col-sm-1 text-right">
                  
                </div>
              </div>
            </li>
            <li>
              <div class="row">
                <div class="col-sm-11">
                  <a href="#">Add your injury information and health goals for a more personalized experience. <i class="fa fa-caret-right"></i></a>
                </div>
                <div class="col-sm-1 text-right">
                  
                </div>
              </div>
            </li>
            <li>
              <div class="row">
                <div class="col-sm-11">
                  <a href="#">Confirm your email address. This is used for class updates. <i class="fa fa-caret-right"></i></a>
                </div>
                <div class="col-sm-1 text-right">
                  <a href="#"><i class="ti-close lightgray"></i></a>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div> -->     <!--  NOTIFICATIONS PANEL END -->

      <!--  REFERRAL PANEL
      <div class="panel space-4">  
        <div class="panel-body">
          <div class="row">
            <div class="col-sm-8">
              <h4 class="mb8">Invite friends, earn membership credit</h4>
              <h5 class="lightgray">Earn $15 for everyone you invite</h5>
            </div>
            <div class="col-sm-4 text-right">
              <a href="#" class="btn-blue">Membership Credit</a>
            </div>
          </div>
        </div>
      </div>-->

      <div class="panel mb24">    <!-- YOUR RESERVATIONS PANEL --> 
        <div class="panel-header">
          <div ng-show = "!nutritionActive">Your Reservations</div>
          <div ng-show = "nutritionActive">Nutrition</div>
          <!-- <div class="cal-controls text-left">
            <div class="select">
              <select>
                <option>All Studios</option>
              </select>
            </div>
          </div>           -->
        </div>
        <div class="panel-body" ng-show = "!nutritionActive">
          <div class="row">
            <div class="col-sm-12">
              <table class="table table-condensed table-hover cal-list-table">
                <thead>
                  <tr>
                    <th>Day</th>
                    <th>Time</th>
                    <th>Duration</th>
                    <th>Class</th>
                    <th>Instructor</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat = "class in userBookings" ng-click="goToClassInfo(class)">
                    <td>{{formatDate(class.classId)}}</td>
                    <!-- <td>Mon 05/09</td> -->
                    <td>{{formatTime(class.classId)}}</td>
                    <!-- <td>10:30a PDT</td> -->
                    <td>{{class.duration}} min</td>
                    <td>{{class.className}}</td>
                    <td>{{class.instructorFullName}}</td>
                  </tr>
                </tbody>
              </table>
              <div class = "mt16" ng-show = "!userBookings">You have no upcoming classes booked - click <a href="/discover">here</a> to find some!</div>
            </div>
          </div>

        </div>
        <div class="panel-body" ng-show = "nutritionActive">
          <div class="row">
            <div class="col-sm-12">
              <md-input-container>
              <label>Food To Search For</label>
              <input ng-model="foodString">
            </md-input-container>
            <md-button ng-click = "searchForFood(foodString)" type="submit">Search</md-button>
              <div id="nutritionLabel1"></div>
            </div>
          </div>
        </div>
      </div>   <!-- YOUR RESERVATIONS END --> 

      <!-- <div class="panel">
        <div class="panel-header">
          My Studios: Upcoming Classes
          <div class="cal-controls text-left">
            <div class="select">
              <select>
                <option>AbsoluteBody Pilates</option>
              </select>
            </div>
          </div>          
        </div>
        <div class="panel-body">
          Add week calendar view here
        </div>
      </div> -->

    </div>

  </div>
</div>

<div ng-include="'components/footer/footer.html'"></div>