<div ng-include="'components/navbar/navbar.html'" class = "mb72"></div>

<div class="page-container-responsive row-space-top-4 row-space-4">
  <div class="row">
    <div class="col-md-3">
      <div class="panel space-4">
        <div class="panel-header">
          Add class
        </div>
        <div class="panel-body">

          <div class="row">

            <label class="col-sm-12 pb0" for="class-time">
              Day and Time
            </label>

          </div>

          <div style = "color: red" ng-show = "dateTimeNotEntered">*Required</div>
          <div class="row mb8">
            <div class="col-sm-12" >
              <!-- <md-content>               -->
                <!-- <input type="text" placeholder="05/09/18"> -->
                <!-- <md-datepicker md-min-date="minDate" ng-model="workoutToCreate.date" md-placeholder="Enter date"></md-datepicker> -->
              <input mdc-datetime-picker="" date="true" min-date="minDate" time="true" type="text" id="datetime" placeholder="Enter date and time" ng-model="workoutToCreate.dateTime" short-time="true" format="M/D/Y hh:mm a" class="md-input">
              <!-- </md-content> -->
            </div>
          </div>


<!--           <div class="row mb8">
            <div class="col-lg-6">
              <label for="start-time" class="pb0">
                Start Time
              </label>
              <input mdc-datetime-picker="" date="false" time="true" type="text" id="time" short-time="true"
placeholder="Time" min-date="minDate" format="hh:mm a" ng-model="time" class=" md-input">
            </div>
            <div class="col-lg-6">
              <label for="start-time" class="pb0">
                End Time
              </label>
              <input type="text" id="start-time" placeholder="00:00PM">
            </div>            
          </div> -->

          <div class="row">
            <div class="col-sm-12">
              <span class="lightgray">Time zone:</span>
              <span class="lightgray">{{timezone}}</span>
              <!-- <div class="select hidden">
                <select>
                  <option>EDT</option>
                  <option>MDT</option>
                  <option>PDT</option>
                </select>
              </div> -->
              <!-- <a href="#" class="tiny">Change</a> -->
            </div>
          </div>
<!-- 
  REPEAT CLASS
          <div class="row mb8">
            <div class="col-sm-12 tiny">
              <input id="repeat-class" name="" size="15" type="checkbox">
              <label for="repeat-class" class="check-selector">
              Repeat
              </label>
            </div>
          </div>

          <div class="row mb8">
            <div class="col-sm-12">
              <label for="start-time" class="pb0">
                Repeat on
              </label>
              <table class="class-repeat-table">
                <thead>
                  <tr>
                    <th><input id="class-repeat-mon" name="class-mon" size="15" type="checkbox"></th>
                    <th><input id="class-repeat-tue" name="class-tue" size="15" type="checkbox"></th>
                    <th><input id="class-repeat-wed" name="class-wed" size="15" type="checkbox"></th>
                    <th><input id="class-repeat-thu" name="class-thu" size="15" type="checkbox"></th>
                    <th><input id="class-repeat-fri" name="class-fri" size="15" type="checkbox"></th>
                    <th><input id="class-repeat-sat" name="class-sat" size="15" type="checkbox"></th>
                    <th><input id="class-repeat-sun" name="class-sun" size="15" type="checkbox"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><label for="class-repeat-mon" class="check-selector">M</label></td>
                    <td><label for="class-repeat-tue" class="check-selector">T</label></td>
                    <td><label for="class-repeat-wed" class="check-selector">W</label></td>
                    <td><label for="class-repeat-thu" class="check-selector">T</label></td>
                    <td><label for="class-repeat-fri" class="check-selector">F</label></td>
                    <td><label for="class-repeat-sat" class="check-selector">S</label></td>
                    <td><label for="class-repeat-sun" class="check-selector">S</label></td>
                  </tr>
                </tbody>
              </table>
            </div>           
          </div>

          <div class="row mb8">
            <div class="col-sm-12">
              <label for="end-repeat" class="pb0">
                Repeat ends on
              </label>
              <input id="end-repeat" type="text" placeholder="05/09/18">
            </div>
          </div>
 -->          
          
          <div class="row mb8">
            <div class="col-sm-12">
              <label for="class-choice" class="pb0">
                Duration (minutes)
              </label>
              <div style = "color: red" ng-show = "durationNotEntered">*Required</div>
              <div class="select display-block">
                <select ng-change = "durationNotEntered = false;" id="class-choice" ng-model = "workoutToCreate.duration" ng-options = "value for value in durationOptions">
                  <!-- <option>Level One</option> -->
                </select>
              </div>
            </div>
          </div>

          <div class="row mb8">
            <div class="col-sm-12">
              <label for="class-choice" class="pb0">
                Class
              </label>
              <div style = "color: red" ng-show = "classTypeNotEntered">*Required</div>
              <div class="select display-block">
                <select id="class-choice" ng-model = "workoutToCreate.classType" ng-change = "selectClassType(workoutToCreate.classType) classTypeNotEntered = false;" ng-options = "value.name group by value.classType for (key, value) in classTypes">
                  <!-- <option>Level One</option> -->
                </select>
              </div>
            </div>
          </div>

          <div class="row mb8">
            <div class="col-sm-12">
              <label for="workout-choice" class="pb0">
                Workout
              </label>
              <div style = "color: red" ng-show = "workoutNotEntered">*Required</div>
              <div class="select display-block">
                <select id="workout-choice" ng-model = "workoutToCreate.workout" ng-options = "value as value.title for (key, value) in workoutOptions" ng-change = "workoutNotEntered = false;">
                  <!-- <option>Workout #34: Fight Gone Bad</option> -->
                </select>
              </div>
            </div>
          </div>

          <div class="row mb8">
            <div class="col-sm-12">
              <label for="instructor-choice" class="pb0">
                Instructor
              </label>
              <div style = "color: red" ng-show = "instructorNotEntered">*Required</div>
              <div class="select display-block">
                <select id="instructor-choice" ng-model = "workoutToCreate.instructor" ng-options = "value as (value.firstName + ' ' + value.lastName) for (key, value) in instructors" ng-change = "instructorNotEntered = false;">
                  <!-- <option>Beth Anne Lazaro (You)</option> -->
                </select>
              </div>
            </div>
          </div> 

          <div class="row mb8">
            <div class="col-sm-12">
              <label for="playlist-choice" class="pb0">
                Playlist
              </label>
              <div style = "color: red" ng-show = "playlistNotEntered">*Required</div>
              <div class="select display-block">
                <select id="playlist-choice" ng-model = "workoutToCreate.playlist" ng-options = "value as value.title for (key, value) in playlists" ng-change = "playlistNotEntered = false;">
                  <!-- <option>Top 20 Beats</option> -->
                </select>
              </div>
            </div>
          </div>

          <div class="space-top-4">
            <a href="#" class="btn-blue btn-block" ng-click = "saveWorkout(workoutToCreate)">Add to schedule</a>
          </div>


        </div>
      </div>
    </div>

    <div class="col-md-9">

<!--
******************************************************************************************************************************************** SCHEDULE VIEW **************************************************************************************************************************************************
-->
      <div class="panel">
        <div class="panel-header">
          Your Schedule
          <div class="cal-controls text-left">
            <!-- <a href="#" class="btn hidden-xs"><i class="bold ti-calendar"></i></a> -->
            <!-- <a href="#" class="btn">Today</a> -->
            <a href="#" class="btn" ng-click = "changeView()">
              <span style = "font-weight: bold;">Show</span>
              <span style = "font-weight: bold;" ng-show = "showListView">Week</span> 
              <span style = "font-weight: bold;" ng-show = "showWeekView">List</span> 
              <span style = "font-weight: bold;">View</span>
            </a>
            <a href="#" class="btn" ng-click = "changeWeek()">
              <span style = "font-weight: bold;" ng-show = "!showingNextWeek">Next</span> 
              <span style = "font-weight: bold;" ng-show = "showingNextWeek">Previous</span> 
              <span style = "font-weight: bold;">Week</span>
            </a>
            <!-- <a href="#" class="btn" ng-click = "showingNextWeek = false; showPreviousWeek()" ng-show = "showingNextWeek">Previous Week</a> -->
            <!-- <div class="select hidden-xs">
              <select>
                <option>Level One</option>
              </select>
            </div>
            <div class="select hidden-xs">
              <select>
                <option>Beth Anne L</option>
              </select>
            </div>
            <div class="select">
              <select>
                <option>Week View</option>
                <option>List View</option>
              </select>
            </div> -->
          </div>          
        </div>
        <div class="panel-body">

          <div class="row" ng-if = "showListView"> <!-- CALENDAR LIST VIEW -->
            <div class="col-sm-12">
              <table class="table table-condensed table-hover cal-list-table" ng-repeat = "dayShown in daysToShow">
                <thead>
                  <tr>
                    <th style = "width: 120px;">{{dayShown.formattedDate}}</th>
                    <th style = "width: 120px;">Class</th>
                    <th class="hidden-xs" style = "width: 120px;">Workout</th>
                    <th style = "width: 120px;">Instructor</th>
                    <th style = "width: 120px;" class="hidden-xs">Playlist</th>
                    <th class="hidden-xs">Sign Ups</th>
                    <th class="visible-xs">Reg</th>
                  </tr>
                </thead>
                <tbody ng-if = "class.dateTime > dayShown.beginDateTime && class.dateTime < dayShown.endDateTime" ng-repeat = "class in classSchedule">
                  <tr ng-click = "navigateToClassDetails(class.dateTime)">
                    <td>{{getFormattedDateTime(class.dateTime).classTime}} {{timezone}}</td>
                    <td>{{classTypes[class.classType].name}}</td>
                    <td class="hidden-xs">{{workouts[class.workout].title}}</td>
                    <td>{{instructors[class.instructor].firstName}} {{instructors[class.instructor].lastName}}</td>
                    <td class="hidden-xs">{{playlistObjects[class.playlist].title}}</td>
                    <td ng-if = "numBookingsByClass[class.dateTime]">{{getNumberOfBookings(class.dateTime)}} of {{class.spots}}</td>
                    <td ng-if = "!numBookingsByClass[class.dateTime]">None</td>
                  </tr>
                </tbody>
              </table>

              <!-- <table class="table table-condensed table-hover cal-list-table">
                <thead>
                  <tr>
                    <th>Tue 05/10</th>
                    <th>Class</th>
                    <th class="hidden-xs">Workout</th>
                    <th>Instructor</th>
                    <th class="hidden-xs">Playlist</th>
                    <th class="hidden-xs">Sign Ups</th>
                    <th class="visible-xs">Reg</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>10:30a-12p PDT</td>
                    <td>Level One</td>
                    <td class="hidden-xs">Workout #34: Fight Gone Bad</td>
                    <td>Beth Anne L</td>
                    <td class="hidden-xs">Top 20 Beats</td>
                    <td>3 of 12</td>
                  </tr>
                </tbody>
              </table>
 -->
            </div>

          </div>

          <div class="row" ng-if = "showWeekView"> <!-- CALENDAR WEEK VIEW -->
            <div class="col-sm-12">
              <div class="cal-container text-center">

                <div class="header-cover"></div>
                <!-- <div class="week-bck"><a href="#"><i class="bold ti-control-backward"></i></a></div> -->

                <div class="cal-column" ng-class = "'sched-day-'+($index+1)" ng-repeat = "dayShown in daysToShow"> <!-- REPEATED FOR NEXT DAY -->
                  <div class="cal-daytime">
                    <div class="cal-day">{{dayShown.formattedDayOfWeek}}</div>
                    <div class="cal-date">{{dayShown.formattedMonthAndDay}}</div>
                  </div>
                  <div class="cal-allClasses">
                    <div class="cal-scheduled text-left" ng-click = "navigateToClassDetails(class.dateTime)" ng-if = "class.dateTime > dayShown.beginDateTime && class.dateTime < dayShown.endDateTime && class.typeOfClass != 'Specialty'" ng-repeat = "class in classSchedule"> <!-- REPEATED FOR SCHEDULED CLASSES -->
                      <div class="cal-time bold">{{getFormattedDateTime(class.dateTime).classTime}} {{timezone}}</div>
                      <div class="cal-class">{{classTypes[class.classType].name}}</div>
                      <div class="cal-instructor">{{instructors[class.instructor].firstName}} {{instructors[class.instructor].lastName.charAt(0)}}</div>
                      <!-- <div class="cal-friends">2 friends</div> -->
                      <!-- <div class="cal-bubbles">
                        <img src="/assets/images/bern-prince.jpg" width="20" height="20">
                        <img src="/assets/images/bern-prince.jpg" width="20" height="20">
                        <img src="/assets/images/bern-prince.jpg" width="20" height="20">
                      </div> -->
                      <!-- <div class="cal-action">
                        <a href="#" class="btn btn-blue">Reserve</a>
                      </div> -->
                    </div>
                    

                <!-- <div class="week-fwd"><a href="#"><i class="bold ti-control-forward"></i></a></div> -->
              </div>

            </div>
          </div>


        </div>
      </div>
    </div>
  </div>



  <div class="specialty-class-container panel-dark mt16" ng-show = "specialtyClasses"> <!-- HIDE THIS IF NO SPECIALTY CLASSES -->
    <div class="panel-body">
      <h4 class="mb16">Upcoming Specialty Classes</h4>
      <ul class="specialty-class">
        <li ng-repeat = "specialtyClass in specialtyClasses"> <!-- REPEAT THIS FOR EACH SPECIALTY CLASS -->
          <div class="row pt16">
            <div class="col-sm-2">
              <h5>{{getFormattedDateTime(specialtyClass.dateTime).month}} {{getFormattedDateTime(specialtyClass.dateTime).day}}</h5>
              <h5>{{getFormattedDateTime(specialtyClass.dateTime).classTime}} {{timezone}}</h5>
            </div>
            <div class="col-sm-10">
              <div class="row">
                <div class="col-xs-12">
                  <div class="specialty-class-name">
                    <h4>{{classTypes[specialtyClass.classType].name}} (${{classTypes[specialtyClass.classType].specialtyClassRate}})</h4>
                    <a href="#" ng-click = "navigateToClassDetails(specialtyClass.dateTime)" class="btn-blue">Teach</a>
                  </div>
                </div>
              </div>
              <div class="row mt8">
                <div class="col-xs-12">
                  <h5>{{classTypes[specialtyClass.classType].classDescription}}</h5>
                </div>
              </div>
              <div class="row mt8">
                <div class="col-xs-5">
                  <div class="row">
                    <div class="col-xs-4">
                      <img class="round-photo" ng-src="{{instructors[specialtyClass.instructor].picture}}">
                    </div>
                    <div class="col-xs-8">
                      <h5>Instructor</h5>
                      <h5 class="lightgray">{{instructors[specialtyClass.instructor].firstName}} {{instructors[specialtyClass.instructor].lastName}}</h5>
                    </div>
                  </div>
                </div>
                <div class="col-xs-2">
                  <h5>Duration</h5>
                  <h5 class="lightgray">{{specialtyClass.duration}} min</h5>
                </div>
                <!-- <div class="col-xs-2">
                  <h5>Open To</h5>
                  <h5 class="lightgray">All</h5>
                </div> -->
                <div class="col-xs-2">
                  <h5>Requires</h5>
                  <div ng-repeat = "equipment in classTypes[specialtyClass.classType].equipment">
                    <h5 class="lightgray">{{equipment.name}}</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div> <!-- ENDS SPECIALTY CLASS SECTION -->

</div>


</div> <!-- ENDS COLUMN width 9 -->

</div> <!-- ENDS ROW -->
</div> <!-- ENDS Page container responsive -->

<div ng-include="'components/footer/footer.html'"></div>