<update-meta property="og:title" content="{{studioName}}"></update-meta>
<update-meta property="og:type" content="website"></update-meta>       
<update-meta property="og:image" content="{{backgroundImageUrl}}"></update-meta>
<update-meta property="og:description" content="{{studioLongDescription}}"></update-meta>      
<update-meta property="og:url" content="https://www.getbodyapp.com/studios/{{studioId}}"></update-meta>
<update-meta property="fb:app_id" content="501927126632986"></update-meta>
<div ng-include="'components/navbar/navbar.html'" class = "mb64 mb-sm-48"></div>

<div class="fullscreen-stories" tabindex="1" style="z-index:2001;" ng-show = "showFullscreenStory">
  <div class="row row-table row-full-height stories-container">
    <a href="#" id="close-fullscreen-hero" class="fullscreen-video-player-close" ng-click="showFullscreenStory = null" style="z-index:2002;">
      <i class="ti-close"></i>
    </a>
    <div class="col-xs-12 text-center col-middle">
      <div class="row">
        <div class="hidden-xs hidden-sm col-md-3 col-md-push-9">
          <div class="row mb8">
            <div class="col-xs-12">
              <h5 class="stories-number">{{testimonials.length}} Studio Stories</h5>
            </div>
          </div>
          <div class="row stories-gallery">
            <div class="row mb8">
              <div class="col-md-6" ng-repeat="story in testimonials">
                <a href="#" ng-click="setFullscreenStory(story, $index);">
                  <img ng-src="{{storyImages[story.id]}}" width="100%">
                </a>
              </div>
              <!-- <div class="col-md-6">
                <a href="#">
                  <img src="assets/images/studios/ralabala/story2.jpg" width="100%">
                </a>
              </div> -->
            </div>
          </div>
        </div>
        <div class="col-md-9 col-md-pull-3">
          <div class="row mb8">
            <div class="col-xs-12 text-center">
              <ul class="stories-sharing">
                <li>
                  <span>Share:</span>
                </li>
                <!-- <li>
                  <a href="#">
                    <i class="fa fa-envelope-o"></i>
                  </a>
                </li> -->
                <li>
                  <a href="#"
                  socialshare
                  socialshare-text="{{storefrontInfo.studioName}}"
                  socialshare-type="send"
                  socialshare-caption="{{storefrontInfo.shortDescription}}"
                  socialshare-description="{{storefrontInfo.longDescription}}"
                  socialshare-media="{{backgroundImageUrl}}"
                  socialshare-provider="facebook"
                  socialshare-url="www.getbodyapp.com/studios/{{studioId}}"
                  socialshare-redirect-uri="www.getbodyapp.com/studios/{{studioId}}"
                  socialshare-via='501927126632986'
                  socialshare-trigger='click'
                  socialshare-popup-height=900
                  socialshare-popup-width=900
                  >
                  <i class="fa fa-facebook-square"></i>

                  </a>
                </li>
                <!-- <li>
                  <a href="#">
                    <i class="fa fa-pinterest"></i>
                  </a>
                </li> -->
              </ul>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-1 col-middle">
              <div class="va-container va-container-v va-container-h">
                <div class="va-middle text-right next-story-icon">
                  <a href="" class="white" ng-click = "showPreviousStory()">
                    <i class="fa fa-chevron-left"></i>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-xs-10 col-sm-6 text-center col-middle">
              <div class="story-container">
                <img ng-src="{{storyImages[showFullscreenStory.id]}}" width="100%">
                <div class="text-center story-name">
                  <h4 class="mt8 white" ng-show="showFullscreenStory.clientName">{{showFullscreenStory.clientName}}</h4>
                  <h4 class="mb8 white" ng-show="showFullscreenStory.instagramUsername">@{{showFullscreenStory.instagramUsername}}</h4>
                </div>
              </div>
              <div class="story-content text-left">
                <h5 class="white">{{showFullscreenStory.storyContent}}</h5>
              </div>
            </div>
            <div class="col-xs-1 col-middle">
              <div class="va-container va-container-v va-container-h">
                <div class="va-middle text-left next-story-icon">
                  <a href="#" class="white" ng-click = "showNextStory()">
                    <i class="fa fa-chevron-right"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="storefront-header" ng-style="{'background-image':'url('+ backgroundImageUrl +')'}">
  <!-- <div class="storefront-header-vid">
    <a href="#" class="">
      <i class="fa fa-play-circle video-play-btn"></i>
    </a>
  </div> -->
  <div class="storefront-header-pricing">
    <div class="row">
      <div class="col-md-3 hidden-xs hidden-sm text-left">
        <div class="discovery-tag-love trending" ng-show = "studioPosition === 1">
          <i class="fa fa-heart"></i> Studio We Love
        </div>
        <div class="discovery-tag-love" ng-show = "studioPosition === 2 || studioPosition === 3">
          <i class="fa fa-flash"></i> Trending Studio
        </div>
      </div>
      <div class="col-md-9 text-right text-center-sm">
        <div class="discovery-tag-price" ng-hide = "!subscriptionsLoaded || subscriptions[studioId] === 'active'">
          <span class="bold" ng-show = "storefrontInfo && storefrontInfo.subscriptionPricing">${{storefrontInfo.subscriptionPricing/100}}/mo unlimited</span>
          <span class="bold" ng-show = "!storefrontInfo || !storefrontInfo.subscriptionPricing">No unlimited</span>
        </div>
        <div class="discovery-tag-price" ng-hide = "!subscriptionsLoaded || subscriptions[studioId] === 'active'">
          <span class="bold" ng-show = "storefrontInfo && storefrontInfo.dropinPricing">${{storefrontInfo.dropinPricing/100}} / class</span>
          <span class="bold" ng-show = "!storefrontInfo || !storefrontInfo.dropinPricing">$3 / class</span>
        </div>
        <a class="discovery-tag-price" ng-click = "cancelSubscription()" ng-show = "subscriptions[studioId] === 'active'">
          <span class="bold">Cancel membership</span>
        </a>
        <div class="discovery-tag-price" ng-show = "subscriptions[studioId] === 'active'">
          <span class="bold">You are a member of this studio!</span>
        </div>
        <a href="#" ng-hide = "!subscriptionsLoaded || subscriptions[studioId] === 'active'" class="btn-blue subscribe-btn" ng-click="joinStudioClicked()">Purchase Unlimited Pass</a>
        <a href="#" ng-hide = "currentUser._id" class="btn-blue subscribe-btn" ng-click="joinStudioClicked()">Purchase Unlimited Pass</a>
      </div>
    </div>
  </div>
  <div class="discovery-tag-love trending storefront-tag-love visible-xs visible-sm">
    <i class="fa fa-heart"></i> Studio We Love
  </div>
</div>

<div class="panel studio-section mb0">
  <div class="page-container-responsive">
    <div class="row pt32 pb32 pt-xs-16 pb-xs-16">
      <div class="col-md-2 col-xs-3 text-center">
        <img ng-src="{{iconUrl}}" class="studio-profile-img">
        <h5 class="mt8 studio-owner">{{storefrontInfo.ownerName}}</h5>
      </div>
      <div class="col-md-10 col-xs-9 col-xs-expand">
        <h1 class="royalblue studio-name">{{storefrontInfo.studioName}}</h1>
        <h3 class="studio-short mt8">{{storefrontInfo.shortDescription}}</h3>
        <div class="studio-tags mt16">
          <a href = "#" ng-click = "goToDiscover(key)" class="btn-tag" ng-repeat = "(key, value) in storefrontInfo.categories" ng-if = "value === true">{{key}}</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="storefront pt24 pb24 pt-xs-8">
  <div class="page-container-responsive">
    <div class="row">
      <div class="col-md-8">
        <div class="calendar-selector row pt24 pb24 pt-xs-16 pb-xs-16">
          <div>
              <div class="week-changer text-left" ng-class="{'cal-select-active': nextWeek > 0}" ng-click = "decrementNextWeek()">
                <i class="ti-angle-left"></i>
              </div><!-- 
             --><div class="calendar-selector-days text-center">
                <ul>
                  <li href="#" class="cal-select-active" ng-click="showAll=!showAll;">Show<span class = "hidden-xs hidden-sm inline-block">&nbsp</span><br class = "visible-xs visible-sm"><span class="bold" ng-show="!showAll">All</span><span class="bold" ng-show="showAll">Less</span></li><!-- 
               --><li ng-show = "$index < numDaysToShow + nextWeek && $index >= nextWeek" ng-repeat = "dayShown in daysToShow">{{dayShown.formattedDayOfWeek}}<span class = "hidden-xs hidden-sm inline-block">&nbsp</span><br class = "visible-xs visible-sm">{{dayShown.formattedMonthAndDay}}</li><!-- 
               
            --></ul>
              </div><!-- 
             --><div class="week-changer text-right" ng-click = "incrementNextWeek()">
                <i class="ti-angle-right" ng-class = "{'cal-select-active': nextWeek < numDaysToShow + (7-numDaysToShow)*2}"></i>
              </div>
            </div>
          </div>

        <div class="class-listings-descr row pt8 pb8 text-center">
          <div class="col-xs-12">
            <h3 class="semibold">Upcoming Classes</h3>
            <h5 class="lightgray">Times in {{timezone}}</h5>
          </div>
        </div>
        <div class="row pt16 pb16 pt-xs-16 pb-xs-8"> 
          <div class="col-xs-12">
            <ul class="class-listings">
              <li class="mb24" ng-repeat = "class in classSchedule" ng-show = "showAll || (class.dateTime > daysToShow[nextWeek + 0].beginDateTime - 60*60*1000 && class.dateTime < daysToShow[nextWeek + 6].endDateTime)">
                <div class="row">
                  <div class="col-xs-4 col-sm-3 col-xs-expand2">
                    <h4 class="royalblue">{{getFormattedDateTime(class.dateTime).shortMonth}}/{{getFormattedDateTime(class.dateTime).day}}, {{getFormattedDateTime(class.dateTime).classTime}}</h4>
                    <h5 class="lightgray">{{class.duration}} min</h5>
                  </div>
                  <div class="col-xs-4 col-sm-3 col-xs-expand3">
                    <h4 class="royalblue">{{classTypes[class.classType].name}}</h4>
                    <h5 class="lightgray">with {{instructors[class.instructor].firstName}}</h5>
                  </div>
                  <div class="col-sm-2 hidden-xs social-bookings">
                    <ul>
                      <li>
                        <img class="round-photo" ng-show = "currentUser && bookings[class.dateTime][0].facebookId" ng-src="https://graph.facebook.com/{{bookings[class.dateTime][0].facebookId}}/picture?width=25&height=25">
                        <img src="/assets/images/empty-booking.svg" ng-hide = "currentUser && bookings[class.dateTime][0].facebookId">
                      </li>
                      <li>
                        <img class="round-photo" ng-show = "currentUser && bookings[class.dateTime][1].facebookId" ng-src="https://graph.facebook.com/{{bookings[class.dateTime][1].facebookId}}/picture?width=25&height=25">
                        <img src="/assets/images/empty-booking.svg" ng-hide = "currentUser && bookings[class.dateTime][1].facebookId">
                      </li>
                      <li>
                        <img class="round-photo" ng-show = "currentUser && bookings[class.dateTime][2].facebookId" ng-src="https://graph.facebook.com/{{bookings[class.dateTime][2].facebookId}}/picture?width=25&height=25">
                        <img src="/assets/images/empty-booking.svg" ng-hide = "currentUser && bookings[class.dateTime][2].facebookId">
                      </li>
                    </ul>
                    <h5 class="lightgray" ng-show="bookings[class.dateTime].length === 1">1 booking</h5>
                    <h5 class="lightgray" ng-show="bookings[class.dateTime].length > 1">{{bookings[class.dateTime].length}} bookings</h5>
                    <a ng-href = "/studios/{{studioId}}/classinfo/{{class.dateTime}}" ng-show="!bookings[class.dateTime].length" class="book-first lightgray"><i class="fa fa-flag-checkered"></i> book first</a>
                  </div>
                  <div class="col-xs-4 col-sm-4 col-xs-expand4 text-right">
                    <a href="#"
                        class="facebook-messenger-btn" 
                        socialshare
                        socialshare-text="{{storefrontInfo.studioName}}"
                        socialshare-type="send"
                        socialshare-caption="{{storefrontInfo.shortDescription}}"
                        socialshare-description="{{storefrontInfo.longDescription}}"
                        socialshare-media="{{backgroundImageUrl}}"
                        socialshare-provider="facebook"
                        socialshare-url="www.getbodyapp.com/studios/{{studioId}}"
                        socialshare-redirect-uri="www.getbodyapp.com/studios/{{studioId}}"
                        socialshare-via='501927126632986'
                        socialshare-trigger='click'
                        socialshare-popup-height=900
                        socialshare-popup-width=900
                        >
                        <img src="/assets/images/fb-messenger.png" class="small-icon">
                      </a>
                    <!-- <a href="#" class="facebook-messenger-btn"><img src="/assets/images/fb-messenger.png" class="small-icon"></a> -->
                    <a ng-href = "/studios/{{studioId}}/classinfo/{{class.dateTime}}" class="btn-blue">View<span class="bold hidden-xs"> Class</span></a>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>

        <div class="row pt16 pb16 pt-xs-8 pb-xs-8" ng-show = "videoLibrary[0]">
          <div class="col-xs-12">
            <div class="storefront-title">
              <h4>On-Demand Videos</h4>
              
              <a href="#" ><span style = "font-weight:500" ng-show = "videosToShow < 6" ng-click = "videosToShow = 20">+See More</span><span ng-show = "videosToShow >= 6" style = "font-weight:500" ng-click = "videosToShow = 5">-See Less</span></a>
            </div>
            <ul class="on-demand-vids pt16">
              <li class="featured-vid-container">
                
                <div href="#" class="video">
                    <video ng-attr-id="{{ 'video' + videoLibrary[0].key }}" class="video-js vjs-default-skin video-info"
                      preload="metadata"
                      vjs-media="loadedMedia[videoLibrary[0].key]"
                      vjs-video
                      >
                      <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
                    </video>
                  <div class="video-info" ng-click="watchVideoFromLibrary(videoLibrary[0].key)">
                    <div class="video-info-play">
                      <a href="#" class="btn-clear hidden-xs">Watch Now</a>
                      <a href="#" class="btn-clear visible-xs"><i class="fa fa-play"></i></a>
                    </div>
                    <div class="video-info-details">
                      <div class="row">
                        <div class="col-xs-6 text-left">
                          <span class="white" ng-if="videoLibrary[0].dateSaved">{{formatDateSaved(videoLibrary[0].dateSaved)}}</span>
                        </div>
                        <div class="col-xs-6 text-right">
                          <span class="white" ng-show="videoDurations[videoLibrary[0].key]">{{videoDurations[videoLibrary[0].key]}}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="vid-title-featured">
                  <span class="royalblue bold">{{videoLibrary[0].title}}</span>
                </div>
                <!-- <span class="lightgray" ng-show = "videoLibrary[0].views"> {{videoLibrary[0].views}} <i class="fa fa-play-circle-o"></i></span> -->
              </li>
              <li class="regular-vid-container" ng-repeat = "video in videoLibrary" ng-show = "$index !=0 && $index < videosToShow">
                <div class="video">
                  <video ng-attr-id="{{ 'video' + video.key }}" class="video-js vjs-default-skin video-info"
                      preload="metadata"
                      vjs-media="loadedMedia[video.key]"
                      vjs-video>
                      <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
                    </video>
                  <div class="video-info" ng-click="watchVideoFromLibrary(video.key)">
                    <div class="video-info-play">
                      <a href="#" class="btn-clear hidden-xs">Watch Now</a>
                      <a href="#" class="btn-clear visible-xs"><i class="fa fa-play"></i></a>
                    </div>
                    <div class="video-info-details">
                      <div class="float-left inline-block">
                        <span class="white">{{formatDateSaved(video.dateSaved)}}</span>
                      </div>
                      <div class="float-right inline-block">
                        <span class="white" ng-show="videoDurations[video.key]">{{videoDurations[video.key]}}</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="vid-title">
                  <span class="royalblue bold">{{video.title}}</span>
                </div>
                <!-- <span class="lightgray hidden-xs hidden-md" ng-show="video.views"> {{video.views}} <i class="fa fa-play-circle-o"></i></span> -->
              </li>
            </ul>
          </div>
        </div>

        <div class="row pt16 visible-xs visible-sm">
          <div class="col-xs-12">
            <div class="panel"> 
              <!-- <div class="panel-body">
                <div class="row text-center follow-panel-xs">
                  <div class="col-xs-5">
                    <ul class="row studio-friends text-center">
                      <li>
                        <img src="assets/images/justin-photo.jpg">
                      </li>
                      <li>
                        <img src="assets/images/justin-photo.jpg">
                      </li>
                      <li>
                        <div class="empty-friend-circle"></div>
                      </li>
                      <li>
                        <div class="empty-friend-circle"></div>
                      </li>
                    </ul>
                    <h5 class="lightgray mt8">4 friends</h5>
                  </div>
                  <div class="col-xs-7">
                    <a href="#" class="btn btn-block"><i class="fa fa-heart-o"></i> {{storefrontInfo.studioName}}</a>
                    <h5 class="lightgray mt8">148 followers</h5>
                  </div>
                </div>
              </div> -->
              <div class="boxed-icons">
                <div class="social-share-btns">
                  <div class="share-triggers btn-group">
                    <a href="#"
                      class="share-btn text-center btn btn-width-control" 
                      socialshare
                      socialshare-text="{{storefrontInfo.studioName}}"
                      socialshare-type="send"
                      socialshare-caption="{{storefrontInfo.shortDescription}}"
                      socialshare-description="{{storefrontInfo.longDescription}}"
                      socialshare-media="{{backgroundImageUrl}}"
                      socialshare-provider="facebook"
                      socialshare-url="www.getbodyapp.com/studios/{{studioId}}"
                      socialshare-redirect-uri="www.getbodyapp.com/studios/{{studioId}}"
                      socialshare-via='501927126632986'
                      socialshare-trigger='click'
                      socialshare-popup-height=900
                      socialshare-popup-width=900
                      >
                      <i class="fa fa-facebook-official"></i> Send
                    </a>
                    <a href="#"
                      class="share-btn text-center btn btn-width-control" 
                      socialshare
                      socialshare-type="feed"
                      socialshare-text="{{storefrontInfo.studioName}}"
                      socialshare-caption="{{storefrontInfo.shortDescription}}"
                      socialshare-description="{{storefrontInfo.longDescription}}"
                      socialshare-media="{{backgroundImageUrl}}"
                      socialshare-provider="facebook"
                      socialshare-url="www.getbodyapp.com/studios/{{studioId}}"
                      socialshare-via='501927126632986'
                      socialshare-trigger='click'
                      socialshare-popup-height=600
                      socialshare-popup-width=600
                      >
                      <i class="fa fa-facebook-official"></i> Share
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row pt16 pb16 pt-xs-8">
          <div class="col-xs-12">
            <div class="storefront-title">
              <h4>About this Studio</h4>
            </div>
            <div class="pt16 pt-xs-8">
              <h5 class="gray thin500 content">
                {{storefrontInfo.longDescription}}
              </h5>
            </div>
          </div>
        </div>

        <div class="row pt24 pb16 pt-xs-8">
          <div class="col-xs-12">
            <div class="storefront-title">
              <h4>Class Types</h4>
            </div>
            <ul class="list-class-types">
              <li ng-repeat = "classType in classTypes">
                <div class="pt16 pt-xs-8">
                  <div class="inline-block col-middle">
                    <img src="/assets/images/class-icon.svg" class="small-icon" width="24" height="24">
                  </div>
                  <div class="inline-block col-middle">
                    <h4 class="royalblue">{{classType.name}}</h4>
                  </div>
                  <h5 class="gray thin500 mt8 content">
                    {{classType.classDescription}}
                  </h5>
                  <h5 class="gray thin500 content mt8"><span class="bold800">You'll Need: </span>
                    <span ng-repeat = "equipment in classType.equipment"><span ng-if="$index != 0">,</span>{{equipment.name}}</span>
                  </h5>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-md-4 hidden-xs hidden-sm">
        <div class="panel space-4" ng-show="testimonialsLoaded && (testimonials || adminOf[studioId])">
          <div class="panel-header text-center">
            Studio Stories
          </div>
          <div class="panel-body">
            <div class="stories-panel text-center">
              <div class="no-stories-added" ng-show="testimonialsLoaded && adminOf[studioId] && (!testimonials || !testimonials.length || testimonials.length < 1)">
                <a href="/studios/{{studioId}}/testimonials">
                  <div class="upload-story">
                    <span style="font-size:8rem;"><i class="fa fa-plus-circle"></i></span>
                    <h4 class="mb8 bold">Upload your first story</h4>
                    <h5>User stories show new customers the value of your service! Upload one now.</h5>
                  </div>
                </a>
              </div>
              <div class="stories-added" ng-show="testimonials.length > 0">
                <a href="#" ng-click = "setFullscreenStory(testimonials[storyToShow], storyToShow);">
                  <div class="studio-story" ng-show="storyImages[testimonials[storyToShow].id]">
                    <div class="story-preview" ng-style="{'background-image':'url('+ storyImages[testimonials[storyToShow].id] +')'}"></div>
                    <div class="stories-overlay text-left">
                        <h4 class="textimonial-name white bold" ng-show="testimonials[storyToShow].instagramUsername">@{{testimonials[storyToShow].instagramUsername}}</h4>
                        <h4 class="textimonial-name white bold" ng-hide="testimonials[storyToShow].instagramUsername">{{testimonials[storyToShow].clientName}}</h4>
                        <h5 class="testimonial-text white">{{testimonials[storyToShow].storyContent}}</h5>
                      </div>
                    </div>
                  </a>
                  <div class="next-story text-center mt8 mb0">
                    <span>
                      <a ng-show="testimonials.length" href="#"><span><i class="fa" ng-class="{'fa-circle': storyToShow===0, 'fa-circle-o': storyToShow!=0}" ng-click = "storyToShow=0;"></i></span></a>
                      <a ng-show="testimonials.length > 1" href="#"><span><i class="fa" ng-class="{'fa-circle': storyToShow===1, 'fa-circle-o': storyToShow!=1}" ng-click = "storyToShow=1;"></i></span></a>
                      <a ng-show="testimonials.length > 2" href="#"><span><i class="fa" ng-class="{'fa-circle': storyToShow===2, 'fa-circle-o': storyToShow!=2}" ng-click = "storyToShow=2;"></i></span></a>
                      <a ng-show="testimonials.length > 3" href="#"><span><i class="fa" ng-class="{'fa-circle': storyToShow===3, 'fa-circle-o': storyToShow!=3}" ng-click = "storyToShow=3;"></i></span></a>
                      <a ng-show="testimonials.length > 4" href="#"><span><i class="fa" ng-class="{'fa-circle': storyToShow===4, 'fa-circle-o': storyToShow!=4}" ng-click = "storyToShow=4;"></i></span></a>
                    </span>
                  </div>
              </div>
            </div>
          </div>
        </div>

        <div class="panel"> 
          <!-- <div class="panel-body">
            <div class="row">
              <div class="col-xs-12">
                <ul class="row studio-friends text-center">
                  <li>
                    <img src="assets/images/justin-photo.jpg">
                  </li>
                  <li>
                    <img src="assets/images/justin-photo.jpg">
                  </li>
                  <li>
                    <img src="assets/images/justin-photo.jpg">
                  </li>
                  <li>
                    <img src="assets/images/justin-photo.jpg">
                  </li>
                  <li>
                    <div class="empty-friend-circle"></div>
                  </li>
                </ul>
                <div class="row mt8">
                  <div class="col-sm-12 text-center">
                    <h5 class="lightgray">4 friends taken class here</h5>
                  </div>
                </div>
              </div>
            </div>
            <div class="row mt16">
              <div class="col-sm-12">
                <a href="#" class="btn btn-block"><i class="fa fa-heart-o"></i> Follow {{storefrontInfo.studioName}}</a>
              </div>
            </div>
            <div class="row mt8">
              <div class="col-sm-12 text-center">
                <h5 class="lightgray">148 followers</h5>
              </div>
            </div>
          </div> -->
          <div class="boxed-icons show-lg">
            <div class="social-share-btns">
              <div class="share-triggers btn-group">
                <a href="#"
                  class="share-btn text-center btn btn-width-control" 
                  socialshare
                  socialshare-text="{{storefrontInfo.studioName}}"
                  socialshare-type="send"
                  socialshare-caption="{{storefrontInfo.shortDescription}}"
                  socialshare-description="{{storefrontInfo.longDescription}}"
                  socialshare-media="{{backgroundImageUrl}}"
                  socialshare-provider="facebook"
                  socialshare-url="www.getbodyapp.com/studios/{{studioId}}"
                  socialshare-redirect-uri="www.getbodyapp.com/studios/{{studioId}}"
                  socialshare-via='501927126632986'
                  socialshare-trigger='click'
                  socialshare-popup-height=900
                  socialshare-popup-width=900
                  >
                  <i class="fa fa-facebook-official"></i> Send
                </a>
                <a href="#"
                  class="share-btn text-center btn btn-width-control" 
                  socialshare
                  socialshare-type="feed"
                  socialshare-text="{{storefrontInfo.studioName}}"
                  socialshare-caption="{{storefrontInfo.shortDescription}}"
                  socialshare-description="{{storefrontInfo.longDescription}}"
                  socialshare-media="{{backgroundImageUrl}}"
                  socialshare-provider="facebook"
                  socialshare-url="www.getbodyapp.com/studios/{{studioId}}"
                  socialshare-via='501927126632986'
                  socialshare-trigger='click'
                  socialshare-popup-height=600
                  socialshare-popup-width=600
                  >
                  <i class="fa fa-facebook-official"></i> Share
                </a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="studio-team panel-dark pt24 pb24">
  <div class="page-container-responsive">
    <div class="row">
      <div class="col-xs-12">
        <div class="row mb24">
          <div class="col-xs-12">
            <div class="storefront-title">
              <h4>Studio Team</h4>
            </div>
          </div>
        </div>
        <ul class="team-list">
          <li ng-repeat = "instructor in instructors">
            <div class="row">
              <div class="col-sm-2">
                <img class="instructor-profile-img mb-xs-16" ng-if = "!instructor.addedPicture" ng-src="https://graph.facebook.com/{{instructor.facebookId}}/picture?width=125&height=125">
                <img class="instructor-profile-img mb-xs-16" ng-if = "instructor.addedPicture" ng-src="{{instructor.addedPicture}}">
              </div>
              <div class="col-sm-10">
                <div class="row">
                  <div class="col-xs-12">
                    <h4 class="royalblue">{{instructor.firstName}} {{instructor.lastName}}</h4>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-3">
                    <h5 class="mt8 content bold">Position</h5>
                    <h5 class="lightgray content">{{instructor.title}}</h5>
                    <h5 class="mt8 content bold">Certifications</h5>
                    <h5 class="lightgray content">{{instructor.certifications}}</h5>
                  </div>
                  <div class="col-sm-9">
                    <h5 class="mt8 content bold">About {{instructor.firstName}}</h5>
                    <h5 class="lightgray content">{{instructor.bio}}</h5>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div ng-include="'components/footer/footer.html'"></div>