<div ng-include="'components/navbar/navbar.html'" class = "mb72"></div>

<div class="page-container-responsive row-space-top-4 row-space-4">
  <div class="row">
    <div class="col-md-3">
      <div ng-include="'components/navbar/sideNav.html'"></div>
      <div class="space-top-4 space-4">
        <a href="#" class="btn btn-block" ng-click = "showAddWorkout = {}; scrollToTop();">Add Workout</a>
      </div>
    </div>

    <div class="col-md-9">

      <div class="panel space-4">   <!-- No workouts added yet -->
        <div class="panel-body">
          <div class="row col-sm-12">
            <h5 class="mb8">Looks like you don't have any workouts created yet! This is where you define timer settings and specific exercises or movements which are displayed during a class. Workouts can be linked to one or multiple class types.</h5>
            <a href="#" ng-click = "showAddWorkout = {}; scrollToTop();">Add Workout<i class="ti-arrow-circle-right icon-spacing"></i></a>
          </div>
        </div>
      </div>

<!--
******************************************************************************************************************************************** FORM PANEL **************************************************************************************************************************************************
-->
      <div class="panel space-4" ng-show = "showAddWorkout">
        <div class="panel-header">
          Add Workout
          <ul class="panel-action-list">
            <li>
              <a href="#" class="panel-action-item" ng-click = "showAddWorkout = false;"><i class="ti-close"></i></a>
            </li>
          </ul>
        </div>
        <div class="panel-body">

          <div class="row space-4">
            <label class="col-sm-3" for="workout-title">
              Workout Title
            </label>
            <div class="col-sm-9">
              <input id="workout-title" ng-model = "showAddWorkout.title" name="" size="30" type="text" placeholder="e.g. Workout #28: Squat Intervals">
              <h5 class="lightgray mt8 mb8">Give your workout a name that will be easy for you to remember. This is only viewable by studio staff, not by clients.</h5>      
            </div>
          </div>

          <div class="row space-4">
            <label class="col-sm-3" for="class-reg-types">
              Assign To
            </label>
            <div class="col-sm-9">
              <tags-input id="equipment-needed" 
                ng-model="showAddWorkout.classTypes" 
                size="30"
                display-property="name" 
                placeholder="Click to choose from your class types" 
                replace-spaces-with-dashes="false"
                template="tag-template"
                >
                <auto-complete source="loadClassTypes($query)"
                  min-length="0"
                  load-on-focus="true"
                  load-on-empty="true"
                  max-results-to-show="32"
                  template="autocomplete-template">
                 </auto-complete>
              </tags-input>
            <!-- </div>             -->
            
            <!-- <div class="col-sm-9">
              <label class="select" ng-repeat = "(classType, enabled) in classTypes">
                <input type="checkbox" ng-model="showAddWorkout.classTypes[classType]" /> {{classType}}  -->
                <!-- <select id="class-reg-types" ng-model = "showAddWorkout.classTypes">
                  <option>Any class</option>
                  <option>Level One</option>
                  <option>Strength Workshop (Specialty Class $300)</option>
                </select> -->
              <!-- </label> -->
              <h5 class="lightgray mt8 mb8">Assign this workout to one or multiple class types.</h5>  
            </div>
          </div>

          <div class="row space-4">
            <label class="col-sm-3" for="equipment-needed">
              Sets
            </label>
            <div class="col-sm-7">
              <div class="panel workout-card" ng-repeat = "set in showAddWorkout.sets track by $index">                
                <ul class="panel-action-list">
                  <li>
                    <a href="#" class="panel-action-item">Edit</a>
                  </li>
                  <li>
                    <a href="#" class="panel-action-item">Delete</a>
                  </li>            
                </ul>
                <h5 class="mb0">Set {{$index+1}} <span class="success"><i class="ti-check-box bold"></i></span></h5>
                <h5 class="lightgray">{{set.title}}</h5>
                <!-- <h5 class="mt8 mb0">Timer Setting</h5>
                <h5 class="lightgray">60s:0s (10 rds)</h5> -->
                <h5 class="mt8 mb0">Exercises</h5>
                <div ng-repeat = "exercise in set.exercises track by $index">
                  <h5 class="lightgray">{{exercise.name}}</h5>
                </div>
              </div>

              <div class="panel workout-card" ng-show = "showAddSet">
                <div class="row mb8">
                  <label class="col-sm-3" for="set-title">
                    Set Title
                  </label>
                  <div class="col-sm-9">
                    <input ng-model = "showAddSet.title" id="set-title" name="" size="30" type="text" placeholder="e.g. EMOM 10 min">
                  </div>
                </div>

                <!-- <div class="row mb8">
                  <label class="col-sm-3" for="timer-options">
                    Timer
                  </label>
                  <div class="col-sm-9">
                    <div class="select">
                      <select id="timer-options">
                        <option>Tabata</option>
                        <option>Count Up</option>
                        <option>No Timer</option>
                      </select>
                    </div>
                  </div>
                </div>  

                <div class="row">
                  <label class="col-sm-3 lightgray" for="timer-work-qty">
                    <i class="ti-timer"></i> Work
                  </label>
                  <div class="col-sm-9">
                    <div class="row">
                      <div class="col-sm-12">
                        <input id="timer-work-qty" class="timer-input" name="" size="10" type="text" placeholder="e.g. 60">
                        <div class="select">
                          <select id="timer-work-type">
                            <option>seconds</option>
                            <option>minutes</option>
                          </select>                        
                        </div>                        
                      </div>      
                    </div>
                  </div>
                </div>

                <div class="row">
                  <label class="col-sm-3 lightgray" for="timer-work-qty">
                    <i class="ti-timer"></i> Rest
                  </label>
                  <div class="col-sm-9">
                    <div class="row">
                      <div class="col-sm-12">
                        <input id="timer-work-qty" class="timer-input" name="" size="10" type="text" placeholder="e.g. 10">
                        <div class="select">
                          <select id="timer-work-type">
                            <option>seconds</option>
                            <option>minutes</option>
                          </select>                        
                        </div>                         
                      </div>      
                    </div>
                  </div>
                </div>                

                <div class="row mb8">
                  <label class="col-sm-3 lightgray" for="timer-work-qty">
                    <i class="ti-timer"></i> Rounds
                  </label>
                  <div class="col-sm-9">
                    <input id="timer-work-qty" name="" size="30" type="text" placeholder="e.g. 3">
                  </div>
                </div> -->

                <!-- <div class="row">
                  <label class="col-sm-3" for="exercise-1">
                    Exercise 1
                  </label>
                  <div class="col-sm-9">
                    <input id="exercise-1" ng-model = "setToAdd.exercises[0]" name="" size="30" type="text" placeholder="e.g. 10 Air Squats">
                  </div>                 
                </div> -->
                <div>
                  <div class="row" ng-repeat = "exercise in showAddSet.exercises track by $index">
                    <label class="col-sm-3" for="exercise-2">
                      Exercise {{$index+1}}
                    </label>
                    <div class="col-sm-9">
                      <input ng-model = "showAddSet.exercises[$index].name" name="" size="30" type="text" placeholder="e.g. 10 Air Squats">
                    </div>                 
                  </div>                               
                  <div class="row mt8">
                    <div class="col-sm-9 col-sm-push-3">
                      <a href="#" ng-show = "showAddSet.exercises.length < 6" ng-click = "addExercise()">Add another exercise <i class="ti-arrow-circle-right icon-spacing"></i></a>
                    </div>
                  </div>
                </div>

                <div class="row mt16">
                  <div class="col-sm-12">
                    <ul class="panel-action-list">
                      <li>
                        <a href="#" class="panel-action-item" ng-click = "showAddSet = false;">Cancel</a>
                      </li>
                      <li>
                        <a href="#" class="panel-action-item btn-primary btn" ng-click = "addSet(showAddSet)">Add</a>
                      </li>            
                    </ul>              
                  </div>
                </div>

              </div>

              <div class="row">
                <div class="col-sm-12">
                  <a href="#" ng-click = "showAddSet = {}; initAddExercises();" class="btn mb8">Add set</a>
                  <h5 class="lightgray">Each set can contain a max of six exercises. You can add an unlimited number of sets to each workout.</h5>
                </div>
              </div>

            </div>            
          </div>

          <div class="row">
            <div class="col-sm-12">
              <ul class="panel-action-list">
                <li>
                  <a href="#" class="panel-action-item" ng-click = "editing = false; showAddWorkout = false;">Cancel</a>
                </li>
                <li ng-if = "!editing">
                  <a href="#" class="panel-action-item btn-primary btn" ng-click = "saveWorkout(showAddWorkout)">Save</a>
                </li>
                <li ng-if = "editing">
                  <a href="#" class="panel-action-item btn-primary btn" ng-click = "updateWorkout(showAddWorkout)">Update</a>
                </li>
              </ul>              
            </div>
          </div>          

        </div>
      </div>
   

<!--
******************************************************************************************************************************************** FILTERS **************************************************************************************************************************************************
-->
      <!-- <div class="row mb16">
        <div class="col-sm-12">
          <div class="select">
            <select>
              <option>Assigned to: Any class</option>
              <option>Assigned to: Level One</option>
            </select>           
          </div>
          <div class="select">
            <select>
              <option>Created in: Last 30 days</option>
              <option>Created in: Last 60 days</option>
              <option>Created in: Last 90 days</option>
              <option>Created in: Last 120 days</option>
              <option>All time</option>
            </select>           
          </div>                     
        </div>
      </div> -->

<!--
******************************************************************************************************************************************** PANELS **************************************************************************************************************************************************
-->


      <div class="panel space-4" ng-repeat = "workout in workouts | orderBy:'-updated' track by $index">
        <div class="panel-header">
          {{workout.title}}
          <ul class="panel-action-list">
            <li>
              <a href="#" class="panel-action-item" ng-click = "editWorkout(workout);">Edit</a>
            </li>
            <!-- <li>
              <a href="#" class="panel-action-item">Delete</a>
            </li>             -->
          </ul>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-sm-12 mb16" >
              <h5 class="mb0">Assigned To: <span ng-repeat = "classTypes in workout.classTypes track by $index" class="lightgray bold">{{classTypes.name}}, </span></h5>
            </div>
          </div>
          <div class="row" ng-init = "limit = 3">
            <div class="col-md-4" ng-repeat = "set in workout.sets | limitTo:limit track by $index">
              <div class="panel workout-card">
                <h5 class="mb0">Set {{$index + 1}}</h5>
                <!-- <h5 class="lightgray">EMOM 10 min</h5>
                <h5 class="mt8 mb0">Timer Setting</h5>
                <h5 class="lightgray">60s:0s (10 rds)</h5> -->
                <h5 class="mt8 mb0">Exercises</h5>
                <div ng-repeat = "exercise in set.exercises track by $index">
                  <h5 class="lightgray">{{exercise.name}}</h5>
                </div>
              </div>              
            </div>
          </div>
          <div class="row text-center col-sm-12">
            <a href="#" ng-click = "limit = limit + 3">Show more</a>
          </div>
        </div>
      </div>

      <div class="subpanel-btn">
        <a href="#" ng-click = "showAddWorkout = {}; scrollToTop();">Add Workout<i class="ti-arrow-circle-right icon-spacing"></i></a>
      </div>

    </div>

  </div>
</div>

<!-- Used for the tags inputs -->
<script type="text/ng-template" id="tag-template">
  <div class="tag-template">
    
    <div class="right-panel">
      <span>{{$getDisplayText()}}</span>
      <a class="remove-button" ng-click="$removeTag()">&#10006;</a>
    </div>
  </div>
</script>

<script type="text/ng-template" id="autocomplete-template">
  <div class="autocomplete-template">
    
    <div class="right-panel">
      <span ng-bind-html="$highlight($getDisplayText())"></span>
      
    </div>
  </div>
</script>

<div ng-include="'components/footer/footer.html'"></div>