/*------SIGNUP MODALS-------*/
.testing-overlay {
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0,0,0,0.8);
  width: 100%;
  height: 100%;
  z-index: 1030;
}
.testing-overlay-click {
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0,0,0,0);
  width: 100%;
  height: 100%;
  z-index: 1031;
  cursor: default;
}
.modal-container {
  position: relative;
  margin: 7% auto;
  width: 430px;
  height: 520px;
  background-color: white;
  border-radius: 2px;
  z-index: 1032;
}
.signUp-panel {
  position: relative;
  padding: 70px 60px;
  width: 100%;
  z-index: 1;
}
.signUp-steps {
  position: absolute;
  top: 30px;
  text-align: center;
  left: 0;
  right: 0;
}
.signUp-steps i {
  color: #ccc;
}
.signUp-email {
  text-align: center;
}
.signUp-image {
  position: relative;
  display: block;
  width: 140px;
  height: 140px;
  margin: auto auto;
}
.signUp-checked {
  color: green;
  font-size: 30px;
  position: absolute;
  right: 0px;
  bottom: -25px;
}
.signUp-wallpaper {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.signUp-wallpaper img {
  width: 100%;
  height: 100%;
  border-radius: 2px;
  z-index: 0;
}
.signUp-wallpaper-dimmer {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 2px;
  z-index: 1;
  background-color: rgba(0,0,0,0.6);
  background: -webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0, 0, 0, 0.8)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(top, rgba(0,0,0,0), rgba(0, 0, 0, 0.8)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(top, rgba(0,0,0,0), rgba(0, 0, 0, 0.8)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(at top, rgba(0,0,0,0), rgba(0, 0, 0, 0.8));
}
.signUp-logo {
  margin-top: 35%;
}
.signUp-emergency {
  position: relative;
  margin: 16px auto;
  display: block;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #ccc;
  text-align: center;
}
.signUp-emergency i {
  color: white;
  font-size: 40px;
  margin-top: 15px;
}
.mega-check {
  font-size: 70px;
}
.signUp-check-container {
  position: relative;
}
.check-background {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  top: 23px;
  left: 127px;
  z-index: -1;
}

.icon-left {
  position: absolute;
  top: 14px;
  left: 16px;
}

/*------DISCOVER-------*/
.studio-sorter {
  border-bottom: 1px solid #ccc;
}
.sorter-text {
  font-size: 20px;
  vertical-align: middle;
}
.sorter-text .select {
  vertical-align: middle;
  margin: 0 10px;
}
.sorter-text .select select {
  font-weight: 800;
  color: #1f1f1f;
  padding-bottom: 10px;
}
.studio-listing-image {
  position: relative;
  width: 100%;
  height: 133px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.studio-listing-tags {
  position: absolute;
  width: 100%;
  bottom: 3px;
}
.studio-listing-tags span {
  padding: 5px 10px;
  background-color: rgba(0,0,0,0.6);
  color: white;
  margin: 0 auto;
}
.studio-listing-pricing span {
  font-size: 10px;
}
.studio-listing-subscription {
  display: inline-block;
  margin-right: 20px;
}
.studio-listing-dropIn {
  display: inline-block;
}





/*------NEW MAIN-------*/
.earn-banner {
  height: 343px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}
.earn-banner img {
  min-height: 100%;
}
.earn-panel-body {
  height: 343px;
}
.earn-panel-content {
  padding-right: 30px;
  font-size: 25px;
  line-height: 30px;
}
.earn-banner-hero {
  background-size: cover;
  background-position: center center ;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
@media (max-width: 1099px) {
  .earn-panel-content {
    font-size: 19px;
    line-height: 24px;
  }
}
@media (max-width: 990px) {
  .earn-panel-content {
    padding-right: 0;
  }
  .earn-panel-content h4,
  .earn-panel-content h5,
  .earn-panel-content a {
    text-align: center;
    color: #fff;
  }
  .earn-panel-content h4 {
    font-size: 28px;
  }
}
.discovery-card {
  height: 300px;
  background-color: #f5f5f5;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  position: relative;
  padding: 10px 30px;
}
.discovery-card-tall {
  height: 400px;
}
.discovery-card .round-photo {
  border: 2px solid white;
}
.discovery-content {
  background-color: rgba(0,0,0,0.5);
  padding: 6px;
}
.discovery-card-tall .discovery-content {
  width: 300px;
  margin-right: auto;
  margin-left: auto;
}
.featured-studio {
  font-style: italic;
  color: #4E95FF;
  font-weight: 700;
}
.separator {
  padding: 0 20px;
}
.perMonth {
  font-size: 14px;
  font-weight: 800;
}
/*------OLD MAIN-------*/

.bodylife {
    background-image: url("../../assets/images/ali.jpg");
    background-repeat: no-repeat;
    background-position: center center;
}
.video-full-width {
  width: 100%;
}
.subheader {
  font-weight: 400;
  color: #a7a7a7;
  font-size: 20px;
  line-height: 26px;
}
#home-row-3 {
    background: #fff;
    padding-top: 3%;
    padding-bottom: 8%;
}
#home-row-4 h1 {
  color: #F2AF00;
}
#home-row-4 h4 {
  color: #fff;
}
.margins {
  padding: 0 12%;
}
.margins-half {
  padding: 0 5%;
}
.card {
  max-width: 490px;
  margin: 0 auto;
  border: 1px solid transparent;
  box-sizing: border-box;
  color: inherit;
  display: block;
  padding: 20px 20px;
  position: relative;
  text-decoration: initial;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;  
}
.card:hover {
  color: #1f1f1f !important;
  background: #FFFFFF;
  border: 1px solid #F9F9F9;
  box-shadow: 2px 2px 14px 0px rgba(92,107,126,0.14);
  border-radius: 2px;
  -webkit-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  transform: translateY(-10px);  
}
.card h4 {
  color: #0d1c45;
  font-weight: 600;
}
.trio-btn {
  color: #0d1c45;
  font-size: 14px;
  line-height: 14px;
  font-style: italic;
}
a.trialCard:hover {
  color: #FF6638 !important;
}
a.memberCard:hover {
  color: #224893 !important;
}

.membershipCard-btn, .trialCard-btn {
  color: #fff;
  padding: 10px 15px;
  background-color: #0d1c45;
  font-size: 14px;
  line-height: 14px;
  width: 125px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}
.trialCard-btn {
  background-color: #FF6638;

}

#home-row-5 {
  padding: 8% 0;
}
.membership-pricing .price {
  color: #fff;
  font-size: 30px;
  font-weight: 800;
}
.membership-pricing .timeline {
  color: #A2B2E3;
  font-size: 15px;
  font-weight: 600;
}
.membership-pricing .numb-classes {
  color: #fff;
  font-size: 15px;
  font-weight: 800;
}
.girl-home-fitness {
    background-image: url("../../assets/images/home-workout.jpg");
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 100% 100%;
    height: 400px;
}
.strong-girl {
    background-image: url("../../assets/images/strong-woman.jpg");
    background-repeat: no-repeat;
    background-position: bottom right;     
    background-size: 100% 100%;
    height: 420px;
}
.gray-section-half-wimage {
  background: #EAEAEA;
  padding: 30px 40px 0 40px;
  height: 420px;
}
.lightblue-section-half {
  padding: 50px 40px 0 40px;
  background: #22498E;
  color: #fff;
  height: 400px;
}
.pricingType {
  font-size: 12px;
  font-weight: 600;
  display: block;
}
.pricingAmt {
  font-size: 40px;
  font-weight: 800;
  display: inline;
  margin: 0px;
}
.pricingTime {
  font-size: 20px;
  font-weight: 400;
}
.strikeout {
  text-decoration: line-through;
}
.no-margin {
  padding: 0px !important;
}

.membershipFeatures {
  border-right: 1px solid #D3D3D3;
  border-left: 1px solid #D3D3D3;
  border-bottom: 1px solid #D3D3D3;
}
.stripeOrange {
  height: 10px;
  background: #FF6638;
}
.stripeBlue {
  height: 10px;
  background: #1F3F88;
}
.stripeBlue img {
  position: relative;
  bottom: 69px;
}
.bulletFeatures {
  padding: 0 10%;
}
.bulletChecks li {
  padding: 5px 0;
}
.bulletChecks li span {
  font-size: 0.9em;
}
.checkMarks {
  padding-right: 30px;
}
.col-membership:before {
  background-image: url("../../assets/images/icons/premium-burst.png");
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 100%;
  margin-top: -100px;
  padding-top: 100px;
  content: '';
  display: block;
}



