/*------SIGNUP MODALS-------*/
.testing-overlay {
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0,0,0,0.8);
  width: 100%;
  height: 100%;
  z-index: 10000;
}
.modal-container {
  position: relative;
  margin: 7% auto;
  width: 430px;
  height: 520px;
  background-color: white;
  border-radius: 2px;
}
.signUp-panel {
  position: relative;
  padding: 70px 60px;
  width: 100%;
  z-index: 1;
}
.signUp-steps {
  position: absolute;
  top: 30px;
  text-align: center;
  left: 0;
  right: 0;
}
.signUp-steps i {
  color: #ccc;
}
.signUp-email {
  text-align: center;
}
.signUp-image {
  position: relative;
  display: block;
  width: 140px;
  height: 140px;
  margin: auto auto;
}
.signUp-checked {
  color: green;
  font-size: 30px;
  position: absolute;
  right: 0px;
  bottom: -25px;
}
.signUp-wallpaper {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.signUp-wallpaper img {
  width: 100%;
  height: 100%;
  border-radius: 2px;
  z-index: 0;
}
.signUp-wallpaper-dimmer {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 2px;
  z-index: 1;
  background-color: rgba(0,0,0,0.6);
  background: -webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0, 0, 0, 0.8)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(top, rgba(0,0,0,0), rgba(0, 0, 0, 0.8)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(top, rgba(0,0,0,0), rgba(0, 0, 0, 0.8)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(at top, rgba(0,0,0,0), rgba(0, 0, 0, 0.8));
}
.signUp-logo {
  margin-top: 35%;
}
.signUp-emergency {
  position: relative;
  margin: 16px auto;
  display: block;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #ccc;
  text-align: center;
}
.signUp-emergency i {
  color: white;
  font-size: 40px;
  margin-top: 15px;
}
.mega-check {
  font-size: 70px;
}
.signUp-check-container {
  position: relative;
}
.check-background {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  top: 23px;
  left: 127px;
  z-index: -1;
}

.icon-left {
  position: absolute;
  top: 14px;
  left: 16px;
}

/*------DISCOVER-------*/
.studio-sorter {
  border-bottom: 1px solid #ccc;
}
.sorter-text {
  font-size: 20px;
  vertical-align: middle;
}
.sorter-text .select {
  vertical-align: middle;
  margin: 0 10px;
}
.sorter-text .select select {
  font-weight: 800;
  color: #1f1f1f;
  padding-bottom: 10px;
}
.studio-listing-image {
  position: relative;
}
.studio-listing-tags {
  position: absolute;
  width: 100%;
  bottom: 3px;
}
.studio-listing-tags span {
  padding: 5px 10px;
  background-color: rgba(0,0,0,0.6);
  color: white;
  margin: 0 auto;
}
.studio-listing-pricing span {
  font-size: 10px;
}
.studio-listing-subscription {
  display: inline-block;
  margin-right: 20px;
}
.studio-listing-dropIn {
  display: inline-block;
}

/*------USER VIDEO-------*/
.video-container {
  position: relative;
  height: 100vh;
  width: 100%;
  background-color: black;
}
.timer-rounds {
  position: absolute;
  right: 30px;
  top: 20px;
  z-index: 3000;
}
.timer-rounds .timer {
  font-size: 90px;
  font-weight: 600;
  text-shadow: 1px 1px rgba(0,0,0,0.2);
  margin-left: 8px;
}
.timer-rounds .rounds {
  font-size: 50px;
  font-weight: 600;
  text-shadow: 1px 1px rgba(0,0,0,0.2);
  position: relative;
  right: 0;
  bottom: -10px;
}
.volume-bars {
  width: 50px;
  height: 40px;
  position: absolute;
  right: 100px;
  bottom: 4px;
}
.music-icon {
  position: absolute;
  left: 10px;
  top: -8px;
  font-size: 20px;
  color: white;
}
.volume-bars1,
.volume-bars2,
.volume-bars3,
.volume-bars4,
.volume-bars5 {
  width: 5px;
  background-color: white;
  position: absolute;
  bottom: 0;
}
.volume-bars1 {
  right: 30px;
  height: 10px;
}
.volume-bars2 {
  right: 20px;
  height: 20px;
}
.volume-bars3 {
  right: 10px;
  height: 30px;
}
.volume-bars4 {
  right: 0;
  height: 40px;
}
.music-level {
  background-color: #3E7EDF;
}
.music-on {
  color: #3E7EDF;
}
.music-off {
  color: white;
}
.trainer-remote {
  position: relative;
  top: 20px;
}
.trainer-remote i {
  font-size: 20px;
  padding-top: 18px;
}
.trainer-remote-btn {
  background-color: rgba(0,0,0,0.5) !important;
}
.control-menu-open {
  position: absolute;
  height: 100vh;
  width: 250px;
  background: rgba(0,0,0,0.9);
  background: -webkit-linear-gradient(left, rgba(0,0,0,0.6), rgba(0, 0, 0, 0)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(left, rgba(0,0,0,0.6), rgba(0, 0, 0, 0)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(left, rgba(0,0,0,0.6), rgba(0, 0, 0, 0)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(at left, rgba(0,0,0,0.6), rgba(0, 0, 0, 0));
  left: 0;
  top: 0;
  z-index: 5000;
  transition: left 1s;
  -webkit-transition: left 1s;  
}
.control-menu-closed {
  position: absolute;
  height: 100vh;
  width: 250px;
  background: rgba(0,0,0,0.9);
  background: -webkit-linear-gradient(left, rgba(0,0,0,0.6), rgba(0, 0, 0, 0)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(left, rgba(0,0,0,0.6), rgba(0, 0, 0, 0)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(left, rgba(0,0,0,0.6), rgba(0, 0, 0, 0)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(at left, rgba(0,0,0,0.6), rgba(0, 0, 0, 0));
  left: -250px;
  top: 0;
  z-index: 5000;
  transition: left 1s;
  -webkit-transition: left 1s;  
}
.control-tab-open {
  padding: 0 10px;
  font-size: 40px;
  position: fixed;
  top: 20px;
  left: 250px;
  background-color: rgba(0,0,0,0.5);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  transition: left 1s;
  -webkit-transition: left 1s;
}
.control-tab-closed {
  padding: 0 10px;
  font-size: 40px;
  position: fixed;
  top: 20px;
  left: 0px;
  background-color: rgba(0,0,0,0.5);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  transition: left 1s;
  -webkit-transition: left 1s;  
}
.control-menu-icons {
  padding: 0 20px;
  font-size: 25px;
}
.control-menu-icons a,
.control-tab-open a,
.control-tab-closed a {
  color: #fff;
}
.control-menu-icons a:hover,
.control-menu-icons a:visited,
.control-menu-icons a:focus,
.control-tab-open a:hover,
.control-tab-open a:visited,
.control-tab-open a:focus,
.control-tab-closed a:hover,
.control-tab-closed a:visited,
.control-tab-closed a:focus, {
  color: #fff;
}
.control-menu-workout, .control-menu-music, .control-menu-class, .control-menu-timer {
  border-top: none;
  max-height: 98%;
  overflow-y: hidden;
}
.control-icon i {
  font-size: 30px;
  color: white;
}
.workout-set:last-of-type {
  margin-top: 15px;
}
.workout-set:last-of-type .next-workout {
  display: block!important;
}
.control-menu-music .playlist-song {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu-class-member {
  display: block;
}
.menu-class-contact, .menu-class-photo {
  display: inline-block;
  vertical-align: middle;
}
.menu-class-photo {
  margin-right: 5px;
}
.support-details {
  position: absolute;
  bottom: 10px;
  left: 20px;
}
.support-details a {
  color: rgba(255,255,255,0.5);
}

/*------USER VIDEO FORMAT - STACKED-------*/
.user-videos-stack .user-videos-large, .user-videos-stack .trainer-video-large {
  position: absolute !important;
  top: 0 !important; 
  left: 0 !important; 
  width: 100% !important; 
  height: 100vh !important;
  overflow: hidden !important;
  z-index: 1 !important;
}
.user-videos-stack .user-videos-large img,  .user-videos-stack .trainer-video-large img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}
.user-videos-stack .classmates-video-name {
  position: absolute;
  bottom: 1px;
  left: 0px;
  width: 100%;
  font-size: 11px;
  color: white;
}
.user-videos-stack .user-videos-large .classmates-video-name {
  bottom: 20px;
  font-size: 30px;
}
.user-videos-stack .trainer-video-large .classmates-video-name {
  display: none;
}
.user-videos-stack li {
  position: absolute;
  width: 7%;
  height: 7%;
  overflow: hidden;
  z-index: 2;
}
.user-videos-stack li:first-child {
  right: 1%;
  bottom: 2%;
  width: 14%;
  height: 14%;
}
.user-videos-stack li:nth-child(2) {
  right: 1%;
  bottom: 16%;
}
.user-videos-stack li:nth-child(3) {
  right: 8%;
  bottom: 16%;
}
.user-videos-stack li:nth-child(4) {
  right: 1%;
  bottom: 23%;
}
.user-videos-stack li:nth-child(5) {
  right: 8%;
  bottom: 23%;
}
.user-videos-stack li:nth-child(6) {
  right: 1%;
  bottom: 30%;
}
.user-videos-stack li:nth-child(7) {
  right: 8%;
  bottom: 30%;
}
.user-videos-stack li:nth-child(8) {
  right: 1%;
  bottom: 37%;
}
.user-videos-stack li:nth-child(9) {
  right: 8%;
  bottom: 37%;
}
.user-videos-stack li:nth-child(10) {
  right: 1%;
  bottom: 44%;
}
.user-videos-stack li:nth-child(11) {
  right: 8%;
  bottom: 44%;
}
.user-videos-stack li:nth-child(12) {
  right: 1%;
  bottom: 51%;
}
.user-videos-stack li:nth-child(13) {
  right: 8%;
  bottom: 51%;
}

/*------USER VIDEO FORMAT - BOXED 7 & UNDER-------*/
.user-videos-boxed-7andUnder .user-videos-large {
  position: absolute !important;
  top: 0 !important; 
  right: 0 !important; 
  width: 80% !important; 
  height: 80vh !important;
  overflow: hidden !important;
  z-index: 1 !important;
}
.user-videos-boxed-7andUnder .user-videos-large img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}
.user-videos-boxed-7andUnder .classmates-video-name {
  position: absolute;
  bottom: 5px;
  left: 0px;
  width: 100%;
  font-size: 16px;
  font-weight: 500;
  color: white;
}
.user-videos-boxed-7andUnder .user-videos-large .classmates-video-name {
  bottom: 20px;
  font-size: 20px;
}
.user-videos-boxed-7andUnder li {
  position: absolute;
  width: 20%;
  height: 20%;
  overflow: hidden;
  z-index: 2;
}
.user-videos-boxed-7andUnder li:first-child {
  right: 0;
  bottom: 0;
}
.user-videos-boxed-7andUnder li:nth-child(2) {
  right: 20%;
  bottom: 0;
}
.user-videos-boxed-7andUnder li:nth-child(3) {
  right: 40%;
  bottom: 0;
}
.user-videos-boxed-7andUnder li:nth-child(4) {
  right: 60%;
  bottom: 0;
}
.user-videos-boxed-7andUnder li:nth-child(5) {
  right: 80%;
  bottom: 0;
}
.user-videos-boxed-7andUnder li:nth-child(6) {
  right: 80%;
  bottom: 20%;
}
.user-videos-boxed-7andUnder li:nth-child(7) {
  right: 80%;
  bottom: 40%;
}
.user-videos-boxed-7andUnder li:nth-child(8) {
  right: 80%;
  bottom: 60%;
}
.user-videos-boxed-7andUnder li:nth-child(9) {
  right: 80%;
  bottom: 80%;
}
.user-videos-boxed-7andUnder li:nth-child(10) {
  display: none;
}
.user-videos-boxed-7andUnder li:nth-child(11) {
  display: none;
}
.user-videos-boxed-7andUnder li:nth-child(12) {
  display: none;
}
.user-videos-boxed-7andUnder li:nth-child(13) {
  display: none;
}

/*------USER VIDEO FORMAT - BOXED OVER 7-------*/
.user-videos-boxed-over7 .user-videos-large {
  position: absolute !important;
  top: 0 !important; 
  right: 0 !important; 
  width: 60% !important; 
  height: 80vh !important;
  overflow: hidden !important;
  z-index: 1 !important;
}
.user-videos-boxed-over7 .user-videos-large img {
  position: absolute; 
  top: 0; 
  left: -15%; 
  right: -15%; 
  bottom: 0; 
  margin: auto; 
  min-width: 130%;
}
.user-videos-boxed-over7 .classmates-video-name {
  position: absolute;
  bottom: 5px;
  left: 0px;
  width: 100%;
  font-size: 16px;
  font-weight: 500;
  color: white;
}
.user-videos-boxed-over7 .user-videos-large .classmates-video-name {
  bottom: 20px;
  font-size: 20px;
}
.user-videos-boxed-over7 li {
  position: absolute;
  width: 20%;
  height: 20%;
  overflow: hidden;
  z-index: 2;
}
.user-videos-boxed-over7 li:first-child {
  right: 0;
  bottom: 0;
}
.user-videos-boxed-over7 li:nth-child(2) {
  right: 20%;
  bottom: 0;
}
.user-videos-boxed-over7 li:nth-child(3) {
  right: 40%;
  bottom: 0;
}
.user-videos-boxed-over7 li:nth-child(4) {
  right: 60%;
  bottom: 0;
}
.user-videos-boxed-over7 li:nth-child(5) {
  right: 60%;
  bottom: 20%;
}
.user-videos-boxed-over7 li:nth-child(6) {
  right: 60%;
  bottom: 40%;
}
.user-videos-boxed-over7 li:nth-child(7) {
  right: 60%;
  bottom: 60%;
}
.user-videos-boxed-over7 li:nth-child(8) {
  right: 60%;
  bottom: 80%;
}
.user-videos-boxed-over7 li:nth-child(9) {
  right: 80%;
  bottom: 0;
}
.user-videos-boxed-over7 li:nth-child(10) {
  right: 80%;
  bottom: 20%;
}
.user-videos-boxed-over7 li:nth-child(11) {
  right: 80%;
  bottom: 40%;
}
.user-videos-boxed-over7 li:nth-child(12) {
  right: 80%;
  bottom: 60%;
}
.user-videos-boxed-over7 li:nth-child(13) {
  right: 80%;
  bottom: 80%;
}

/*------USER VIDEO FORMAT - GRID1-------*/
.user-videos-grid-1 .user-videos-large, .user-videos-grid-1 li {
  position: absolute;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 2;
}
.user-videos-grid-1 img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}
.user-videos-grid-1 .classmates-video-name {
  position: absolute;
  bottom: 5px;
  left: 0px;
  width: 100%;
  font-size: 16px;
  font-weight: 500;
  color: white;
}
.user-videos-grid-1 .user-videos-large .classmates-video-name {
  bottom: 20px;
  font-size: 20px;
}
.user-videos-grid-1 li:first-child {
  display: none;
}
.user-videos-grid-1 li:nth-child(2) {
  right: 0;
  bottom: 0;
}
.user-videos-grid-1 li:nth-child(3) {
  display: none;
}
.user-videos-grid-1 li:nth-child(4) {
  display: none;
}
.user-videos-grid-1 li:nth-child(5) {
  display: none;
}
.user-videos-grid-1 li:nth-child(6) {
  display: none;
}
.user-videos-grid-1 li:nth-child(7) {
  display: none;
}
.user-videos-grid-1 li:nth-child(8) {
  display: none;
}
.user-videos-grid-1 li:nth-child(9) {
  display: none;
}
.user-videos-grid-1 li:nth-child(10) {
  display: none;
}
.user-videos-grid-1 li:nth-child(11) {
  display: none;
}
.user-videos-grid-1 li:nth-child(12) {
  display: none;
}
.user-videos-grid-1 li:nth-child(13) {
  display: none;
}

/*------USER VIDEO FORMAT - GRID2-------*/
.user-videos-grid-2 .user-videos-large, .user-videos-grid-2 li {
  position: absolute;
  width: 50%;
  height: 100vh;
  overflow: hidden;
  z-index: 2;
}
.user-videos-grid-2 img {
  position: absolute; 
  top: 0; 
  left: -20%; 
  right: -20%; 
  bottom: 0; 
  margin: auto; 
  min-width: 140%;
  min-height: 50%;
}
.user-videos-grid-2 .classmates-video-name {
  position: absolute;
  bottom: 20px;
  left: 0px;
  width: 100%;
  font-size: 20px;
  font-weight: 500;
  color: white;
}
.user-videos-grid-2 .user-videos-large .classmates-video-name {
  bottom: 20px;
  font-size: 20px;
}
.user-videos-grid-2 li:first-child {
  display: none;
}
.user-videos-grid-2 li:nth-child(2) {
  right: 0;
  bottom: 0;
}
.user-videos-grid-2 li:nth-child(3) {
  right: 50%;
  bottom: 0;
}
.user-videos-grid-2 li:nth-child(4) {
  display: none;
}
.user-videos-grid-2 li:nth-child(5) {
  display: none;
}
.user-videos-grid-2 li:nth-child(6) {
  display: none;
}
.user-videos-grid-2 li:nth-child(7) {
  display: none;
}
.user-videos-grid-2 li:nth-child(8) {
  display: none;
}
.user-videos-grid-2 li:nth-child(9) {
  display: none;
}
.user-videos-grid-2 li:nth-child(10) {
  display: none;
}
.user-videos-grid-2 li:nth-child(11) {
  display: none;
}
.user-videos-grid-2 li:nth-child(12) {
  display: none;
}
.user-videos-grid-2 li:nth-child(13) {
  display: none;
}

/*------USER VIDEO FORMAT - GRID-3or4-------*/
.user-videos-grid-3or4 .user-videos-large, .user-videos-grid-3or4 li {
  position: absolute;
  width: 50%;
  height: 50%;
  overflow: hidden;
  z-index: 2;
}
.user-videos-grid-3or4 img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}
.user-videos-grid-3or4 .classmates-video-name {
  position: absolute;
  bottom: 20px;
  left: 0px;
  width: 100%;
  font-size: 20px;
  font-weight: 500;
  color: white;
}
.user-videos-grid-3or4 .user-videos-large .classmates-video-name {
  bottom: 20px;
  font-size: 20px;
}
.user-videos-grid-3or4 li:first-child {
  display: none;
}
.user-videos-grid-3or4 li:nth-child(2) {
  right: 0;
  bottom: 0;
}
.user-videos-grid-3or4 li:nth-child(3) {
  right: 0;
  bottom: 50%;
}
.user-videos-grid-3or4 li:nth-child(4) {
  right: 50%;
  bottom: 0;
}
.user-videos-grid-3or4 li:nth-child(5) {
  right: 50%;
  bottom: 50%;
}
.user-videos-grid-3or4 li:nth-child(6) {
  display: none;
}
.user-videos-grid-3or4 li:nth-child(7) {
  display: none;
}
.user-videos-grid-3or4 li:nth-child(8) {
  display: none;
}
.user-videos-grid-3or4 li:nth-child(9) {
  display: none;
}
.user-videos-grid-3or4 li:nth-child(10) {
  display: none;
}
.user-videos-grid-3or4 li:nth-child(11) {
  display: none;
}
.user-videos-grid-3or4 li:nth-child(12) {
  display: none;
}
.user-videos-grid-3or4 li:nth-child(13) {
  display: none;
}

/*------USER VIDEO FORMAT - GRID-5or6-------*/
.user-videos-grid-5or6 .user-videos-large, .user-videos-grid-5or6 li {
  position: absolute;
  width: 33.33333333%;
  height: 50%;
  overflow: hidden;
  z-index: 2;
}
.user-videos-grid-5or6 img {
  position: absolute; 
  top: 0; 
  left: -25%; 
  right: -25%; 
  bottom: 0; 
  margin: auto; 
  min-width: 150%;
}
.user-videos-grid-5or6 .classmates-video-name {
  position: absolute;
  bottom: 20px;
  left: 0px;
  width: 100%;
  font-size: 20px;
  font-weight: 500;
  color: white;
}
.user-videos-grid-5or6 .user-videos-large .classmates-video-name {
  bottom: 20px;
  font-size: 20px;
}
.user-videos-grid-5or6 li:first-child {
  display: none;
}
.user-videos-grid-5or6 li:nth-child(2) {
  right: 0;
  bottom: 0;
}
.user-videos-grid-5or6 li:nth-child(3) {
  right: 0;
  bottom: 50%;
}
.user-videos-grid-5or6 li:nth-child(4) {
  right: 33.33333333%;
  bottom: 0;
}
.user-videos-grid-5or6 li:nth-child(5) {
  right: 66.66666666%;
  bottom: 0;
}
.user-videos-grid-5or6 li:nth-child(6) {
  right: 33.33333333%;
  bottom: 50%;
}
.user-videos-grid-5or6 li:nth-child(7) {
  right: 66.66666666%;
  bottom: 50%;
}
.user-videos-grid-5or6 li:nth-child(8) {
  display: none;
}
.user-videos-grid-5or6 li:nth-child(9) {
  display: none;
}
.user-videos-grid-5or6 li:nth-child(10) {
  display: none;
}
.user-videos-grid-5or6 li:nth-child(11) {
  display: none;
}
.user-videos-grid-5or6 li:nth-child(12) {
  display: none;
}
.user-videos-grid-5or6 li:nth-child(13) {
  display: none;
}

/*------USER VIDEO FORMAT - GRID-7or8-------*/
.user-videos-grid-7or8 .user-videos-large, .user-videos-grid-7or8 li {
  position: absolute;
  width: 25%;
  height: 50%;
  overflow: hidden;
  z-index: 2;
}
.user-videos-grid-7or8 img {
  position: absolute; 
  top: 0; 
  left: -20%; 
  right: -20%; 
  bottom: 0; 
  margin: auto; 
  min-width: 140%;
}
.user-videos-grid-7or8 .classmates-video-name {
  position: absolute;
  bottom: 20px;
  left: 0px;
  width: 100%;
  font-size: 20px;
  font-weight: 500;
  color: white;
}
.user-videos-grid-7or8 .user-videos-large .classmates-video-name {
  bottom: 20px;
  font-size: 20px;
}
.user-videos-grid-7or8 li:first-child {
  display: none;
}
.user-videos-grid-7or8 li:nth-child(2) {
  right: 0;
  bottom: 0;
}
.user-videos-grid-7or8 li:nth-child(3) {
  right: 0;
  bottom: 50%;
}
.user-videos-grid-7or8 li:nth-child(4) {
  right: 25%;
  bottom: 0;
}
.user-videos-grid-7or8 li:nth-child(5) {
  right: 25%;
  bottom: 50%;
}
.user-videos-grid-7or8 li:nth-child(6) {
  right: 50%;
  bottom: 0;
}
.user-videos-grid-7or8 li:nth-child(7) {
  right: 50%;
  bottom: 50%;
}
.user-videos-grid-7or8 li:nth-child(8) {
  right: 75%;
  bottom: 0;
}
.user-videos-grid-7or8 li:nth-child(9) {
  right: 75%;
  bottom: 50%;
}
.user-videos-grid-7or8 li:nth-child(10) {
  display: none;
}
.user-videos-grid-7or8 li:nth-child(11) {
  display: none;
}
.user-videos-grid-7or8 li:nth-child(12) {
  display: none;
}
.user-videos-grid-7or8 li:nth-child(13) {
  display: none;
}

/*------USER VIDEO FORMAT - GRID-9-------*/
.user-videos-grid-9 .user-videos-large, .user-videos-grid-9 li {
  position: absolute;
  width: 33.33333333%;
  height: 33.33333333%;
  overflow: hidden;
  z-index: 2;
}
.user-videos-grid-9 img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
}
.user-videos-grid-9 .classmates-video-name {
  position: absolute;
  bottom: 20px;
  left: 0px;
  width: 100%;
  font-size: 20px;
  font-weight: 500;
  color: white;
}
.user-videos-grid-9 .user-videos-large .classmates-video-name {
  bottom: 20px;
  font-size: 20px;
}
.user-videos-grid-9 li:first-child {
  display: none;
}
.user-videos-grid-9 li:nth-child(2) {
  right: 0;
  bottom: 0;
}
.user-videos-grid-9 li:nth-child(3) {
  right: 0;
  bottom: 33.33333333%;
}
.user-videos-grid-9 li:nth-child(4) {
  right: 0;
  bottom: 66.66666666%;
}
.user-videos-grid-9 li:nth-child(5) {
  right: 33.33333333%;
  bottom: 0;
}
.user-videos-grid-9 li:nth-child(6) {
  right: 33.33333333%;
  bottom: 33.33333333%;
}
.user-videos-grid-9 li:nth-child(7) {
  right: 33.33333333%;
  bottom: 66.66666666%;
}
.user-videos-grid-9 li:nth-child(8) {
  right: 66.66666666%;
  bottom: 0;
}
.user-videos-grid-9 li:nth-child(9) {
  right: 66.66666666%;
  bottom: 33.33333333%;
}
.user-videos-grid-9 li:nth-child(10) {
  right: 66.66666666%;
  bottom: 66.66666666%;
}
.user-videos-grid-9 li:nth-child(11) {
  display: none;
}
.user-videos-grid-9 li:nth-child(12) {
  display: none;
}
.user-videos-grid-9 li:nth-child(13) {
  display: none;
}


/*------USER VIDEO FORMAT - GRID-12andUnder-------*/
.user-videos-grid-12andUnder .user-videos-large {
  position: absolute;
  width: 25%;
  height: 34%;
  overflow: hidden;
  z-index: 2;
}
.user-videos-grid-12andUnder img {
  position: absolute; 
  top: 0; 
  left: -15%; 
  right: -15%; 
  bottom: 0; 
  margin: auto; 
  min-width: 130%;
}
.user-videos-grid-12andUnder .classmates-video-name {
  position: absolute;
  bottom: 5px;
  left: 0px;
  width: 100%;
  font-size: 16px;
  font-weight: 500;
  color: white;
}
.user-videos-grid-12andUnder .user-videos-large .classmates-video-name {
  bottom: 20px;
  font-size: 20px;
}
.user-videos-grid-12andUnder li {
  position: absolute;
  width: 25%;
  height: 34%;
  overflow: hidden;
  z-index: 2;
}
.user-videos-grid-12andUnder li:first-child {
  display: none;
}
.user-videos-grid-12andUnder li:nth-child(2) {
  right: 0;
  bottom: 0;
}
.user-videos-grid-12andUnder li:nth-child(3) {
  right: 25%;
  bottom: 0;
}
.user-videos-grid-12andUnder li:nth-child(4) {
  right: 50%;
  bottom: 0;
}
.user-videos-grid-12andUnder li:nth-child(5) {
  right: 75%;
  bottom: 0;
}
.user-videos-grid-12andUnder li:nth-child(6) {
  right: 0%;
  bottom: 33%;
}
.user-videos-grid-12andUnder li:nth-child(7) {
  right: 25%;
  bottom: 33%;
}
.user-videos-grid-12andUnder li:nth-child(8) {
  right: 50%;
  bottom: 33%;
}
.user-videos-grid-12andUnder li:nth-child(9) {
  right: 75%;
  bottom: 33%;
}
.user-videos-grid-12andUnder li:nth-child(10) {
  right: 0%;
  bottom: 66%;
}
.user-videos-grid-12andUnder li:nth-child(11) {
  right: 25%;
  bottom: 66%;
}
.user-videos-grid-12andUnder li:nth-child(12) {
  right: 50%;
  bottom: 66%;
}
.user-videos-grid-12andUnder li:nth-child(13) {
  right: 75%;
  bottom: 66%;
}



/*------NEW MAIN-------*/
.earn-banner {
  height: 343px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}
.earn-banner img {
  min-height: 100%;
}
.earn-panel-body {
  height: 343px;
}
.earn-panel-content {
  padding-right: 30px;
  font-size: 25px;
  line-height: 30px;
}
.earn-banner-hero {
  background-size: cover;
  background-position: center center ;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
@media (max-width: 1099px) {
  .earn-panel-content {
    font-size: 19px;
    line-height: 24px;
  }
}
@media (max-width: 767px) {
  .earn-panel-content {
    text-align: center;
    padding: 30px;
    color: #fff;
  }
}
.discovery-card {
  height: 300px;
  background-color: #f5f5f5;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  position: relative;
  padding: 10px 30px;
}
.discovery-card-tall {
  height: 400px;
}
.discovery-card .round-photo {
  border: 2px solid white;
}
.discovery-content {
  background-color: rgba(0,0,0,0.5);
  padding: 6px;
}
.discovery-card-tall .discovery-content {
  width: 300px;
  margin-right: auto;
  margin-left: auto;
}
.featured-studio {
  font-style: italic;
  color: #4E95FF;
  font-weight: 700;
}

/*------OLD MAIN-------*/

.bodylife {
    background-image: url("../../assets/images/ali.jpg");
    background-repeat: no-repeat;
    background-position: center center;
}
.video-full-width {
  width: 100%;
}
.subheader {
  font-weight: 400;
  color: #a7a7a7;
  font-size: 20px;
  line-height: 26px;
}
#home-row-3 {
    background: #fff;
    padding-top: 3%;
    padding-bottom: 8%;
}
#home-row-4 h1 {
  color: #F2AF00;
}
#home-row-4 h4 {
  color: #fff;
}
.margins {
  padding: 0 12%;
}
.margins-half {
  padding: 0 5%;
}
.card {
  max-width: 490px;
  margin: 0 auto;
  border: 1px solid transparent;
  box-sizing: border-box;
  color: inherit;
  display: block;
  padding: 20px 20px;
  position: relative;
  text-decoration: initial;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;  
}
.card:hover {
  color: #1f1f1f !important;
  background: #FFFFFF;
  border: 1px solid #F9F9F9;
  box-shadow: 2px 2px 14px 0px rgba(92,107,126,0.14);
  border-radius: 2px;
  -webkit-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  transform: translateY(-10px);  
}
.card h4 {
  color: #0d1c45;
  font-weight: 600;
}
.trio-btn {
  color: #0d1c45;
  font-size: 14px;
  line-height: 14px;
  font-style: italic;
}
a.trialCard:hover {
  color: #FF6638 !important;
}
a.memberCard:hover {
  color: #224893 !important;
}

.membershipCard-btn, .trialCard-btn {
  color: #fff;
  padding: 10px 15px;
  background-color: #0d1c45;
  font-size: 14px;
  line-height: 14px;
  width: 125px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}
.trialCard-btn {
  background-color: #FF6638;

}

#home-row-5 {
  padding: 8% 0;
}
.membership-pricing .price {
  color: #fff;
  font-size: 30px;
  font-weight: 800;
}
.membership-pricing .timeline {
  color: #A2B2E3;
  font-size: 15px;
  font-weight: 600;
}
.membership-pricing .numb-classes {
  color: #fff;
  font-size: 15px;
  font-weight: 800;
}
.girl-home-fitness {
    background-image: url("../../assets/images/home-workout.jpg");
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 100% 100%;
    height: 400px;
}
.strong-girl {
    background-image: url("../../assets/images/strong-woman.jpg");
    background-repeat: no-repeat;
    background-position: bottom right;     
    background-size: 100% 100%;
    height: 420px;
}
.gray-section-half-wimage {
  background: #EAEAEA;
  padding: 30px 40px 0 40px;
  height: 420px;
}
.lightblue-section-half {
  padding: 50px 40px 0 40px;
  background: #22498E;
  color: #fff;
  height: 400px;
}
.pricingType {
  font-size: 12px;
  font-weight: 600;
  display: block;
}
.pricingAmt {
  font-size: 40px;
  font-weight: 800;
  display: inline;
  margin: 0px;
}
.pricingTime {
  font-size: 20px;
  font-weight: 400;
}
.strikeout {
  text-decoration: line-through;
}
.no-margin {
  padding: 0px !important;
}

.membershipFeatures {
  border-right: 1px solid #D3D3D3;
  border-left: 1px solid #D3D3D3;
  border-bottom: 1px solid #D3D3D3;
}
.stripeOrange {
  height: 10px;
  background: #FF6638;
}
.stripeBlue {
  height: 10px;
  background: #1F3F88;
}
.stripeBlue img {
  position: relative;
  bottom: 69px;
}
.bulletFeatures {
  padding: 0 10%;
}
.bulletChecks li {
  padding: 5px 0;
}
.bulletChecks li span {
  font-size: 0.9em;
}
.checkMarks {
  padding-right: 30px;
}
.col-membership:before {
  background-image: url("../../assets/images/icons/premium-burst.png");
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 100%;
  margin-top: -100px;
  padding-top: 100px;
  content: '';
  display: block;
}



