<div ng-include="'components/navbar/navbar.html'" class="mb80"></div>

  <section>
    <div class="container hero-banner">
        <div class="col-sm-8">
          <img src="assets/images/user-video-on-laptop.jpg">
        </div>
        <div class="col-sm-4 mt16 text-center">
          <div class="">
            <h1>Reimagine home workouts</h1>
            <h4 class="subheader">Your live social fitness experience<br>accessible anywhere</h4>
          </div>
          <div class="">
            <a href="#" ng-click="loginOauth('facebook')" class="btn mb8">Sign Up with Facebook</a>
            <p class="disclaimer">We'll never post without your permission</p>
          </div>
        </div>
        <div class="arrow">
          <span>
            <svg xmlns="http://www.w3.org/2000/svg" width="37" height="16" viewBox="0 0 37 16" class="js-svg replaced-svg"><path d="M19.075 15.43c-.35.366-.926.414-1.334.097L.76 2.08C.326 1.743.248 1.115.587.68.926.242 1.553.163 1.99.502L18.35 13.46 34.864.617c.436-.34 1.064-.26 1.403.175.34.436.26 1.065-.175 1.404L19.075 15.43z" fill="#909090" fill-rule="evenodd"></path></svg>
          </span>
        </div>        
    </div>
  </section>

  <section id="home-row-3" class="scroll-to">
    <div class="container">
      <div class="col-sm-12 text-center margins">
        <h1>Better results. More convenient.</h1>
        <!-- <h4 class="mb72">We’re revolutionizing home fitness through technology, service, and design. Join classes in real-time without leaving your living room.</h4>         -->
      </div>

      <div class="col-sm-4 text-center">
          <img src="assets/images/icons/plans.png">
          <h4 class="mt16">Better Program</h4>
          <p>Our program evolves as you get better. And the best part of our program is that every day is different.</p>
      </div>
      <div class="col-sm-4 text-center">
          <img src="assets/images/icons/fit-girl.png">
          <h4 class="mt16">Better Coaching</h4>
          <p>Classes are capped at 15 trainees - thus providing the hands on coaching and attention that you deserve.</p> 
      </div>
      <div class="col-sm-4 text-center">
          <img src="assets/images/icons/laptop.png">
          <h4 class="mt16">Better Experience</h4>
          <p>Participate in live group classes with just a laptop and wifi connection. Workout from anywhere.</p>
      </div>  

      <div class="col-sm-12 text-center">
        <a href="#" ng-click="loginOauth('facebook')" class="btn mb8">Sign Up with Facebook</a>     
      </div>
    </div>
  </section>

  <section>
    <div class="col-sm-6 col-xs-12 lightblue-section-half">
      <h1 class="white">Take classes right at home</h1>
      <h4 class="white">We’re using technology to enhance the entire home fitness experience. BODY is a leader in multi-way video technology which enables you to join classes with your favorite instructors and teammates in real-time.</h4>
    </div>
    <div class="col-sm-6 col-xs-12 girl-home-fitness"></div>
    <div class="col-sm-6 hidden-xs strong-girl"></div>    
    <div class="col-sm-6 col-xs-12 gray-section-half-wimage">
      <h1 class="darkblue">A program with you in mind</h1>
      <h4>BODY is a strength and conditioning program that blends high intensity training with functional movements to increase your body’s response and achieve results in less time. Through our live classes, you’ll develop an unshakeable bond with teammates from around the world and accomplish extraordinary things.</h4>
    </div>    
  </section>

  <section class="white-section">
    <div class="container">
      <div class="col-sm-12 text-center margins">
        <h1 class="darkblue">Participate in our pilot program</h1>
        <h4 class="mb72">Join us at the very beginning and help shape the future of home fitness.</h4>
      </div>

      <div class="col-sm-3 col-xs-12 text-center">
          <h4 class="mb32 purpleblue bold">Lock in our pilot rate for a year</h4>
          <div style="height: 100px">
            <div class="col-xs-6 no-margin">
              <span class="pricingType lightgray">Regular pricing</span>
              <h1 class="pricingAmt lightgray"><sup>$</sup></h1><h1 class="pricingAmt lightgray strikeout">40</h1>
              <span class="pricingTime lightgray">/mo</span>
            </div>
            <div class="col-xs-6 no-margin">
              <span class="pricingType darkblue">Pilot pricing</span>
              <h1 class="pricingAmt darkblue"><sup>$</sup></h1><h1 class="pricingAmt darkblue">10</h1>
              <span class="pricingTime darkblue">/mo</span>            
            </div>
          </div>
          <p class="mt8 hidden-xs">One simple membership. Always unlimited classes per month.</p>
          <p class="mt8 visible-xs" style="margin: 0px 10% 50px 10%;">One simple membership. Always unlimited classes per month.</p>          
      </div>

      <div class="col-sm-3 col-xs-12 text-center">
          <h4 class="mb32 purpleblue bold">Get a free introductory class</h4>
          <img src="assets/images/icons/fit-girl_small.png">
          <p class="mt8 hidden-xs">An intro to the BODY program and a great free workout.</p>
          <p class="mt8 visible-xs" style="margin: 0px 10% 50px 10%;">An intro to the BODY program and a great free workout.</p>          
      </div>
      <div class="col-sm-3 col-xs-12 text-center">
          <h4 class="mb32 purpleblue bold">Receive your gear, no extra cost</h4>
          <img src="assets/images/icons/box.png">
          <p class="mt8 hidden-xs">A set of strength bands and foam roller to get started.</p>
          <p class="mt8 visible-xs" style="margin: 0px 10% 50px 10%;">A set of strength bands and foam roller to get started.</p>          
      </div>
      <div class="col-sm-3 col-xs-12 text-center">
        <h4 class="mb32 purpleblue bold hidden-xs">No strings<br>attached</h4>
        <h4 class="mb32 purpleblue bold visible-xs">No strings attached</h4>
        <img src="assets/images/icons/thumbsup.png">
        <p class="mt8 hidden-xs">No hidden fees, no annual contracts. Cancel at any time.</p> 
        <p class="mt8 visible-xs" style="margin: 0px 10% 50px 10%;">No hidden fees, no annual contracts. Cancel at any time.</p>
      </div>            

      <div class="col-sm-12 text-center mt32 hidden-xs">
        <a href="#" ng-click="loginOauth('facebook')" class="big-btn btn">Sign Up with Facebook</a>     
      </div>
      <div class="col-sm-12 text-center mt32 mb56 visible-xs">
        <a href="#" ng-click="loginOauth('facebook')" class="btn">Sign Up with Facebook</a>     
      </div>      
    </div>
  </section>  

<div ng-include="'components/footer/footer.html'"></div>