.bodylife {
    background-image: url("../../assets/images/ali.jpg");
    background-repeat: no-repeat;
    background-position: center center;
}
.video-full-width {
  width: 100%;
}
.subheader {
  font-weight: 400;
  color: #a7a7a7;
  font-size: 20px;
  line-height: 26px;
}
#home-row-3 {
    background: #fff;
    padding-top: 3%;
    padding-bottom: 8%;
}
#home-row-4 h1 {
  color: #F2AF00;
}
#home-row-4 h4 {
  color: #fff;
}
.margins {
  padding: 0 12%;
}
.margins-half {
  padding: 0 5%;
}
.card {
  max-width: 490px;
  margin: 0 auto;
  border: 1px solid transparent;
  box-sizing: border-box;
  color: inherit;
  display: block;
  padding: 20px 20px;
  position: relative;
  text-decoration: initial;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;  
}
.card:hover {
  color: #1f1f1f !important;
  background: #FFFFFF;
  border: 1px solid #F9F9F9;
  box-shadow: 2px 2px 14px 0px rgba(92,107,126,0.14);
  border-radius: 2px;
  -webkit-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  transform: translateY(-10px);  
}
.card h4 {
  color: #0d1c45;
  font-weight: 600;
}
.trio-btn {
  color: #0d1c45;
  font-size: 14px;
  line-height: 14px;
  font-style: italic;
}
a.trialCard:hover {
  color: #FF6638 !important;
}
a.memberCard:hover {
  color: #224893 !important;
}

.membershipCard-btn, .trialCard-btn {
  color: #fff;
  padding: 10px 15px;
  background-color: #0d1c45;
  font-size: 14px;
  line-height: 14px;
  width: 125px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}
.trialCard-btn {
  background-color: #FF6638;

}

#home-row-5 {
  padding: 8% 0;
}
.membership-pricing .price {
  color: #fff;
  font-size: 30px;
  font-weight: 800;
}
.membership-pricing .timeline {
  color: #A2B2E3;
  font-size: 15px;
  font-weight: 600;
}
.membership-pricing .numb-classes {
  color: #fff;
  font-size: 15px;
  font-weight: 800;
}
.girl-home-fitness {
    background-image: url("../../assets/images/home-workout.jpg");
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 100% 100%;
    height: 400px;
}
.strong-girl {
    background-image: url("../../assets/images/strong-woman.jpg");
    background-repeat: no-repeat;
    background-position: bottom right;     
    background-size: 100% 100%;
    height: 420px;
}
.gray-section-half-wimage {
  background: #EAEAEA;
  padding: 30px 40px 0 40px;
  height: 420px;
}
.lightblue-section-half {
  padding: 50px 40px 0 40px;
  background: #22498E;
  color: #fff;
  height: 400px;
}
.pricingType {
  font-size: 12px;
  font-weight: 600;
  display: block;
}
.pricingAmt {
  font-size: 40px;
  font-weight: 800;
  display: inline;
  margin: 0px;
}
.pricingTime {
  font-size: 20px;
  font-weight: 400;
}
.strikeout {
  text-decoration: line-through;
}
.no-margin {
  padding: 0px !important;
}

.membershipFeatures {
  border-right: 1px solid #D3D3D3;
  border-left: 1px solid #D3D3D3;
  border-bottom: 1px solid #D3D3D3;
}
.stripeOrange {
  height: 10px;
  background: #FF6638;
}
.stripeBlue {
  height: 10px;
  background: #1F3F88;
}
.stripeBlue img {
  position: relative;
  bottom: 69px;
}
.bulletFeatures {
  padding: 0 10%;
}
.bulletChecks li {
  padding: 5px 0;
}
.bulletChecks li span {
  font-size: 0.9em;
}
.checkMarks {
  padding-right: 30px;
}
.col-membership:before {
  background-image: url("../../assets/images/icons/premium-burst.png");
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 100%;
  margin-top: -100px;
  padding-top: 100px;
  content: '';
  display: block;
}



