<meta name="fragment" content="!">
<div ng-include="'components/navbar/navbar.html'" style="margin-bottom: 72px;"></div>

    <section>
      <div class="container hero-banner2">
          <div class="col-sm-6 text-center mt64 hidden-xs hidden-sm">
            <h1 class="royalblue mb0">We wanted a better fitness company.</h3>
            <h1 class="darkgray">So we built one.</h3>
          </div>
          <div class="col-sm-6 text-center visible-xs visible-sm">
            <h1 class="royalblue mb0">We wanted a better fitness company.</h3>
            <h1 class="darkgray">So we built one.</h3>
          </div>          
          <div class="col-sm-6 text-center">
            <img src="assets/images/discovery.png">
          </div>
          <div ng-click = "scrollDown()" class="arrow mt56">
            <span>
              <svg xmlns="http://www.w3.org/2000/svg" width="37" height="16" viewBox="0 0 37 16" class="js-svg replaced-svg"><path d="M19.075 15.43c-.35.366-.926.414-1.334.097L.76 2.08C.326 1.743.248 1.115.587.68.926.242 1.553.163 1.99.502L18.35 13.46 34.864.617c.436-.34 1.064-.26 1.403.175.34.436.26 1.065-.175 1.404L19.075 15.43z" fill="#909090" fill-rule="evenodd"></path></svg>
            </span>
          </div>
      </div>
    </section> 

    <section id="scroll-link" class="white-section">
      <div class="container mb72">
          <div class="col-sm-12 text-center margins">
            <h1 class="mt56 royalblue">BODY was founded with a rebellious spirit</h1>
            <h4>We were tired of choosing between overpriced studios and home fitness solutions that bored us half to death - ultimately failing to produce results.<br><br>We believe that home fitness ought to be social, fun, and most importantly, drive results. We're on a mission to offer you the world’s most effective and convenient home fitness training that's aligned with your values.</h4>
          </div>        
      </div>
    </section>  

    <section class="white-section">
      <div class="container mb72">
          <div class="col-sm-7">
            <h1 class="royalblue">Building a better fitness experience</h1>
            <h4>BODY’s team of world-class engineers, designers, and fitness experts have banded together to tackle the fitness industry's toughest problems. We’re reinventing how to deliver personal training, motivate clients, control costs, and provide long-term results.</h4>
          </div>        
          <div class="col-sm-5 text-center">
            <img src="assets/images/ourteam.png">
          </div>
      </div>
    </section>

    <section class="lightblue-section">
      <div class="container">
        <div class="col-sm-12 text-center">
          <h1>Come workout with us</h1>
          <h4 class="margins">We invite you to try us out in an Introductory session, designed to introduce you to the BODY program and have some fun – all while getting fitter. The purpose of this session is to help us serve you better by getting to know your goals and expectations, fitness level, and experience.</h4>
        </div>
        <div class="col-sm-12 text-center mt32 hidden-xs">
          <a href="#" ng-click="loginOauth('facebook')" class="btn-white" style="padding: 20px 50px;"><span style="font-size: 20px;">Get started</span></a>     
        </div>
        <div class="col-sm-12 text-center mt32 mb56 visible-xs">
          <a href="#" ng-click="loginOauth('facebook')" class="btn-white">Get started</a>
        </div> 
      </div>
    </section>

<div ng-include="'components/footer/footer.html'"></div>