.divider-side {
  top: 0;
  width: 1px;
	background: #efefef;
	bottom: 0;
	display: inline-block;
	position: absolute;
	right: 0; 
}
.join-btn.btn {
	background: #224893 !important;
	font-size: 24px !important;
	padding: 10px 70px;
}
.join-btn.btn-white {
	font-size: 24px !important;
	padding: 10px 70px;
}
.securepayment {
	display: block;
}
.securepayment span {
	font-size: 12px;
	vertical-align: middle;
}
.securepayment a img {
	width: 20px;
	height: 20px;
}
.learnmore {
	font-size: 12px;
	line-height: 18px;
	font-style: italic;
	position: relative;
	top: -60px;
	color: #909090;
}
.learnmore:hover {
	color: #0dc145;
}
.half-way-down {
	margin-top: 12%;
	margin-bottom: 5%;
}
.lightgray-section {
	background: #D3D3D3;
	padding: 30px 0;
}
.cancel-modal-membership {
    text-align: center;
    /*background: #BDBDBD;*/
    /*color: #fff !important;*/
    position: relative;
    /*padding: 0 5px;*/
    /*width: 22px;*/
    /*height: 22px;*/
    float: right;
    top: 5px;
    right: 5px;
    font-size: 20px;
    line-height: 20px;
    border-radius: 8px;
    border-radius: 50%;
    z-index: 100;
}
.cancel-modal-membership:hover {
  opacity: 0.8;
  /*cursor: pointer;*/

}