.divider-side {
  	top: 0;
  	width: 1px;
	background: #efefef;
	bottom: 0;
	display: inline-block;
	position: absolute;
	right: 0; 
}
.join-btn.btn {
	background: #224893 !important;
	font-size: 24px !important;
	padding: 10px 70px;
}
.join-btn.btn-white {
	font-size: 24px !important;
	padding: 10px 70px;
}
.needmore {
	font-size: 14px;
	line-height: 18px;
	font-style: italic;
}
.half-way-down {
	margin-top: 20%;
	margin-bottom: 10%;
}
.lightgray-section {
	background: #D3D3D3;
	padding: 30px 0;
}