<meta name="fragment" content="!">
  <section style = "padding-top: 0px;">
    <div class="membershipModal">
      <div ng-click = "closeModal()">
        <a class="cancel-modal-membership" href="#">
          <img ng-src = "../assets/images/icons/x_button.png"></img>
        </a>
      </div>
      
      <div class="container">
        <div class="row half-way-down">
          <!-- <div class="visible-sm col-sm-12 pt72"></div> -->
          <!--<div class="col-sm-6 col-md-7 text-center">
             <div class="visible-lg visible-md pt72"></div>
            <h1 class="darkblue">Just 30 bucks per month</h1>
            <h5 class="margins">No contracts. Cancel anytime.</h5>
            <h4 class="margins">A simple membership with unlimited classes every month. Join the pilot and lock in $30/mo for as long as you remain a member.</h4>

             <div style = "font-size: 12px;">
              <div ng-hide = "enterCoupon" class="darkgray mb8">Have a referral code or coupon? <a href="#" ng-click="enterCoupon = true">Click here</a></div>
              <div ng-show = "enterCoupon" class="darkgray mb8">Nevermind, no coupon <a href="#" ng-click="enterCoupon = false">Click here</a></div>
            </div>
            <div class = "text-centered" ng-show = "enterCoupon">
              <div style = "color: red" ng-if = "invalidCouponEntered">Invalid Code Entered</div>
              <div style = "color: red" ng-if = "userEnteredOwnCoupon">You can't use you're own code!</div>
              <input placeholder = "Enter code here" ng-model = "couponEntered" my-enter = "joinClicked(couponEntered)"></input>
            </div>
            <a class="join-btn btn mt4 mb8" ng-click = "joinClicked(couponEntered)" href="#">Join</a>
            <div class="securepayment">
              <span class="gray">Secured SSL Payment&nbsp;</span>
              <a class = "mb16" href='https://www.ssllabs.com/ssltest/analyze.html?d=getbodyapp.com&hideResults=on&latest' target='_blank' rel='nofollow'>
                <img src='https://www.expeditedssl.com/assets/lock-logo-70px-8fcd38ddb815b36d2cfdfdb9f67d60cf.png' alt='Expedited SSL Scanner'>
              </a>
            </div> -->
  <!--           <div class="hidden-sm hidden-xs arrow mt32" ng-click="scrollDown()" style="bottom: 0px;">
              <span>
                <svg xmlns="http://www.w3.org/2000/svg" width="37" height="16" viewBox="0 0 37 16" class="js-svg replaced-svg"><path d="M19.075 15.43c-.35.366-.926.414-1.334.097L.76 2.08C.326 1.743.248 1.115.587.68.926.242 1.553.163 1.99.502L18.35 13.46 34.864.617c.436-.34 1.064-.26 1.403.175.34.436.26 1.065-.175 1.404L19.075 15.43z" fill="#909090" fill-rule="evenodd"></path></svg>
              </span>
            </div> -->          
          <!-- </div> -->

          <div class="visible-xs pt72"></div>
          <div ng-class = "{'col-sm-2': slot, 'col-sm-4': !slot}"></div>
          <div class="col-sm-6 col-md-4 col-membership" ng-show = "planInfo.amount">
            <div class="stripeBlue"></div>
            <div class="membershipFeatures">
              <h3 class="royalblue pt32 mb8 text-center bold">Membership</h3>
              <div class="text-center" style="margin-bottom: 14px;">
                <div style="width: 40%; display: inline-block;">
                  <h1 class="pricingAmt royalblue"><sup>$</sup></h1><h1 class="pricingAmt royalblue">{{planInfo.amount/100}}</h1>
                  <span class="pricingTime royalblue">/mo</span>
                  <span class="pricingType royalblue">Unlimited classes</span>
                </div>
                <!-- <div style="width: 40%; display: inline-block;">
                  <h1 class="pricingAmt strikeout lightgray"><sup>$</sup></h1><h1 class="pricingAmt strikeout lightgray">70</h1>
                  <span class="pricingTime lightgray">/mo</span>
                  <span class="pricingType lightgray">Regular pricing</span>
                </div>             -->
              </div>
              <div class="bulletFeatures">
                <hr>
                <ul class="bulletChecks">
                  <li><img class="checkMarks" src="assets/images/icons/check-blue.png"><span>Introductory session</span></li>
                  <li><img class="checkMarks" src="assets/images/icons/check-blue.png"><span>No contracts, cancel anytime</span></li>
                  <li><img class="checkMarks" src="assets/images/icons/check-blue.png"><span>Classes with friends</span></li>
                  <li><img class="checkMarks" src="assets/images/icons/check-blue.png"><span>Unlimited classes per month</span></li>
                  <!-- <li><img class="checkMarks" src="assets/images/icons/check-blue.png"><span>$50 starter kit of equipment</span></li> -->
                  <li><img class="checkMarks" src="assets/images/icons/check-blue.png"><span>Progression tracking</span></li>
                  <li><img class="checkMarks" src="assets/images/icons/check-blue.png"><span>Wellness hotline</span></li>
                </ul>
                <!-- <hr> -->
                <!-- </div> -->
                <div class="text-center" style = "font-size: 12px;">
                  <div ng-hide = "enterCoupon" class="darkgray mb8">Have a referral code or coupon? <a href="#" ng-click="enterCoupon = true">Click here</a></div>
                  <div ng-show = "enterCoupon" class="darkgray mb8">Nevermind, no coupon <a href="#" ng-click="enterCoupon = false">Click here</a></div>
                
                  <div class = "text-centered" ng-show = "enterCoupon">
                    <div style = "color: red" ng-if = "invalidCouponEntered">Invalid Code Entered</div>
                    <div style = "color: red" ng-if = "userEnteredOwnCoupon">You can't use you're own code!</div>
                    <input placeholder = "Enter code here" ng-model = "couponEntered" my-enter = "joinClicked(couponEntered)"></input>
                  </div>
                  <a class="join-btn btn mt4 mb8" ng-click = "joinClicked(couponEntered)" href="#" style = "color: white;">Join</a>
                  <div class="securepayment">
                    <span class="gray">Secured SSL Payment&nbsp;</span>
                    <a class = "mb16" href='https://www.ssllabs.com/ssltest/analyze.html?d=getbodyapp.com&hideResults=on&latest' target='_blank' rel='nofollow'>
                      <img src='https://www.expeditedssl.com/assets/lock-logo-70px-8fcd38ddb815b36d2cfdfdb9f67d60cf.png' alt='Expedited SSL Scanner'>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="visible-xs pt72"></div> -->
           <!-- <div class="col-sm-6 col-md-4" ng-hide = "true"> -->
           <div class="col-sm-6 col-md-4" ng-hide = "!slot || !dropinRate">
            <div class="stripeBlue"></div>
            <div class="membershipFeatures">
              <h3 class="royalblue pt32 mb8 text-center bold">Drop in</h3>
              <div class="text-center" style="margin-bottom: 14px;">
                <h2 class="pricingAmt royalblue"><sup>$</sup></h2><h2 class="pricingAmt royalblue">{{dropinRate/100}}</h2>
                <span class="pricingTime royalblue">/ class</span>
                <span class="pricingType royalblue">Join any class</span>
              </div>
              
              <div class="bulletFeatures">
                <hr>
                <ul class="bulletChecks">
                  <li><img class="checkMarks" src="assets/images/icons/check-blue.png"><span>Drop-in Class</span></li>
                  <li><img class="checkMarks" src="assets/images/icons/check-blue.png"><span>No contract</span></li>
                  <li><img class="checkMarks" src="assets/images/icons/check-blue.png"><span>Classes with friends</span></li>
                  <li><img class="checkMarks" src="assets/images/icons/check-gray.png"><span class="lightgray">Unlimited classes per month</span></li>                  
                  <li><img class="checkMarks" src="assets/images/icons/check-gray.png"><span class="lightgray">Progression tracking</span></li>
                  <li><img class="checkMarks" src="assets/images/icons/check-gray.png"><span class="lightgray">Wellness hotline</span></li>
                </ul>
                <div class="text-center" style = "font-size: 12px;">
                  <div class="darkgray mb8">Pay for a single class</div>
                  <a class="join-btn btn mt4 mb8" ng-click = "payClicked()" href="#" style = "color: white;">Pay</a>
                  <div class="securepayment">
                    <span class="gray">Secured SSL Payment&nbsp;</span>
                    <a class = "mb16" href='https://www.ssllabs.com/ssltest/analyze.html?d=getbodyapp.com&hideResults=on&latest' target='_blank' rel='nofollow'>
                      <img src='https://www.expeditedssl.com/assets/lock-logo-70px-8fcd38ddb815b36d2cfdfdb9f67d60cf.png' alt='Expedited SSL Scanner'>
                    </a>
                  </div>
                </div>
              </div> 
            </div>
          </div>
          <div class="col-sm-6 col-md-4" ng-hide = "!slot || !specialtyRate">
            <div class="stripeBlue"></div>
            <div class="membershipFeatures">
              <h3 class="royalblue pt32 mb8 text-center bold">Specialty Class</h3>
              <div class="text-center" style="margin-bottom: 14px;">
                <h2 class="pricingAmt royalblue"><sup>$</sup></h2><h2 class="pricingAmt royalblue">{{specialtyRate/100}}</h2>
                <!-- <span class="pricingTime royalblue">/ class</span> -->
                <span class="pricingType royalblue">To join this {{classInfo.name}}</span>
              </div>
              
              <div class="bulletFeatures">
                <!-- <hr>
                <ul class="bulletChecks">
                  <li><img class="checkMarks" src="assets/images/icons/check-blue.png"><span>Drop-in Class</span></li>
                  <li><img class="checkMarks" src="assets/images/icons/check-blue.png"><span>No contract</span></li>
                  <li><img class="checkMarks" src="assets/images/icons/check-blue.png"><span>Classes with friends</span></li>
                  <li><img class="checkMarks" src="assets/images/icons/check-gray.png"><span class="lightgray">Unlimited classes per month</span></li>                  
                  <li><img class="checkMarks" src="assets/images/icons/check-gray.png"><span class="lightgray">Progression tracking</span></li>
                  <li><img class="checkMarks" src="assets/images/icons/check-gray.png"><span class="lightgray">Wellness hotline</span></li>
                </ul> -->
                <div class="text-center" style = "font-size: 12px;">
                  <div class="darkgray mb8">Pay for a single class</div>
                  <a class="join-btn btn mt4 mb8" ng-click = "paySpecialtyClicked()" href="#" style = "color: white;">Pay</a>
                  <div class="securepayment">
                    <span class="gray">Secured SSL Payment&nbsp;</span>
                    <a class = "mb16" href='https://www.ssllabs.com/ssltest/analyze.html?d=getbodyapp.com&hideResults=on&latest' target='_blank' rel='nofollow'>
                      <img src='https://www.expeditedssl.com/assets/lock-logo-70px-8fcd38ddb815b36d2cfdfdb9f67d60cf.png' alt='Expedited SSL Scanner'>
                    </a>
                  </div>
                </div>
              </div> 
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- <section class="white-section scroll-to" id = "scroll-link1">
    <div class="container mt72">
        <div class="col-sm-7">
          <h1 class="darkblue">We send you everything you need</h1>
          <h4 class="mb72">As part of your membership, you’ll receive a kit with a full set of resistance bands and a foam roller. As you level up in our program, we’ll send you additional equipment kits.</h4>
        </div>        
        <div class="col-sm-5 text-center">
          <img class="mt16" src="assets/images/icons/box-icon.png">
        </div>        
    </div>
  </section> 

  <section id="scroll-link2" class="white-section">
    <div class="container mt72">
        <div class="col-sm-7 col-sm-push-5">
          <h1 class="darkblue">Unlimited classes monthly</h1>
          <h4>It’s a fact that group training increases results, burning more calories and improving heart health.<sup>2,3</sup> Start seeing serious results by taking just three classes per week.</h4>
        </div>
        <div class="col-sm-5 col-sm-pull-7 text-center">
          <span style="font-size: 22px; font-style: italic; color: #8D8D8D;">Programming impact on fat loss<sup>1</sup></span>
          <img class="mt16" src="assets/images/icons/fat-loss-graph.jpg">
        </div>    
    </div>
  </section>

  <section class="white-section">
    <div class="container mb72">
      <div class="col-sm-12 text-center">
        <h1 class="darkblue mb72">Sticking with your routine is now easy</h1>
      </div>

      <div class="col-sm-offset-1 col-sm-5 text-center">
        <div class="divider-side"></div>
        <img src="assets/images/icons/contact-us2.png">
        <h4 class="mt16 mini-header">Consult a coach anytime</h4>
        <p class="margins">Questions about an injury? Meal choice? No problem. Contact us anytime.</p>
      </div>

      <div class="col-sm-5 text-center">
        <img src="assets/images/icons/anywhere.png">
        <h4 class="mt16 mini-header">Workout from anywhere</h4>
        <p>All you need is a laptop and an internet connection.</p>      
      </div>      

    </div>
  </section>  -->   

  <!-- <section class="lightblue-section">
    <div class="container">
      <div class="col-sm-12 text-center">
        <h1>Join our pilot for just 30 bucks a month</h1>
        <h4 class="mb72 margins">Join us at the very beginning and help shape the future of home fitness.<br>Lock in $30/mo for as long as you're a member.</h4>
        <p style = "font-size: 12px" ng-hide = "enterCoupon" class="darkgray">Have a referral code or coupon? <a href="#" ng-click="enterCoupon = true">Click here</a></p>
        <p style = "font-size: 12px" ng-show = "enterCoupon" class="darkgray">Nevermind, no coupon <a href="#" ng-click="enterCoupon = false">Click here</a></p>
        <div class = "mb4" ng-show = "enterCoupon">
          <div style = "color: red" ng-if = "invalidCouponEntered">Invalid Code Entered</div>
          <input placeholder = "Enter code here" ng-model = "couponEntered" my-enter = "joinClicked(couponEntered)"></input>
        </div>
        <a class="join-btn btn-white" ng-click = "joinClicked(couponEntered)" href="#">Join</a>
      </div> 
    </div>
  </section> -->

  <!-- <section class="lightgray-section">
    <div class="container">
      <div class="col-sm-12">
        <span class="royalblue">
          <strong>Page Sources</strong><br>
          1. Boutcher S. High-Intensity Intermittent Exercise and Fat Loss. Journal of Obesity. 2011; 2011: 868305.<br>
          2. Tremblay A. Impact of exercise intensity on body fatness and skeletal muscle metabolism. Metabolism. 1994; 43(7): 814–818.<br>
          3. Gottschall, J. Group fitness is effective in reducing cardiovascular disease risk factors in healthy adults. Open Journal of Preventative Medicine. 2013; 3(1): 132-140.          
        </span>
      </div> 
    </div>
  </section>    