<div ng-include="'components/navbar/navbar.html'"></div>

<div class = "container">
  <div class="page-header text-center">       
    <h1>Schedule Class</h1>        
  </div>

  <div class="row times">
    <div class = "col-xs-4 col-md-5 col-lg-5" ></div>
    <input type="checkbox" name="availableClasses" value="availableClasses" ng-model = "availableClasses" checked> Only show available classes<br>
    <div class = "col-xs-1 col-md-2 col-lg-2" ></div>
    <div class="col-xs-3 col-md-3 col-lg-1 text-center columnStyle" ng-repeat="day in days">        
      <h3 ng-show="day.isToday">Today</h3>
      <h3 ng-hide="day.isToday">{{ day.name }}</h3>
      <h4>{{ day.formattedDate }}</h4>
      
      <div class="time-slot" ng-repeat="slot in day.slots">     

        <input type="checkbox" id="{{ day.name }}-{{ $index }}" ng-model="slot.bookedUsers[currentUser._id]" ng-disabled=" slot.bookedUsers[currentUser._id] || slot.classFull || slot.past">
        <!-- <input type="checkbox" id="{{ day.name }}-{{ $index }} classFull" ng-model="slot.classFull" ng-disabled="slot.classFull"> -->

        <label ng-hide = "availableClasses && (slot.past || slot.classFull)" for="{{ day.name }}-{{ $index }}">{{ slot.time }}<br>
          <span ng-if="slot.bookedUsers[currentUser._id] && !slot.past">Booked</span>
          <span ng-if="slot.classFull && !slot.bookedUsers[currentUser._id] && !slot.past">Class Full</span>
          <span ng-if="slot.past && !slot.bookedUsers[currentUser._id]">Class Over</span>
          <span ng-if="!slot.bookedUsers[currentUser._id] && !slot.classFull && !slot.past">Available</span>
          <br>
          <div id="trainerName">Level One</div>
          <div id="trainerName">{{slot.trainer}}</div>
        </label>

      </div>
    </div>       
      
  </div>
</div>

<!-- <p class="text-center">    
    <a href="#" class="btn btn-primary" ng-click="reset()">Reset</a>
  </p> -->