.dash-workoutModules li {
  float: left;
  width: 50%;
  padding: 0 20px 20px 0;
}
.dash-workoutModules li p {
  float: left;
  margin-bottom: 0px;
}
.sideDivider {
  border-right: 1px solid #DBDBDB;
}
.date-col, .class-col, .instr-col, .action-col {
  padding: 0 10px 0 0;
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  overflow: hidden;
}
.date-col {
  width: 35%;
}
.class-col {
  width: 15%;
}
.instr-col {
  width: 20%;
}
.action-col {
  width: 25%;
}
.reservation-listing h5, .reservation-listing span {
  font-size: 14px;
  margin-bottom: 0px;
}
.reservation-listing hr {
 margin: 0 0 8px 0;
}
.reservation-listing .btn {
  font-size: 12px;
  width: 15%;
  padding: 8px 10px;
  line-height: 12px;
  min-width: 90px;
  border-radius: 5px;
  margin-right: 3px;
}
.reservation-listing .starting {
  background: #46AFFF;
}
.reservation-listing .starting:hover {
  background: rgba(70, 175, 255, 0.8);
}
.cancel-btn {
  text-align: center;
  /*background: #E8E8E8;*/
  color: #fff !important;
  padding: 1 4px;
  font-size: 10px;
  line-height: 12px;
  border-radius: 8px;
}
.cancel-btn:hover {
  background: #D2D2D2;
}
.scroller {
  background: #E4E4E4;
  padding: 10px 100px;
  color: #0D1C45;
  width: 100%;
}
.scroller:hover {
  color: #224893;
}


/*CALENDAR FORMATTING*/
.week-selector {
  position: absolute;
  top: 10px;
}
.col-day {
  width: 14.28%;
  float: left;
}
.day-and-date {
  background: #224893;
  padding: 15px 0;
}
.day {
  color: #A2B2E3;
  font-size: 14px;
  margin-bottom: 5px;
  display: block;
}
.date {
  color: #fff;
  font-size: 14px;
  margin-bottom: 0px;
  display: block;
}
.workout-and-module {
  background: #D3D3D3;
  padding: 8px 0;
  border-left: 1px solid #DFE0DF;
  border-right: 1px solid #DFE0DF;
}
.wod-title {
  color: #224893;
  font-size: 14px;
  margin-bottom: 0px;
  display: block;
}
.wod-module {
  font-size: 12px;
  color: #0D1C45;
  margin-bottom: 0px;
  display: block;
}
.sched-class {
  border: 1px solid #DFE0DF;
  padding: 15px 10px;
}
.class-time, .class-instr {
  color: #0D1C45;
  font-size: 15px;
  display: block;
}
.class-instr {
  margin-top: 5px;
}
.class-type {
  display: inline-block;
  font-size: 15px;
}
.class-booking {
  display: inline-block;
  float: right;
}
div.intro {
  color: #4DC56B;
  /*font-weight: 600;*/
}
div.lvl1 {
  color: #224893;
}
div.open {
  color: #FF6700;
}
div.lvl2 {
  color: #FF6700;
}
div.lvl3 {
  color: #C82428;
}
.introBtn {
  background-color: #4DC56B;
  /*color: black;*/
}
.lvl1Btn {
  background-color: #224893;
}
.openBtn {
  background-color: #FF6700;
}
.lvl2Btn {
  background-color: #FF6700;
}
.lvl3Btn {
  background-color: #C82428;
}
a.reserve.btn {
  font-size: 10px;
  line-height: 10px;
  border-radius: 3px;
  padding: 5px 10px;
  min-width: 0;
}
a.booked.btn {
  font-size: 10px;
  line-height: 10px;
  background-color: #C0C0C0;
  border-radius: 3px;
  padding: 5px 10px;
  min-width: 0;
}

a.full.btn {
  font-size: 10px;
  line-height: 10px;
  background-color: #C0C0C0;
  border-radius: 3px;
  padding: 5px 10px;
  min-width: 0;
  opacity: 1 !important;
}
.my-friends {
  display: block;
}
.my-friends .qty {
  display: block;
  color: #C0C0C0;
  font-size: 10px;
  line-height: 10px;
  vertical-align: middle;
  margin-bottom: 8px;
}
.my-friends .empty {
  display: inline-block;
  width: 25px;
  height: 25px;
  border-radius: 12.5px;
  border: 1px dashed #BDBDBD;
  vertical-align: middle;
}
.my-friends .profile {
  display: inline-block;
  width: 25px;
  height: 25px;
  border-radius: 12.5px;
  vertical-align: middle;
  margin-right: 5px !important;
}
.my-friends .transparent {
  opacity: 0.0;
}
.unavailable div, .unavailable span {
  opacity: 0.1;
}

.modal.modal-wide .modal-dialog {
  width: 90%;
  max-height: 90%;
  overflow-y: auto;
}







/* checkbox - each time slot */
.time-slot               { 
  padding:0px 0px 0px 0px;
 }

/* hide the checkbox itself - the label will be styled */
.time-slot input     { 
  display:none; 
}

.columnStyle {
  padding-right: 0px;
}

label.showAvailableClassesLabel {
  margin-bottom: 20px;
}

h4.dateTitles {
  line-height: 10px;
  margin-left:10px;
}

h5.dateTitles {
  line-height: 0px;
  margin-left:10px;
}

/* default styling for our labels */
.time-slot label     {
  padding:5px; 
  width: 70px;
  height: 70px;
  font-size: 11px;
  color:#FFF; 
  cursor:pointer; 
  background:#EEE; 
  border-radius:5px; 
  transition:0.3s ease all;
  line-height: 15px;
}

#trainerName {
  font-size: 10px;
  /*word-wrap: break-word;*/
  /*white-space: none*/
  /*margin: 2px;*/
  line-height: 15px;
  /*padding: 2px;*/
}

#scheduleColumn {
  margin-left: 5px;
  margin-right: 5px;
}

/* if the label is booked */
.time-slot input:checked ~ label { 
  background:#0D1C45; 
  cursor:not-allowed;
  animation:flashBooked 1.0s ease; 
}

/* if the label is available */
.time-slot input:not(:checked) ~ label { 
  background:#8C98B9; 
  animation:flashAvailable 1.0s ease; 
}

/* if the label is past or full */
.time-slot input:disabled:not(:checked) ~ label { 
  background:#C8D1E5; 
  cursor:not-allowed;
  animation:flashUnavailable 1.0s ease; 
}

/* animation for the time slot for available */
@keyframes flashAvailable {
  0%    { background:#8C98B9; transform:scale(1); }
  50%   { background:#0D1C45; transform:scale(1.25); }
  100%  { background:#8C98B9; transform:scale(1); }
}

/* animation for the time slot for booked */
@keyframes flashBooked {
  0%    { background:#8C98B9; transform:scale(1); }
  50%   { background:#5E6E99; transform:scale(1.25); }
  100%  { background:#0D1C45; transform:scale(1); }
}

/* animation for the time slot for past or full */
@keyframes flashUnavailable {
  0%    { background:#8C98B9; transform:scale(1); }
  50%   { background:#5E6E99; transform:scale(1.25); }
  100%  { background:#C8D1E5; transform:scale(1); }
}

.loginModal .modal-dialog {
  position: fixed;
  top: 20%;
  left: 30%;
  width: 40%;
}

.wod-description {
  font-size: 14px;
  line-height: 20px;
}
.daily-skill {
  font-size: 18px;
}

@media all and (max-width: 1110px) {
  .class-type {
    display: block;
  }
  .class-booking {
    display: block;
    float: none;
  }
}

@media all and (max-width: 767px) {
  .sideDivider {
    border-right: 0px;
  }
  #reservation-section {
    margin-bottom: 50px;
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  #reservation-section h1 {
    text-align: center;
  }
  #reservation-section span {
    font-size: 11px;
    line-height: 11px;
    padding-bottom: 0px;
  }
  #reservation-section .btn {
    padding: 2px;
    min-width: 60px;
    font-size: 10px;
    margin-right: 0px;
  }    
  #reservation-section .cancel-btn {
    text-align: center;
    background: #E8E8E8;
    color: #fff !important;
    padding: 0px 3px;
    font-size: 8px;
    line-height: 8px;
    border-radius: 50%;
  }
  .date-col, .class-col, .instr-col, .action-col {
    padding: 0 10px 0 0;
    display: inline-block;
    vertical-align: top;
    white-space: normal;
  }
  .date-col {
    width: 30%;
  }
  .class-col {
    width: 15%;
  }
  .instr-col {
    width: 20%;
  }
  .action-col {
    width: 25%;
  }
  #tour-workout h4, h1, p, span {
    text-align: center;
  }
  #tour-workout h4 {
    font-size: 24px;
  }
  .theChallenge {
    font-size: 16px;
  }

  /*MOBILE CALENDAR*/
  .col-day {
    width: 100%;
  }
  .class-time {
    font-size: 20px;
    font-weight: 500;
    display: inline-block;
    padding-right: 10px;
  }
  .week-selector {
    position: relative;
    top: 0px;
  }
  .class-type, .class-booking {
    display: inline-block;
    float: none;
    vertical-align: top;
  }
  .sched-class {
    padding: 15px 10px;
    height: 120px;    
  }
  .my-friends .qty {
    width: 100%;
    font-size: 10px;
    line-height: 18px;
    vertical-align: top;
  }
}
