.dashboard-list-view {
  margin-bottom: 4%;
}

.dashboard-list-view h1 {
  font-size: 30px;
  margin-bottom: 10px;
}

/*-----Today's workout sidebar-------*/

.workout-column, .reservations {
  padding: 5px 0 20px 20px;
  background: #F7F7F7;
}
.workout-column h3 {
  font-size: 20px;
  color: #0D1C45;
  font-style: italic;
  font-weight: 800;
  margin-bottom: 5px;
}

.workout-column p {
  font-size: 14px;
}

/*-----Reserved Classes-------*/

#reserved-classes p {
  margin-bottom: 5px;
}

#reserved-classes .btn,.table .btn {
  border-radius: 5px;
  margin-right: 16px;
  min-width: 100px !important;
  padding: 0 10px !important;
  font-size: 11px;
  font-weight: 600;
  height: 25px;
  line-height: 23px;
}
#reserved-classes .btn:hover {
  background: #0D1C45;
  border: 2px solid #0D1C45;    
}
.class-type {
  font-weight: 800;
}
#reserved-classes .time {
 font-weight: 800;
 font-style: italic; 
}
/*-----Reserved Classes (INTRO CLASS)-------*/

.introduction-class {
  background: #00D25A;
  border: 2px solid #00D25A;
}
.introduction-class:hover {
  background: #00B84E !important;
  border: 2px solid #00B84E !important;
}
.introduction-class.invite-friends {
  border: 2px solid #00D25A;
  color: #00D25A;
  background: #fff;
}
.introduction-class.invite-friends:hover {
  border: 2px solid #00D25A !important;
  background: #00D25A !important;
  color: #fff !important;  
}

/*-----Reserved Classes (LVL 1 CLASS)-------*/

.lvl1-class {
  background: #4CAEFF;
  border: 2px solid #4CAEFF;
}
.lvl1-class:hover {
  background: #1F8DE8 !important;
  border: 2px solid #1F8DE8 !important;
}
.lvl1-class.invite-friends {
  border: 2px solid #4CAEFF;
  color: #4CAEFF;
  background: #fff;
}
.lvl1-class.invite-friends:hover {
  border: 2px solid #4CAEFF !important;
  background: #4CAEFF !important;
  color: #fff !important;
}

/*-----Reserved Classes (LVL 2 CLASS)-------*/

.lvl2-class {
  background: #FDC800;
  border: 2px solid #FDC800;
}
.lvl2-class:hover {
  background: #DEB000 !important;
  border: 2px solid #DEB000 !important;
}
.lvl2-class.invite-friends {
  border: 2px solid #FDC800;
  color: #FDC800;
  background: #fff;
}
.lvl2-class.invite-friends:hover {
  border: 2px solid #FDC800 !important;
  background: #FDC800 !important;
  color: #fff !important;
}

/*-----Reserved Classes (LVL 3 CLASS)-------*/

.lvl3-class {
  background: #8233F0;
  border: 2px solid #8233F0;
}
.lvl3-class:hover {
  background: #6628BD !important;
  border: 2px solid #6628BD !important;
}
.lvl3-class.invite-friends {
  border: 2px solid #8233F0;
  color: #8233F0;
  background: #fff;
}
.lvl3-class.invite-friends:hover {
  border: 2px solid #8233F0 !important;
  background: #8233F0 !important;
  color: #fff !important;
}

/*-----Schedule Key-------*/

.class-key {
  padding: 10px 0px;
}
.class-key span {
  font-size: 14px;
}
.title {
  color: #0D1C45;
  font-weight: 800;
}
.swatch {
  display: inline-block;
  width: 25px;
  height: 25px;
  border-radius: 5px;
  vertical-align: middle;
  margin: 0 5px;
}
.swatch.intro {
  background: #00D25A;
}
.swatch.lvl1 {
  background: #4CAEFF;
}
.swatch.lvl2 {
  background: #FDC800;
}
.swatch.lvl3 {
  background: #8233F0;
}


/*-----Schedule List-------*/

.schedule-list h1 {
  margin-top: 20px;
  margin-bottom: 0px;
  line-height: 25px;
}
.current-week {
  color: #0D1C45;
  font-size: 14px;
  font-style: italic;
}
.week-select {
  float: right;
}
.week-select a {
  padding-right: 5px;
  color: #616161;
}
.week-select a:hover {
  color: #0D1C45;
}

.class-table {
  display: block;
  margin-top: 10px;
  height: 450px;
  overflow-y: auto;
}

.table-header {
  background: #fff !important;
  border-top: 2.5px solid #0D1C45;
  border-bottom: 2.5px solid #0D1C45;
}

.table th {
  font-size: 16px;
  font-weight: 800;
  padding: 5px !important;
  overflow: hidden;
  color: #0D1C45;
}

.table tr {
  height: 25px;
}

.table td {
  font-size: 13px;
  padding: 5px !important;
}

.table tr:nth-child(even) {background: #fff}
.table tr:nth-child(odd) {background: #F0F0F0}

@media screen and (max-width: 767px) {
  .table {
    width: auto !important;
  }
  .table col {
    width: auto !important;
  }
}
