/*------GENERAL-------*/

.on-dark a {
  color: #fff;
}
.on-dark a:hover {
  color: #5978D0;
}
.on-dark ul li a {
  color: #fff;
  font-weight: 300;
  font-size: 16px;
}
.on-dark h5 {
  color: #5978D0;
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 10px;
}
.on-dark p {
  color: #fff;
}
.next-up-box {
	border: 2px solid #85888D;
	padding: 20px;
}
.progress-bar {
  height: 30px;
  border: 2px solid #85888D;
  border-radius: 10px;
  width: 100%;
  margin-bottom: 10px;
}

/*------NAVIGATION-------*/

/*------FOOTER-------*/

.footer-nav-container {
  margin: 0 60px;
  padding: 20px 0;
}
.footer-copyright-container {
  padding: 5px 0;
}
.footer-nav {
  background: #0D1c45;
}
.footer-copyright {
  background: #1f1f1f;
}
.copyright-text {
  color: #fff;
  font-size: 11px;
  margin-bottom: 0px;
}
.copyright-text-social {
  font-size: 14px;
  margin-bottom: 0px;
}
.copyright-text a {
  color: #9c9c9c;
}
.btn-footer {
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  border: 1px solid #fff;
  padding: 6px 26px;
  height: auto;
  min-width: 150px;
  line-height: 36px;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1px;
  background: #0D1C45;
  border-radius: 0;
  color: #fff;
  text-align: center;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  margin-right: 8px;  
}
.btn-footer:hover {
  background: rgba(255, 255, 255, 0.25);
  border: 1px solid #fff;
  color: #fff !important;
}
.small {
  color: #d0d0d0 !important;
  font-size: 11px;
  line-height: 14px;
}
.light-font, .light-font h2 {
	color: white !important;
}


.your-classes {
	background: #f5f5f5;
	padding: 10px;
}

.reservations {
	padding-left: 15%;
}

.reservations-table {
	margin-bottom: 0px !important;
}

.class-info {
	padding: 4px 0 0 0;
}

.reserved-class {
	width: 130px;
	padding: 10px;
}