/*------CLASS STARTING-------*/
.startingText, .startingBtn {
  display: inline-block;
  vertical-align: top;
}
.startingText {
  padding-right: 20px;
}
.trainer-circle-image {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  border: 5px solid #CCCCCC;
  float: left;
  margin-right: 20px;
}
.trainerInfo {
  display: block;
  height: 180px;
  vertical-align: middle;
}
.teammateContent {
  display: inline-block;
  padding: 10px 10px;
}
.teammateContent span {
  font-size: 16px;
  line-height: 20px;
}
.allTeammates {
  display: block;
}
.waitTabs {
  border-bottom: 1px solid #0D1c45;
}
.waitTabs a {
  color: #0D1c45;
  background: white;
  border-top: 1px solid #0D1c45;
  border-right: 1px solid #0D1c45;
  border-left: 1px solid #0D1c45;
  width: auto;
  font-size: 14px;
  display: inline-block;
  padding: 5px;
  width: 30%;
  text-align: center;
}
.waitTabs a:hover {
  color: #fff;
  background: #224893;
  cursor: pointer;
}
.waitSection {
  height: 600px;
}
.waitTab1 {
  display: block;
  position: absolute;
}
.waitTab1 span {
  display: inline-block;
  font-size: 14px;
  line-height: 18px;
}
.waitTab1 a {
  font-size: 14px;
  line-height: 18px;
}
.cameraOverlay {
  position: absolute;
  top: 94px;
  width: 450px;
  height: 340px;
}
.user-circle-image {
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  border: 3px solid #CCCCCC;  
}
.funFacts {
  font-size: 12px;
  line-height: 16px;
}
.trainer-info h4 {
  font-weight: 400;
}

/*------PROFILE-------*/
.friendList li {
  padding: 10px 0px;
  border-top: 1px solid #DBDBDB;
}
.friendPhoto {
  display: inline-block;
  padding-right: 10px;
}
.friendPhoto img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.friendName {
  display: inline-block;
  font-size: 18px;
}
.inviteFriend {
  display: inline-block;
}
.friends-User-col {
  display: inline-block;
  width: 50%;
}
.friends-Action-col {
  display: inline-block;
  width: 35%;
}
@media all and (max-width: 767px) {
  .friendPhoto {
    display: block;
  }
}


/*------GENERAL-------*/
@media all and (max-width: 767px) {
  .container {
    padding: 0 20px;
  }
  .image-xxs {
    margin-bottom: 20px;
  }
}

.on-dark a {
  color: #fff;
}
.on-dark a:hover {
  color: #5978D0;
}
.on-dark ul li a {
  color: #fff;
  font-weight: 300;
  font-size: 16px;
}
.on-dark h5 {
  color: #5978D0;
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 10px;
}
.on-dark p {
  color: #fff;
}
.next-up-box {
  border: 2px solid #85888D;
  padding: 20px;
}
.progress-bar {
  height: 30px;
  border: 2px solid #85888D;
  border-radius: 10px;
  width: 100%;
  margin-bottom: 10px;
}
h1 {
  color: #0D1c45;
}
.light-header {
  color: #224893;
  margin: 50px 0px 10px 0px;
}
.hero-banner {
  margin-top: 4%;
  margin-bottom: 8%;
}
.big.btn {
  padding: 5px 30px;
  background: #224893;
  border: none;
}
.mini-header {
  font-weight: 600;
  color: #0D1c45;
}
.white-section {
  padding-top: 6%;
  padding-bottom: 6%;
}
.white-section-half {
  padding-top: 3%;
  padding-bottom: 3%;
}
.lightblue-section {
  padding: 8% 0;
  background: #22498E;
  color: #fff;
}
.lightblue-section h1 {
  color: #fff;
}
.lightblue-section h4 {
  font-weight: 400;
  color: #A2B2E3;
}
.lightblueSection2 {
  background: #22498E;
  color: #fff;
}
.banner {
  background: #224893;
  color: white;
  padding-left: 32px;
  padding-right: 32px;
}
.class-type {
  color: #A2B2E3;
  font-weight: 400;
}
.page-description {
  color: #fff;
  font-weight: 400;
}
.darkblue {
  color: #0D1c45;
}
.royalblue {
  color: #224893;
}
.purpleblue {
  color: #A2B2E3;
}
.gray {
  color: #525252;
}
.lightgray {
  color: #D3D3D3;
}
.white {
  color: #fff;
}

.user-list li {
  text-align: left;
  display: inline-block;
}
.av-audio {
  height: auto;
  width: 100px !important;
  padding: 0 10px;
  border-radius: 6px;
  margin-bottom: 0px;
}
.av-video {
  height: auto;
  width: 150px !important;
  padding: 0 10px;
  border-radius: 6px;
  margin-bottom: 0px;
}
.teammates-col {
  width: 100%;
  text-align: left;
  display: block;
}
.fullscreen-section {
  height: 100vh;
}

.arrow {
  bottom: -70px;
  box-sizing: border-box;
  position: absolute;
  right: 0;
  text-align: center;
  width: 100%;  
 }
.arrow span {
  cursor: pointer;
  display: inline-block;
  height: 15px;
  -webkit-transition: -webkit-transform 0.33s cubic-bezier(0.33, 0, 0.2, 1);
  transition: transform 0.33s cubic-bezier(0.33, 0, 0.2, 1);
  width: 35px;
}
.arrow span:hover {
  transform: translateY(-13px);
}
.arrow span:hover svg path {
  fill: #0d1c45;
}
.nav-profile-pic {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 5px;
}
.trainerImg {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

/*------MODALS-------*/
.modal-body {
  height: 360px;
}
.modal-body .darkblue {
  color: #0D1C45 !important;
}
.cancel-modal {
    text-align: center;
    background: #BDBDBD;
    color: #fff !important;
    position: relative;
    padding: 0 5px;
    width: 22px;
    height: 22px;
    float: right;
    top: -13px;
    left: 13px;
    font-size: 20px;
    line-height: 20px;
    border-radius: 8px;
    border-radius: 50%;
}
.cancel-modal:hover {
  opacity: 0.6;
}

/*------FOOTER-------*/

.footer-nav-container {
  margin: 0 60px;
  padding: 20px 0;
}
.footer-copyright-container {
  padding: 5px 0;
}
.footer-nav {
  background: #0D1c45;
}
.footer-copyright {
  background: #1f1f1f;
}
.copyright-text {
  color: #fff;
  font-size: 11px;
  margin-bottom: 0px;
}
.copyright-text-social {
  font-size: 14px;
  margin-bottom: 0px;
}
.copyright-text a {
  color: #9c9c9c;
}
.btn-footer {
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  border: 1px solid #fff;
  padding: 6px 26px;
  height: auto;
  min-width: 150px;
  line-height: 36px;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1px;
  background: #0D1C45;
  border-radius: 0;
  color: #fff;
  text-align: center;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  margin-right: 8px;  
}
.btn-footer:hover {
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid #fff;
  color: #fff !important;
}
.small {
  color: #d0d0d0 !important;
  font-size: 11px;
  line-height: 14px;
}
.light-font, .light-font h2 {
  color: white !important;
}
.your-classes {
  background: #f5f5f5;
  padding: 10px;
}

.reservations {
  padding-left: 15%;
}

.reservations-table {
  margin-bottom: 0px !important;
}

.class-info {
  padding: 4px 0 0 0;
}

.reserved-class {
  width: 130px;
  padding: 10px;
}
.big-btn {
  padding: 10px 80px !important;
}

.disclaimer {
  font-size: 12px;
  font-style: italic;
}

/*.fixedAtTop {
  position:fixed;
  top:0;
  width:100%;
  z-index:100;
}*/